table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: left;
  padding: 0px 8px;
  border: 1px solid #ddd;
}

th {
  text-align: left;
  padding: 12px;
  border: 1px solid #ddd;
}

// tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: rgb(13, 145, 72);
  color: white;
}

.remove-line ::ng-deep .mat-form-field-underline {
    display: none
}

.mw-100
{
  width: 80% !important;
}

// .price:focus{
//   background-color: lightgray;
// }