<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
          Pricing
      </nb-card-header>
      <nb-card-body style="overflow-x: hidden; overflow-y: hidden;">
    <div style="padding-left:4%" class="row">
      <div class="col-lg-4 col-md-4">
              <mat-form-field class="mw-100">
                <input matInput placeholder="Customer" [formControl]="customerCtrl" [matAutocomplete]="autoCustomer" >
                <mat-icon matSuffix *ngIf="toggleSupplier==true">how_to_reg</mat-icon>
                <mat-autocomplete #autoCustomer="matAutocomplete">
                  <mat-option *ngFor="let item of customer | async" [value]="item.name" (onSelectionChange)="selectCustomer(item,$event)">
                   <b *ngIf="item.customerOwnerId!=null"> {{item.name}} (Supplier)</b>
                   <a *ngIf="item.customerOwnerId==null"> {{item.name}}</a>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-3">
              <mat-form-field>
                <input matInput placeholder="Vehicle Group" [formControl]="vehicleGroupCtrl" [matAutocomplete]="autoVehicleGroup" >
                <mat-autocomplete #autoVehicleGroup="matAutocomplete">
                  <mat-option *ngFor="let item of vehicleGroup0 | async" [value]="item.name" (onSelectionChange)="selectVehicle(item,$event)">
                    {{item.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-3">
              <mat-form-field>
                <input matInput placeholder="City" [formControl]="cityCtrl" [matAutocomplete]="autoCity" >
                <mat-autocomplete #autoCity="matAutocomplete">
                  <mat-option *ngFor="let item of filteredOptions | async" [value]="item" (onSelectionChange)="selectCity(item,$event)">
                    {{item}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
     </div>
     <div class="col-lg-2 col-md-2">
      <button mat-raised-button color="primary" (click)="copyFrom()">Copy from customer</button>
     </div>
     </div>
  <div class="col-lg-12">
    <table style="width:100%;">
      <tr>
        <th>Duty Type</th>
        
        <th>Base Rate</th>
        
        <th>Extra KM</th>
      
        <th>Extra Hr</th>

      </tr>
      <tr *ngFor="let items of priceArray; index as i">
        <td>
        {{items.name}}
        </td>
        <td>
            <mat-form-field style=" margin-bottom: -10px" class="remove-line w-100"><input style="text-align:center;font-size: 18px;" [disabled]="!permission.managePricing" matInput type="text" [(ngModel)]="items.baseRate" (change)="change(items,i)" (keypress)="keyPress($event)"></mat-form-field>
        </td>
        <td>
           <mat-form-field style=" margin-bottom: -10px" class="remove-line w-100"><input style="text-align:center;font-size: 18px;" [disabled]="!permission.managePricing" matInput type="text" [(ngModel)]="items.extraKm" (change)="change(items,i)" (keypress)="keyPress($event)"></mat-form-field>
          </td>
        <td>
          <mat-form-field style=" margin-bottom: -10px" class="remove-line w-100"><input style="text-align:center;font-size: 18px;" [disabled]="!permission.managePricing" matInput type="text" [(ngModel)]="items.extraHrs" (change)="change(items,i)" (keypress)="keyPress($event)"></mat-form-field>
        </td>
      </tr>
    </table>
    </div>
    </nb-card-body>
    </nb-card>
  </div>
</div>