<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>NewDriver</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-lg-3 col-12">
            <mat-form-field>
              Name*
              <input matInput [(ngModel)]="driver.name">
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-12">
            <mat-form-field>
              Mobile Number
              <input matInput [(ngModel)]="driver.mobileNumber">
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-12">
            <mat-form-field>
              Alternate Number
              <input matInput [(ngModel)]="driver.alternateNumber">
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-12">
            <mat-form-field>
              Email
              <input matInput [(ngModel)]="driver.email">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-12">
            <mat-form-field>
              PAN Card Number
              <input matInput [(ngModel)]="driver.panCardNumber">
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-12">
            <mat-form-field>
              Aadhar Card Number
              <input matInput [(ngModel)]="driver.aadharCardNumber">
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-12">
            <mat-form-field class="w-100">
              Birth Date
              <input matInput [matDatepicker]="birthDate" readonly (click)="birthDate.open()" [(ngModel)]="driver.birthDate">  
              <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
              <mat-datepicker #birthDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-12">
            <mat-form-field class="w-100">
              Joining Date
              <input matInput [matDatepicker]="joiningDate" readonly (click)="joiningDate.open()" [(ngModel)]="driver.joiningDate">   
              <mat-datepicker-toggle matSuffix [for]="joiningDate"></mat-datepicker-toggle>
              <mat-datepicker #joiningDate></mat-datepicker>               
            </mat-form-field>
          </div>
        </div>
        <div class="row">          
          <div class="col-lg-3 col-12">
            <mat-form-field>
              Salary Per Month
              <input matInput [(ngModel)]="driver.salaryPerMonth">
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-12">
            <mat-form-field>
              Daily Wages
              <input matInput [(ngModel)]="driver.dailyWages">
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-12">
            <mat-form-field>
              Branches
              <input matInput  [formControl]="branchesCtrl" [matAutocomplete]="autobranch">
              <mat-autocomplete #autobranch="matAutocomplete">
                <mat-option *ngFor="let item of branch | async" [value]="item.name" (onSelectionChange)="setBranches(item,$event)">
                  {{ item.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>          
        </div>       
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
      <nb-card>
        <nb-card-header>Address</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-lg-6 col-12">
              <mat-form-field class="w-100">
                Permanent Address
                <textarea rows="4" matInput [(ngModel)]="driver.permanentAddress"></textarea>
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-12">
              <mat-form-field class="w-100">
                Current Address
                <textarea rows="4" *ngIf="sameAsPermanent" matInput [(ngModel)]="driver.currentAddress"></textarea>
                <textarea rows="4" *ngIf="!sameAsPermanent" matInput [(ngModel)]="driver.currentAddress"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-12">
              <mat-checkbox name="sameAsPermanent" (change)="permanentAddress()">
                Same as Permanant
              </mat-checkbox>
            </div>
          </div>          
        </nb-card-body>
      </nb-card>
    </div>    
</div>
<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Allowances</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-lg-3">
            <mat-form-field>
              Daily Allowances
              <input matInput [(ngModel)]="driver.dailyAllowance">
            </mat-form-field>
          </div>
          <div class="col-lg-3">
            <mat-form-field>
              Over time per hour
              <input matInput [(ngModel)]="driver.overTimeAllowance">
            </mat-form-field>
          </div>
          <div class="col-lg-3">
            <mat-form-field>
              OutStation Allowances per day
              <input matInput [(ngModel)]="driver.outstationAllowancePerDay">
            </mat-form-field>
          </div>
          <div class="col-lg-3">
            <mat-form-field>
              Outstation overnight Allowances
              <input matInput [(ngModel)]="driver.outstationOvernightAllowance">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <mat-form-field>
              Sunday Allowances
              <input matInput [(ngModel)]="driver.sundayAllowance">
            </mat-form-field>
          </div>
          <div class="col-lg-3">
            <mat-form-field>
              Early Start Allowances
              <input matInput [(ngModel)]="driver.earlyStartAllowance">
            </mat-form-field>
          </div>
          <div class="col-lg-3">
            <mat-form-field>
              Night Allowances
              <input matInput [(ngModel)]="driver.nightAllowancePerDay">
            </mat-form-field>
          </div>
        </div>          
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Extra Duty Allowances</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-lg-3 col-12">
            <mat-form-field>
              Second duty
              <input matInput [(ngModel)]="driver.secondDuty">
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-12">
            <mat-form-field>
              Third Duty
              <input matInput [(ngModel)]="driver.thirdDuty">
            </mat-form-field>
          </div>        
          <div class="col-lg-3 col-12">
            <mat-form-field>
              Fourth Duty
              <br>
              <input matInput [(ngModel)]="driver.fourthDuty">
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-12">
            <mat-form-field>
              Fifth Duty
              <br>
              <input matInput [(ngModel)]="driver.fifthDuty">
            </mat-form-field>
          </div>
        </div>         
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
    <div class="col-lg-6">
      <nb-card class="workCard">
        <nb-card-header>Working Hours</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-lg-6 col-12">
              Start
              <input type="time" matInput [(ngModel)]="driver.workingHoursStart">
            </div>
            <div class="col-lg-6 col-12">
              End
              <input type="time" matInput [(ngModel)]="driver.workingHoursEnd">
            </div>
          </div>       
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-6">
      <nb-card class="licenseCard">
        <nb-card-header>License Information</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-lg-6 col-12">
              <mat-form-field>
                Number
                <input matInput [(ngModel)]="driver.licenseNumber">
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-12">
              <mat-form-field class="w-100">
                Valid Upto
                <input matInput [matDatepicker]="validUpTo" readonly (click)="validUpTo.open()" [(ngModel)]="driver.licenseValidUpto">
                <mat-datepicker-toggle matSuffix [for]="validUpTo"></mat-datepicker-toggle>
                <mat-datepicker #validUpTo></mat-datepicker>
              </mat-form-field>
            </div>
          </div>          
        </nb-card-body>
      </nb-card>
    </div>    
</div>
<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Files</nb-card-header>
      <nb-card-body>
        <div class="row">
          <!-- <div class="col-lg-6 col-12">
            <mat-form-field>
              File Name
              <input matInput [(ngModel)]="driver.fileName">
            </mat-form-field>
          </div> -->
          <div class="col-lg-3 col-md-6 col-12" style="text-align: center;">
            <b>Upload Driver Photo</b>
            <br>
            <button *ngIf="imgUrl==''" (click)="profilePhoto.click()" mat-raised-button color="primary"><mat-icon>cloud_upload</mat-icon>Browse</button>
            <button *ngIf="imgUrl!=''" (click)="removeDriverPhoto()" mat-raised-button color="primary"><mat-icon>clear</mat-icon>Remove</button>
            <input type="file" accept="image/*" #profilePhoto name="driverPhoto" hidden (change)="selectFile($event)">
            <br>
            <img alt="" *ngIf="imgUrl!=''" [src]="imgUrl" width="125px" height="150px"/>
          </div>
          <div class="col-lg-3 col-md-6 col-12" style="text-align: center;">
            <b>Upload License Photo</b>
            <br>
            <button *ngIf="imgLicenseUrl==''" (click)="licensePhoto.click()" mat-raised-button color="primary"><mat-icon>cloud_upload</mat-icon>Browse</button>
            <button *ngIf="imgLicenseUrl!=''" (click)="removeLicensePhoto()" mat-raised-button color="primary"><mat-icon>clear</mat-icon>Remove</button>
            <input type="file" #licensePhoto name="licensePhoto" hidden (change)="selectLicenseFile($event)">
            <br>
            <img alt="" *ngIf="imgLicenseUrl!='' && imgLicenseUrl.includes('data:image')" [src]="imgLicenseUrl" width="125px" height="150px"/>
            <p style="margin: 2rem;" *ngIf="!imgLicenseUrl.includes('data:image')">{{imgLicenseName}}</p>
          </div>
          <div class="col-lg-3 col-md-6 col-12" style="text-align: center;">
            <b>Upload Aadhar Card Photo</b>
            <br>
            <button *ngIf="imgAadharUrl==''" (click)="aadharPhoto.click()" mat-raised-button color="primary"><mat-icon>cloud_upload</mat-icon>Browse</button>
            <button *ngIf="imgAadharUrl!=''" (click)="removeAadharPhoto()" mat-raised-button color="primary"><mat-icon>clear</mat-icon>Remove</button>
            <input type="file" #aadharPhoto name="aadharPhoto" hidden (change)="selectAadharFile($event)">
            <br>
            <img alt="" *ngIf="imgAadharUrl!='' && imgAadharUrl.includes('data:image')" [src]="imgAadharUrl" width="125px" height="150px"/>
            <p style="margin: 2rem;" *ngIf="!imgAadharUrl.includes('data:image')">{{imgAadharName}}</p>
          </div>
          <div class="col-lg-3 col-md-6 col-12" style="text-align: center;">
            <b>Upload PAN Card Photo</b>
            <br>
            <button *ngIf="imgPanUrl==''" (click)="panPhoto.click()" mat-raised-button color="primary"><mat-icon>cloud_upload</mat-icon>Browse</button>          
            <button *ngIf="imgPanUrl!=''" (click)="removePANPhoto()" mat-raised-button color="primary"><mat-icon>clear</mat-icon>Remove</button>
            <input type="file" #panPhoto name="panPhoto" hidden (change)="selectPanFile($event)">
            <br>
            <img alt="" *ngIf="imgPanUrl!='' && imgPanUrl.includes('data:image')" [src]="imgPanUrl" width="125px" height="150px"/>
            <p style="margin: 2rem;" *ngIf="!imgPanUrl.includes('data:image')">{{imgPanName}}</p>
          </div>
        </div>
        <!-- <table>
          <tr>
            <td>
              
            </td>
            <td></td>
          </tr>
          
        </table> -->
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-12">
    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="col-lg-12 col-12">
            <mat-form-field class="w-100">
              Notes
              <textarea matInput [(ngModel)]="driver.additionalInfo" rows="2"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row ptb-10">
          <div class="col-lg-12">
            <mat-checkbox [(ngModel)]="driver.isContractor" name="isContractor">Is Contractor?</mat-checkbox><br>
            <!-- <mat-checkbox name="">Enable App logout Button</mat-checkbox><br> -->
            <mat-checkbox [(ngModel)]="driver.active">Active</mat-checkbox><br>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row ptb-10">
  <div class="col-lg-12 col-12">
    <button mat-raised-button color="primary" *ngIf="!editState" (click)="addDriver()">Add</button>
    <button mat-raised-button color="primary" *ngIf="editState" (click)="editDriver()">Save</button>
    <button mat-raised-button color="warn"(click)="closeDialog()">Close</button>
  </div>
</div>
<div class="row">
  <div style="bottom: 5%" *ngIf="logs.length>0">
    <ul>
      <li *ngFor="let element of logs">
        {{element.message}}
      </li>
    </ul>
  </div>
</div>
