<div class="row">
  <div class="col-lg-12" id="print-section">
    <nb-card>
      <nb-card-header>Invoice</nb-card-header>
      <nb-card-body class="box">
        <div id="demo" style="padding: 0 5px 0 5px">
          <div class="col-lg-12" style="padding:10px;"> 
            <table *ngIf="!businessSettings.HideBusinessLetterHead" style="width: 100%;" border-spacing="0">
              <tr>
                <td rowspan="3" style="border-bottom: 1px solid darkgrey; width: 10%; padding-left: 5%; padding-bottom: 10px;">
                  <img alt="" [src]="companyLogo" height="70px" width="auto" />
                </td>
                <td style="text-align:left; padding-left: 10%;">
                  <b style="font-size: 18px; font-weight: 600 ;">{{user.companyName}}</b>
                </td>
              </tr>
              <tr>
                <td style="text-align: left; padding-left: 10%;">
                  <b>{{companyProfile.address}}</b>
                </td>
              </tr>
              <tr>
                <td style="border-bottom: 1px solid darkgrey; text-align: left; padding-bottom: 10px; padding-left: 10%;">
                  <b><b>Email:</b> {{companyProfile.email}} <b>Mobile:</b> {{companyProfile.phone}}</b>
                </td>
              </tr>
            </table>
            <table style="width:100%">
              <tr>
                <td style="border-bottom: 1px solid darkgrey; text-align: center;"><b style="font-size: medium;">Tax Invoice</b></td>
              </tr>
            </table>
          </div>
          <div class="box2" style="display: flex; flex-direction: row; border-bottom: 0.1px solid; border-bottom-color: darkgrey;">
            <div class="col-lg-6 vl" style="border-right: 0.1px solid; border-right-color: darkgrey; width: 50%;">
              <table cellpadding=2px>
                <tr>
                  <td>
                    <b>
                      Customer Name:
                    </b>
                  </td>
                  <td>
                    {{customerDetails.name}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>
                      Customer No:
                    </b>
                  </td>
                  <td>
                    {{customerDetails.phone}}
                  </td>
                </tr>
                <tr>
                    <td>
                      <b>
                        Address:
                      </b>
                    </td>
                    <td>
                      {{customerDetails.caddress}}
                    </td>
                </tr>
                <tr>
                  <td>
                    <b>
                      State:
                    </b>
                  </td>
                  <td>
                    {{customerDetails.state}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>
                      PAN:
                    </b>
                  </td>
                  <td>
                    {{customerDetails.panNo}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>GSTIN:</b>
                  </td>
                  <td>
                    {{customerDetails.gstin}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Billing Address:</b>
                  </td>
                  <td>
                    {{customerDetails.billingAddress}}
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-lg-6">
              <table cellpadding=2px>
                <tr>
                  <td><b>&nbsp;Invoice Number:</b></td>
                  <td>
                    {{invoiceDetails.invoiceNumber}}
                  </td>
                </tr>
                  <tr><td><b>&nbsp;Invoice Date:</b></td>
                    <td>
                      {{invoiceDetails.invoiceDate | date: 'dd/MM/yyyy'}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <b>&nbsp;Invoice Period From:</b>
                    </td>
                    <td>
                      {{invoiceDetails.invoicePeriodFrom | date: 'dd/MM/yyyy'}}
                    </td>
                  </tr>
                  <tr>  
                    <td>
                      <b>&nbsp;Invoice Period To:</b>
                    </td>
                    <td>
                      {{invoiceDetails.invoicePeriodTo | date: 'dd/MM/yyyy'}}
                    </td>
                  </tr>
                <tr>
                  <td>
                    <b>
                      &nbsp;CC Number:
                    </b>
                  </td>
                  <td>
                    {{invoiceDetails.CCNumber}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>
                      &nbsp;PO Number
                    </b>
                  </td>
                  <td>
                      {{invoiceDetails.PONumber}}
                  </td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col-lg-12">            
            <table style="width:100%;margin-top:5px;" cellpadding="4">
              <tr class="invoiceTable" style="border-bottom:1px solid;">
                <th>Sr.</th>
                <th>Description</th>
                <th>Rate</th>
                <th>Quantity</th>
                <th>Amount</th>
              </tr>
              <tr *ngFor="let temp of selectedBookings; let i=index" style=" text-align:center;" class="invoiceTable" style="border-bottom:1px solid;">                      
                <td style="text-align:center;">{{i+1}}</td>
                <td class="tdleft">
                  Travellers:
                  <b>
                    {{temp.travellers}}
                  </b><br>
                  Country Name:
                  <b>
                    {{temp.location}}
                  </b><br>
                  Visa Type:
                  <b>
                    {{temp.visaType}}
                  </b><br>
                  Date:
                  <b>
                    {{temp.from | date:'dd-MM-yyyy'}} - {{temp.to | date:'dd-MM-yyyy'}} 
                  </b><br>                  
                </td>
                <td style="text-align:center;">{{temp.visaCost}}</td>
                <td style="text-align:center;">1</td>
                <td style="text-align:center;">{{temp.visaCost}}</td>
              </tr>
              <tbody style="page-break-inside: avoid">
                <tr class="invoiceTable" *ngIf="invoiceDetails.taxableAmount != null">
                  <td colspan="2" class="tdright" style="text-align: right; align-content: right; place-content: right;">
                    
                  </td>
                  <td class="tdright" style="text-align: center; align-content: right; place-content: right;">
                    Taxable Amount
                  </td>
                  <td>&nbsp;</td>
                  <td class="tdright" style="text-align: center;">
                    <b>{{invoiceDetails.taxableAmount}}</b>
                  </td>
                </tr>
                <tr *ngIf="invoiceDetails.taxType == 'CGST+SGST'" style="border-bottom:1px solid;" class="invoiceTable">
                  <td colspan="2" class="tdright" style="text-align: right; align-content: right; place-content: right;">
                    Tax Type:
                  
                  </td>
                  <td class="tdright" style="text-align: center; align-content: right; place-content: right;">
                    <b>
                      &nbsp;CGST
                    </b>
                    <br>
                    <b>
                      SGST
                    </b>
                  </td>
                  <td class="tdright" style="text-align: center; align-content: right; place-content: right;">
                    <b>
                      &nbsp;{{invoiceDetails.taxRate/2}}%
                    </b>
                    <br>
                    <b>
                      {{invoiceDetails.taxRate/2}}%
                    </b>
                  </td>
                  <td class="tdright" style="text-align: center; align-content: right; place-content: right;">
                    <b>
                      &nbsp;{{invoiceDetails.taxAmount/2}}
                    </b>
                    <br>
                    <b>
                      {{invoiceDetails.taxAmount/2}}
                    </b>
                  </td>
                </tr>
                <tr *ngIf="invoiceDetails.taxType != 'CGST+SGST'" style="border-bottom:1px solid;" class="invoiceTable">
                  <td colspan="3" class="tdright" style="text-align: right;">
                    Tax Type:
                    <b>
                      {{invoiceDetails.taxType}}
                    </b>
                  </td>
                  <td class="tdright" style="text-align: center; align-content: right; place-content: right;">
                    <b>
                      {{invoiceDetails.taxRate}}%
                    </b>
                  </td>
                  <td class="tdright" style="text-align: center; align-content: right; place-content: right;">
                    <b>
                      {{invoiceDetails.taxAmount}}
                    </b>
                  </td>
                </tr>
                <tr style="border-bottom:1px solid;" class="invoiceTable">
                  <td colspan="3" class="tdright" style="text-align: right; align-content: right; place-content: right;">
                    Discount Type:
                    <b>
                      {{invoiceDetails.discountType}}
                    </b>
                  </td>
                  <td></td>
                  <td class="tdright" style="text-align: center; align-content: right; place-content: right;">
                    <b>
                      {{invoiceDetails.discountAmount}}
                    </b>
                  </td>
                </tr>
                <tr class="invoiceTable" *ngIf="invoiceDetails.nonTaxableAmount > 0">
                  <td colspan="2" class="tdright" style="text-align: right; align-content: right; place-content: right;">
                    
                  </td>
                  <td class="tdright" style="text-align: center; align-content: right; place-content: right;">
                    Non Taxable Amount
                  </td>
                  <td>&nbsp;</td>
                  <td class="tdright" style="text-align: center;">
                    <b>{{invoiceDetails.nonTaxableAmount}}</b>
                  </td>
                </tr>
                <tr class="invoiceTable">
                  <td colspan="2" style="text-align: left; border-bottom:2px solid black;">
                    In Words: <b style="text-transform:capitalize;">{{totalInWords}}</b>
                  </td>
                  <td class="tdright" style="text-align: center; border-bottom:2px solid black;">
                    Gross Total:
                  </td>
                  <td style="border-bottom:2px solid black;">&nbsp;</td>
                  <td class="tdright" style="text-align: center; border-bottom:2px solid black;">
                    <b>{{invoiceDetails.totalAmount}}</b>
                  </td>
                </tr>
                <tr class="invoiceTable">
                  <td colspan="3" style="text-align: left; border-bottom:2px solid black;">
                    Advance Paid:
                  </td>                      
                  <td style="border-bottom:2px solid black;">&nbsp;</td>
                  <td class="tdright" style="text-align: center; border-bottom:2px solid black;">
                    <b>{{invoiceDetails.advanceReceived}}</b>
                  </td>
                </tr>
                <tr class="invoiceTable">
                  <td colspan="2" style="text-align: left; border-bottom:2px solid black;">
                    In Words: <b style="text-transform:capitalize;">{{totalInWords}}</b>
                  </td>
                  <td class="tdright" style="text-align: center; border-bottom:2px solid black;">
                    Net Total:
                  </td>
                  <td style="border-bottom:2px solid black;">&nbsp;</td>
                  <td class="tdright" style="text-align: center; border-bottom:2px solid black;">
                    <b>{{invoiceDetails.totalAmount - invoiceDetails.advanceReceived}}</b>
                  </td>
                </tr>
              </tbody>                  
            </table>  
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>  
  <div style="margin: auto">
    <button
      mat-raised-button
      color="primary" (click)="print()" >Print</button>
    <button *ngIf="permission.downloadVisaInvoices" (click)="downloadInvoice()" mat-raised-button color="warn">Download</button>      
  </div>
</div>
