
mat-divider{
    padding: 5px 5px;
}
table1>td{
    padding: 0px 0px 10px 0px !important;
}
table{
    width: 100%
}

nb-card {
    margin-bottom: 5px !important;
}
.mat-button {
    color: #29b476;
}