.w-21 {
    bottom: 1px;
    width: 20px;
    color: #ffffff;
}
.mat-chip:not(.mat-basic-chip) {
    padding: 0px 15px;
}
.text-align {
    text-align: center;
}
hr {
    width: 100%;
}
.mat-chip {
    margin: unset !important;
}