<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-body class="w-100 hide-overflow">        
        <div class="row ptb-10">
          <div class="col-lg-12 col-12">                
            <mat-chip-list>
              Suppliers:&nbsp;
              <mat-chip color="primary" selected *ngFor="let element of supplierData; let i=index">
                {{element.billingName}}
                <button class="w-21" mat-icon-button color="primary" (click)="deleteChip(i)">
                  <mat-icon>clear</mat-icon>
                </button>
              </mat-chip>
            </mat-chip-list>
          </div>      
          <hr>
        </div>    
        <div class="row ptb-10">
          <div class="col-lg-12 col-12">
            Subject:
            <mat-form-field class="w-100">
              <input type="text" matInput [(ngModel)]="mailSubject">
            </mat-form-field>         
          </div>
          <hr>
        </div>
        <div #div1 id="div1">      
          <head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
            <meta property="og:title" content="Saucey">
            <link href="http://fonts.googleapis.com/css?family=Lato:300,400,600,300italic" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
            <title></title>
            </head>
              <body style="width: 100%;background-color: #ffffff;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;text-align: center;">
                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="10">
                  <tbody>
                    <tr>
                      <td>                      
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td bgcolor="#00C186" style="background-color: #00C186;">
                              <div align="center" style="padding: 0px 20px 0px 20px;">
                                <table border="0" cellpadding="0" cellspacing="0" width="600" class="wrapper" align="center">
                                  <tr align="center">
                                    <td style="padding: 10px 0px 10px 0px; text-align: center; width: 400px;" class="logo" align="center">
                                      <a>
                                        <!-- <img alt="header" src="http://media.firebox.com/i/nl/fb_light.png" width="130" border="0"> -->
                                        <img alt="header" [src]="companyLogo" width="70" border="0">
                                      </a>
                                    </td>
                                  </tr>
                                  <!-- <tr align="center">
                                    <td style="padding: 0px 0px 15px 0px; text-align: center; width: 400px;" class="logo" align="center"> -->
                                      <!-- <img src="https://media.firebox.com/i/transactional/header-dispatch.png" width="100%" class="img-max"> -->
                                    <!-- </td>
                                  </tr> -->
                                </table>
                              </div>
                            </td>
                          </tr>
                        </table>                    
                      </td>
                    </tr>
                    <tr>
                      <td>                      
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" *ngIf="businessSettings.dutyAllotmentToSupplierHeader != ''">
                          <tr>
                            <td bgcolor="#00C186" style="background-color: #00C186;">
                              <div align="center" style="padding: 0px 20px 0px 20px;">
                                <table border="0" cellpadding="0" cellspacing="0" width="600" class="wrapper" align="center">
                                  <tr align="center">
                                    <td style="padding: 15px 0px 10px 0px; text-align: center; width: 400px;" class="logo" align="center">
                                      <p [innerHTML]="businessSettings.dutyAllotmentToSupplierHeader"></p>
                                    </td>
                                  </tr>                                    
                                </table>
                              </div>
                            </td>
                          </tr>
                        </table>                    
                      </td>
                    </tr>
                    <tr>
                      <td align="center"><table width="100%" border="0" cellspacing="5" cellpadding="10" align="center" style="max-width:600px;">
                        <tbody>          
                          <tr>
                            <td align="center">
                              <div align="center">
                                <img alt="" src="https://image.freepik.com/free-vector/hands-holding-document-pencil_1325-132.jpg" width="75" style="border-radius: 100%; margin:10px; border: 4px solid #FFF;-webkit-box-shadow: 0 0 15px 0px rgba(0,0,0,0.1); -moz-box-shadow: 0 0 5px 0px rgba(0,0,0,0.1); box-shadow: 0 0 15px 0px rgba(0,0,0,0.1);">
                              </div>
                              <div align="center" style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;display:block;font-family: 'Lato', sans-serif;font-size:14px; color: #555; font-weight:300; font-style:italic">
                                Please find the duty details below
                              </div> 
                            </td>
                          </tr>                      
                          <tr>
                            <td align="center" valign="top">
                              <table width="100%" border="0" cellspacing="5" cellpadding="10" align="center">
                                <tbody>
                                  <tr style="vertical-align:top;text-align:left;width:100%;padding:0" align="left">
                                    <td style="border-collapse:collapse!important;vertical-align:middle;display:table-cell;width:auto!important;padding:12px 0 5px" align="center" valign="middle">
                                      <p style="color:#222222;text-align:center;line-height:0;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#d9d9d9;display:block;margin:0;padding:0" align="left"></p>
                                    </td>
                                    <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:middle;text-align:center;display:table-cell;width:120px!important;font-family: 'Lato', sans-serif;font-size:12px;font-weight:normal; text-transform:uppercase;white-space:pre-wrap;padding:0px 10px 5px" align="center" valign="middle">
                                      Duty Summary
                                    </td>
                                    <td style="border-collapse:collapse!important;vertical-align:middle;display:table-cell;width:auto!important;padding:12px 0 5px" align="center" valign="middle">
                                      <p style="color:#222222;text-align:center;line-height:0;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#d9d9d9;display:block;margin:0;padding:0" align="left"></p>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <br>
                              <table width="100%" border="0" cellspacing="5" cellpadding="0" align="center">
                                <tbody *ngFor="let element of dutyData; let i=index">
                                  <!-- Repeat Per Product -->
                                  <tr style="vertical-align:top;text-align:left;width:100%;padding:0;" align="left">
                                    <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:left;display:table-cell;width:50px!important;font-family: 'Lato', sans-serif;font-size:14px;" align="left" valign="top">
                                      {{i+1}}
                                    </td>
                                    <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:left;display:table-cell;font-family: 'Lato', sans-serif;font-size:14px;" align="right" valign="top">                                    
                                      Booking ID: <span style="font-weight:300;">{{element.id}}&nbsp;</span> <br>
                                      Date: <span style="font-weight:300;"> {{element.startDate}}&nbsp;</span> <br>
                                      From: <span style="font-weight:300;">{{element.fromLoc}}&nbsp;</span> <br>                                    
                                      Passenger Name: <span style="font-weight:300;">{{element.passenger}}&nbsp;</span>                                      
                                    </td>                                     	
                                    <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:left;display:table-cell;font-family: 'Lato', sans-serif;font-size:14px;" align="right" valign="top">
                                      Vehicle Group: <span style="font-weight:300;">{{element.vehicleGroup}}&nbsp;</span><br>
                                      Reporting Time: <span style="font-weight:300;">{{element.reportingTime}}&nbsp;</span><br>
                                      To: <span style="font-weight:300;">{{element.toLoc}}&nbsp;</span> <br>
                                      Mobile No.: <span style="font-weight:300;">{{element.passengerNo}}&nbsp;</span> <br>                                      
                                    </td>
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td colspan="2" style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:left;display:table-cell;font-family: 'Lato', sans-serif;font-size:14px;" valign="top">
                                      Reporting Address: <br><span style="font-weight:300;">{{element.reportingAddress}}&nbsp;</span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td colspan="2" style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:left;display:table-cell;font-family: 'Lato', sans-serif;font-size:14px;" valign="top">
                                      Drop Address: <br><span style="font-weight:300;">{{element.dropAddress}}&nbsp;</span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td colspan="3" style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;display:table-cell;font-family: 'Lato', sans-serif;font-size:14px;" valign="top" *ngIf="element.operatorNotes">
                                      <br>
                                      Operator Notes: <span style="font-weight:300;">{{element.operatorNotes}}&nbsp;</span>    
                                    </td>
                                  </tr>
                                  <tr style="vertical-align:top;text-align:left;width:100%;padding:0;" align="left">
                                    <td>&nbsp;</td>
                                    <td colspan="2" style="border-collapse:collapse!important;vertical-align:middle;display:table-cell;width:auto!important;padding:12px 0 5px" align="center" valign="middle">
                                      <p style="color:#222222;text-align:center;line-height:0;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#d9d9d9;display:block;margin:0;padding:0" align="left"></p>
                                    </td>
                                  </tr>
                                  <tr style="vertical-align:top;text-align:left;width:100%;padding:0;" align="left">
                                    <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:left;display:table-cell;width:20px!important;font-family: 'Lato', sans-serif;font-size:14px;" align="left" valign="top">
                                      &nbsp;
                                    </td>
                                  </tr>
                                  <tr>
                                    <td height="10px">&nbsp;</td>
                                  </tr>
                                  <!-- End Repeat Per Product -->                     
                                </tbody>
                              </table>              
                <!-- Price Breakdown -->                                            
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>    
                  <tr>
                    <td>
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                          <td bgcolor="#ffffff" align="center" style="padding: 20px 0px;">
                            <!-- UNSUBSCRIBE COPY -->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td bgcolor="#ffffff" align="center" style="padding: 20px 0px;">
                                    <!-- UNSUBSCRIBE COPY -->
                                    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="responsive-table">
                                      <tr>
                                        <td width="100%" align="center" style="padding: 0 0 20px 0; font-size: 14px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; color:#888888;">
                                          Until next time, <strong>Techsimians Team</strong>
                                        </td>
                                      </tr>
                                      <!-- <tr>
                                        <td>
                                          <table border="0" cellpadding="0" cellspacing="0" align="center">
                                            <tr width="183">
                                              <td>
                                                <table border="0" cellpadding="0" cellspacing="0" align="center">
                                                  <tr width="157">
                                                    <td width="16" align="center" style="padding: 0 10px 20px 10px;">
                                                      <a href="https://www.facebook.com/Firebox" target="blank">
                                                        <img src="http://media.firebox.com/i/nl/facebook_icon.png" width="16" height="16">
                                                      </a>
                                                    </td>
                                                    <td width="19" align="center" style="padding: 0 10px 20px 10px;">
                                                      <a href="https://twitter.com/Firebox" target="blank">
                                                        <img src="http://media.firebox.com/i/nl/twitter_icon.png" width="19" height="16">
                                                      </a>
                                                    </td>
                                                    <td width="16" align="center" style="padding: 0 10px 20px 10px;">
                                                      <a href="https://www.instagram.com/Firebox/" target="blank">
                                                        <img src="http://media.firebox.com/i/nl/instagram_icon.png" width="16" height="16">
                                                      </a>
                                                    </td>
                                                    <td width="16" align="center" style="padding: 0 10px 20px 10px;">
                                                      <a href="https://www.pinterest.com/firebox/" target="blank">
                                                        <img src="http://media.firebox.com/i/nl/pinterest_icon.png" width="16" height="16">
                                                      </a>
                                                    </td>
                                                  </tr>
                                                </table>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr> -->
                                      <tr>
                                        <td width="100%" align="center" style="padding: 0 10px 0 10px; font-family:'sofia', Helvetica, Arial, sans-serif; line-height: 24px; color: #888888; font-size: 12px;">
                                          <span class="appleBody">
                                            <strong>Techsimians</strong><br /> Mumbai, Maharashtra, India.
                                          </span>
                                        </td>
                                      </tr>
                                      <!-- <tr>
                                        <td width="100%" align="center" style="padding: 0 10px 20px 10px; font-family:'sofia', Helvetica, Arial, sans-serif; line-height: 24px; color: #888888; font-size: 12px;">
                                          <span class="appleBody">
                                            VAT Reg. No.: 798 6593 41 Registered in England & Wales, No. 3874477
                                          </span>
                                        </td>
                                      </tr> -->
                                      <tr>
                                        <td width="100%" align="center" style="padding: 0 10px 20px 10px; font-family:'sofia', Helvetica, Arial, sans-serif; line-height: 24px; color: #888888; font-size: 12px;">
                                          <span class="appleBody" style="color:#888888;">
                                            <a style="color:#888888 !important;">info@yourfleetman.com</a>
                                          </span>
                                          <span class="hide-mobile">&nbsp; | &nbsp;</span>
                                          <span class="appleBody break" style="color:#888888;">
                                            <a href="http://www.techsimians.com"
                                              style="color: #888888 !important;">www.techsimians.com</a>
                                          </span>
                                          <span class="hide-mobile">&nbsp; | &nbsp;</span>
                                          <span class="appleBody break" style="color:#888888;">
                                            8080 425 120
                                          </span>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>                      
                                          <table border="0" cellpadding="0" cellspacing="0" width="100%" *ngIf="businessSettings.dutyAllotmentToSupplierFooter != ''">
                                            <tr>
                                              <td bgcolor="#00C186" style="background-color: #00C186;">
                                                <div align="center" style="padding: 0px 20px 0px 20px;">
                                                  <table border="0" cellpadding="0" cellspacing="0" width="600" class="wrapper" align="center">
                                                    <tr align="center">
                                                      <td style="padding: 15px 0px 10px 0px; text-align: center; width: 400px;" class="logo" align="center">
                                                        <p [innerHTML]="businessSettings.dutyAllotmentToSupplierFooter"></p>
                                                      </td>
                                                    </tr>                                    
                                                  </table>
                                                </div>
                                              </td>
                                            </tr>
                                          </table>                    
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
                
                
            </body>
          <!-- <div class="row" *ngFor="let element of dutyData; let i=index">
            <div class="col-lg-1">
              <b>Sr.&nbsp;</b><br>
              <b>{{i+1}}&nbsp;</b>
            </div>
            <div class="col-lg-2">
              <b>Booking ID&nbsp;</b><br>
              {{element.id}}&nbsp;
            </div>
            <div class="col-lg-5">
              <b>Details&nbsp;</b><br>
              Date: {{element.startDate}}&nbsp; <br>
              From: {{element.fromLoc}}&nbsp; <br>
              To: {{element.toLoc}}&nbsp; <br>
              Passenger Name: {{element.passenger}}&nbsp; <br>
              Mobile No.: {{element.passengerNo}}&nbsp; <br>
              Reporting Address: {{element.reportingAddress}}&nbsp; <br>
              Drop Address: {{element.dropAddress}}&nbsp; <br>        
            </div>
            <div class="col-lg-2">
              <b>Reporting Time&nbsp;</b><br>
              {{element.reportingTime}}&nbsp;
            </div>
            <div class="col-lg-2">
                <b>Vehicle Group&nbsp;</b><br>
              {{element.vehicleGroup}}&nbsp;
            </div>
            <div class="col-lg-12 pt-10" *ngIf="element.operatorNotes">
              <p class="text-align">Operator Notes: {{element.operatorNotes}}&nbsp;</p>
            </div>
            <hr>
          </div> -->
        </div>       
      </nb-card-body>      
    </nb-card>
  </div>  
</div>
<div class="row ptb-10">
  <div class="col-lg-12">
    <button mat-raised-button color="primary" (click)="sendMail(div1)">Send Mail</button> &nbsp;  
    <!-- <button mat-raised-button color="primary" onclick="CopyToClipboard('div1')">Copy</button> -->
    <button mat-raised-button color="warn" (click)="closeDialog()">Close</button>
  </div>  
</div>  