<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
        Add Visa
      </nb-card-header>
      <nb-card-body>
        <div class="container">
          <div class="row ptb-10">
            <div class="col-lg-8 col-12">
              Customer Name:
              <mat-form-field class="w-100">
                <!-- <input aria-placeholder="Pick one" (change)="setCustomer(option)" name="cname" [(ngModel)]="bookings.cname" matInput [matAutocomplete]="custauto"> -->
                <input aria-placeholder="Pick one"  name="cname" [formControl]="customerCtrl" matInput [matAutocomplete]="custauto" >
                <mat-autocomplete #custauto="matAutocomplete">
                  <mat-option *ngFor="let option of customer |async" [value]="option.name" (onSelectionChange)="setCustomer(option,$event)">
                    {{ option.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
          <div class="row ptb-10">
            <div class="col-lg-4 col-12">
              <mat-form-field>
                <br>
                <input aplaceholder="Booked By"  name="cname" [formControl]="bookByCtrl" matInput [matAutocomplete]="bookByAuto" placeholder="Name (Booked By)">
                <mat-autocomplete #bookByAuto="matAutocomplete">
                  <mat-option *ngFor="let option of bookBy |async" [value]="option.name" (onSelectionChange)="setBookBy(option,$event)">
                    {{ option.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-lg-4 col-12">
              <mat-form-field>
                <br>
                <input  matInput #bookedPhoneNumber   [(ngModel)]="visaDetails.bookByNo" name="bookByNo" placeholder="Phone No (Booked By)">
              </mat-form-field>
            </div>
            <div class="col-lg-4 col-12">
              <mat-form-field>
                <br>
                <input matInput #bookedEmail  name="bookByEmail" [(ngModel)]="visaDetails.bookByEmail" placeholder="Email Id (Booked By)">
              </mat-form-field>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>VISA Details</nb-card-header>
      <nb-card-body>
        <div class="row ptb-10">
          <div class="col-lg-3 col-12">
            <mat-form-field>
              Location
              <input matInput [(ngModel)]="visaDetails.location">
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-12">
            <mat-form-field>
              VISA Type
              <input matInput [(ngModel)]="visaDetails.visaType">
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-12">
            <mat-form-field class="w-100">
              From
              <input matInput [matDatepicker]="fromDate" [(ngModel)]="visaDetails.from">
              <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
              <mat-datepicker #fromDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-12">
            <mat-form-field class="w-100">
              To
              <input matInput [matDatepicker]="toDate" [(ngModel)]="visaDetails.to">
              <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
              <mat-datepicker #toDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>Travellers</nb-card-header>
      <nb-card-body>
        <form [formGroup]="myForm" class="w-100">
          <div formArrayName="rows">
            <div *ngFor="let aRow of travellerForms.controls; let i=index" [formGroupName]="i">
              <div class="row">
                <div class="col-lg-1 col-2">
                  <br>
                  {{i+1}}
                </div>
                <div class="col-lg-2 col-10">
                  <mat-form-field class="w-100">
                    Name
                    <input matInput formControlName="name">
                  </mat-form-field>
                </div>
                <div class="col-lg-2 col-12">
                  <mat-form-field class="w-100">
                    <br>
                    <mat-select formControlName="gender" placeholder="Gender">
                      <mat-option value="Male">Male</mat-option>
                      <mat-option value="Female">Female</mat-option>
                      <mat-option value="Others">Others</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-2 col-12">
                  <mat-form-field class="w-100">
                    Phone No.
                    <input matInput formControlName="phone">
                  </mat-form-field>
                </div>
                <div class="col-lg-2 col-12">
                  <mat-form-field class="w-100">
                    Email
                    <input matInput formControlName="email">
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-2">
                  <br>
                  <button mat-icon-button color="primary" *ngIf="i>0" (click)="deleteRow(i, aRow)"> <mat-icon>clear</mat-icon></button>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-1 col-12"></div>
                <div class="col-lg-2 col-12">
                  <br>
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Date of Birth" formControlName="dob" [matDatepicker]="dateOfBirth" >
                    <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
                    <mat-datepicker #dateOfBirth></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-lg-2 col-12">
                  <mat-form-field class="w-100">
                    Passport No.
                    <input matInput formControlName="passportNo">
                  </mat-form-field>
                </div>
                <div class="col-lg-2 col-12">
                  <mat-form-field class="w-100">
                    Issuing Country
                    <input matInput formControlName="issuingCountry">
                  </mat-form-field>
                </div>
                <div class="col-lg-2 col-12">
                  <b>Upload Passport Photo</b>
                  <br>
                  <button *ngIf="imgUrl[i]==''" mat-raised-button color="primary" (click)="passportPhoto.click()"> <mat-icon>cloud_upload</mat-icon>Browse</button>
                  <button *ngIf="imgUrl[i]!=''" mat-raised-button color="warn" (click)="removePhoto(aRow, i)"><mat-icon>highlight_off</mat-icon>Remove</button><br>
                  <input type="file" #passportPhoto name="passportPhoto" hidden (change)="selectFile($event,i)">
                </div>
                <div class="col-lg-3 col-12">
                  <img alt="" *ngIf="imgUrl[i]!='' && imgUrl[i].includes('data:image')" [src]="imgUrl[i]" width="125px" height="150px"/>
                  <p style="margin: 2rem;" *ngIf="!imgUrl[i].includes('data:image')">{{imgName[i]}}</p>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="row pb-10">
          <div class="col-lg-12 col-12">
            <button mat-raised-button color="primary" (click)="addRow()" style="float:right; margin: 5px;">Add More Guests</button>
          </div>
        </div>
        <div class="row ptb-10">
          <div class="col-lg-6 col-12">
            <mat-form-field>
              Visa Cost
              <input matInput [(ngModel)]="visaDetails.visaCost">
            </mat-form-field>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <button color="primary" *ngIf="!editState" mat-raised-button (click)="saveVisa()">Save</button>
    <button color="primary" *ngIf="editState" mat-raised-button (click)="updateVisa()">Update</button>
    <button color="warn" mat-raised-button (click)="closeDialog()">Close</button>
  </div>
</div>