<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>
                New User
            </nb-card-header>
            <nb-card-body>
                <form name="form" [formGroup]="newUserForm">
                    <table>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <input matInput placeholder="Name" [readonly]="employeeOrDriverNewUser" formControlName="name">
                                    <mat-error>
                                        Enter a Name
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <input matInput placeholder="User Name" formControlName="userName">
                                    <mat-error>
                                        Enter a user name
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <input matInput placeholder="Email" formControlName="email" [readonly]="employeeOrDriverNewUser">
                                    <mat-error>
                                        Enter a valid email
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <input matInput placeholder="phone" formControlName="phone" [readonly]="employeeOrDriverNewUser">
                                    <mat-error>
                                        Enter a valid phone
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <input matInput placeholder="Password" type="password" formControlName="password">
                                    <mat-error>
                                        Enter a password
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button mat-raised-button color="primary" (click)="newPermission()">Set Permission</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-12">
        <button mat-raised-button color="primary"(click)="saveForm()" [disabled]="newUserForm.invalid || setPermissionCheck==false">Save</button><br>
        <br>        
    </div>
</div>