
  <div col="col-lg-12">
    <nb-card>
      <nb-card-header>
        Portal Setting
      </nb-card-header>
      <nb-card-body>
        <mat-tab-group>
          <mat-tab label="Duties/Bookings">
            <div class="container">
              <nb-card>
                <nb-card-body>
                  <mat-checkbox [(ngModel)]="businessSettings.AllowBookingsToBeAddedWithoutAnyPricing">
                    Allow Bookings to be added without any pricing
                  </mat-checkbox>
                  <br>
                  <!-- <mat-checkbox [(ngModel)]="businessSettings.AutoSendAllotmentNotificationToDriverApp">
                    Auto send allotment notification to driver app
                  </mat-checkbox>
                  <br>-->
                  <mat-checkbox [(ngModel)]="businessSettings.UseBookingsIDInSMS">
                    Use Bookings Id in SMS
                  </mat-checkbox>                  
                  <br>
                  <mat-form-field style="width: 200px;">
                    Default Start from Garage
                    <input matInput [(ngModel)]="businessSettings.DefaultStartFromGarage">
                  </mat-form-field>
                  <br>
                  <!-- <mat-form-field>
                    Printed duty slip's info section font size in px (min: 10, max: 20)
                    <input type="number" matInput>
                  </mat-form-field> -->
                </nb-card-body>
              </nb-card>
              <nb-card>
                <nb-card-header>
                  Duties Listing - Columns to be displayed
                </nb-card-header>
                <nb-card-body>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowGarageStartTimeInsteadOfReportingTime">
                    Show garage start time instead of reporting time
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowFromCity">
                    Show from city
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowDropAddress">
                    Show drop address
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowRemarks">
                    Show remarks
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowVehicleGroup">
                    Show vehicle group
                  </mat-checkbox>
                  <br>
                  <!-- <mat-checkbox [(ngModel)]="businessSettings.ShowLabels">
                    Show labels
                  </mat-checkbox>
                  <br> -->
                </nb-card-body>
              </nb-card>
              <br>
              <nb-card>
                <nb-card-header>
                  Default options for duty slip printing
                </nb-card-header>
                <nb-card-body>
                  <mat-checkbox [(ngModel)]="businessSettings.AddCustomerName">
                    Add customer name
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.AddBookedByName">
                    Add booked by name
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.AddAllPassengerNamesAndNumbers">
                    Add all passenger names and numbers
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.HideVehicleName">
                    Hide vehicle name
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.HideRemarks">
                    Hide remarks
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.AddGarageStartTime">
                    Add garage start time
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.AddReleasedKmTimeSection">
                    Add released km/time section
                  </mat-checkbox>
                  <!-- <br>
                  <mat-checkbox [(ngModel)]="businessSettings.AddEntireBookingDateRange">
                    Add entire booking date range
                  </mat-checkbox> -->
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.AddPrintedByInformationToFooter">
                    Add printed by information to footer (with date/time)
                  </mat-checkbox>
                  <!-- <br>
                  <mat-checkbox [(ngModel)]="businessSettings.AlwaysUseFullPageDesign">
                    Always use full page design
                  </mat-checkbox> -->
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.HideBusinessLetterHead">
                    Hide business letter head
                  </mat-checkbox>
                  <br>
                </nb-card-body>
              </nb-card>
              <!-- <br> -->
              <!-- <nb-card> -->
                <!-- <nb-card-body> -->
                  <!-- <mat-checkbox [(ngModel)]="businessSettings.HideCustomerNameForDriverSupplierInMobileApp">
                    Hide customer name for driver/supplier in mobile app
                  </mat-checkbox> -->
                <!-- </nb-card-body> -->
              <!-- </nb-card> -->
              <!-- <div>
                <button mat-raised-button (click)="saveDutiesBookings()" color="primary">Save</button>
                <button mat-raised-button color="warn">Cancel</button>
              </div> -->
            </div>
          </mat-tab>
          <mat-tab label="Billing">
            <div class="container">
              <nb-card>
                <nb-card-body>
                  <mat-form-field>
                    Invoice dates & numbering
                    <mat-select [(ngModel)]="businessSettings.invoiceDatesAndNumbering" (selectionChange)="selectInvoiceDatesAndNumbering($event.value)">
                      <mat-option value="Automatic">
                        Automatic
                      </mat-option>
                      <mat-option value="Manual">
                        Manual
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!-- <br>
                  <mat-checkbox [(ngModel)]="businessSettings.RoundOffExtraTimeOfEveryDutyWhileDisplayingOnInvoice">
                    Round off extra time of every duty while displaying on invoice
                  </mat-checkbox> -->
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowPerKilometerRateOnInvoiceForDayKMDuties">
                    Show per kilometer rate on invoice for day km duties
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.HideVehicleNumberFromInvoice">
                    Hide Vehicle Number from Invoice
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowDutySummaryAtTheTopOfTheInvoiceAlways">
                    Show duty summary at the top of the invoice always
                  </mat-checkbox>
                  <br>
                  <mat-hint>
                    Note: Please keep duty summary columns count to minimum, else duty summary table in print/pdf/email might break.
                  </mat-hint>
                </nb-card-body>
              </nb-card>          
              <br>
              <nb-card>
                <nb-card-header>
                  Invoice duty summary columns
                </nb-card-header>
                <nb-card-body>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowDutyId">
                    Show duty id
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowDutyType">
                    Show duty type
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowBookedByName">
                    Show booked by name
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowPassengerNames">
                    Show passenger names
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowVehicleGroupName">
                    Show vehicle group name
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowVehicleNumber">
                    Show vehicle number
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowStartDate">
                    Show start date
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowEndDate">
                    Show end date
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowStartTime">
                    Show start time
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowEndTime">
                    Show end time
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowExtraHour">
                    Show extra hour
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowTotalHour">
                    Show total hour
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowStartKM">
                    Show start km
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowEndKM">
                    Show end km
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowExtraKM">
                    Show extra km
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowTotalKM">
                    Show total km
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowExtraHourRate">
                    Show extra hour rate
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowExtraKMRate">
                    Show extra km rate
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowExtraHourCost">
                    Show extra hour cost
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowExtraKMCost">
                    Show extra km cost
                  </mat-checkbox>
                  <br>
                  <!-- <mat-checkbox [(ngModel)]="businessSettings.ShowConsolidatedBillingItems">
                    Show consolidated billing items
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowSeparatedBillingItems">
                    Show separated billing items
                  </mat-checkbox>
                  <br> -->
                  <!-- <mat-checkbox [(ngModel)]="businessSettings.ShowAllowances">
                    Show allowances
                  </mat-checkbox>
                  <br> -->
                  <mat-checkbox [(ngModel)]="businessSettings.ShowPrice">
                    Show price
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowQuantityNumberOfDays">
                    Show quantity - Number of days
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowTotalPrice">
                    Show total price
                  </mat-checkbox>
                  <br>
                  <!-- <mat-checkbox [(ngModel)]="businessSettings.ShowCarHireCharges">
                    Show car hire charges
                  </mat-checkbox>
                  <br> -->
                  <mat-checkbox [(ngModel)]="businessSettings.ShowDutySubtotal">
                    Show duty subtotal
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowDutySubtotalIncludingAllowances">
                    Show duty subtotal - including allowances
                  </mat-checkbox>
                  <br>
                </nb-card-body>
              </nb-card>
              <!-- <div>
                <button mat-raised-button (click)="saveBilling()" color="primary">Save</button>
                <button mat-raised-button color="warn">Cancel</button>
              </div> -->
            </div>            
          </mat-tab>
          <mat-tab label="Purchase">
            <div class="container">
              <nb-card>
                <nb-card-header>
                  Purchase duty summary columns
                </nb-card-header>
                <nb-card-body>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowPurchaseDutyID">
                    Show duty id
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowPurchaseDutyType">
                    Show duty type
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowPurchaseBookedByName">
                    Show booked by name
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowPurchasePassengerNames">
                    Show passenger names
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowPurchaseVehicleGroupName">
                    Show vehicle group name
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowPurchaseVehicleNumber">
                    Show vehicle number
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowPurchaseStartDate">
                    Show start date
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowPurchaseEndDate">
                    Show end date
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowPurchaseStartTime">
                    Show start time
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowPurchaseEndTime">
                    Show end time
                  </mat-checkbox>
                  <br>
                  <!-- <mat-checkbox [(ngModel)]="businessSettings.ShowPurchaseExtraHour">
                    Show extra hour
                  </mat-checkbox>
                  <br> -->
                  <!-- <mat-checkbox [(ngModel)]="businessSettings.ShowPurchaseTotalHours">
                    Show total hours
                  </mat-checkbox>
                  <br> -->
                  <mat-checkbox [(ngModel)]="businessSettings.ShowPurchaseStartKM">
                    Show start km
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowPurchaseEndKM">
                    Show end km
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowPurchaseExtraKM">
                    Show extra km
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowPurchaseTotalKm">
                    Show total km
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowPurchaseExtraHourRate">
                    Show extra hour rate
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowPurchaseExtraKMRate">
                    Show extra km rate
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowPurchaseExtraHourCost">
                    Show extra hour cost
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowPurchaseExtraKMCost">
                    Show extra km cost
                  </mat-checkbox>
                  <br>
                  <!-- <mat-checkbox [(ngModel)]="businessSettings.ShowPurchaseConsolidatedBillingItems">
                    Show consolidated billing items
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowPurchaseSeparatedBillingItems">
                    Show separated billing items
                  </mat-checkbox>
                  <br> -->
                  <mat-checkbox [(ngModel)]="businessSettings.ShowPurchaseAllowances">
                    Show allowances
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowPurchasePrice">
                    Show price
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowPurchaseDutySubtotal">
                    Show duty subtotal
                  </mat-checkbox>
                  <br>
                  <!-- <mat-checkbox [(ngModel)]="businessSettings.ShowCustomerCarHireCharges">
                    Show customer car hire charges
                  </mat-checkbox>
                  <br> -->
                  <mat-checkbox [(ngModel)]="businessSettings.ShowCustomerCarHireChargesIncludingAllowances">
                    Show customer car hire charges - including allowances
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowCustomerDutySubtotal">
                    Show customer duty subtotal
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.ShowCustomerDutySubtotalIncludingAllowances">
                    Show customer duty subtotal - including allowances
                  </mat-checkbox>
                  <br>
                </nb-card-body>
              </nb-card>
              <!-- <div>
                <button mat-raised-button (click)="savePurchase()" color="primary">Save</button>
                <button mat-raised-button color="warn">Cancel</button>
              </div> -->
            </div>
          </mat-tab>
          <mat-tab label="Driver Allowance">
            <div class="container">
              <div class="row" style="padding:15px">
                <form [formGroup]="driverAllowanceForm" class="w-100">
                  <div formArrayName="rows">
                    <div class="row ptb-10" *ngFor="let aRow of driverAllowancesForms.controls; let i=index" [formGroupName]="i">
                      <div class="col-lg-11 col-11">
                        <nb-card>
                          <nb-card-header>
                            Driver Allowance
                          </nb-card-header>
                          <nb-card-body>
                            <mat-form-field>
                              Select Allowance Type
                              <mat-select formControlName="allowanceType">
                                <mat-option value="Over time per hour">
                                  Over time per hour
                                </mat-option>
                                <mat-option value="Outstation Allowance">
                                  Outstation Allowance
                                </mat-option>
                                <mat-option value="Outstation Overnight Allowance">
                                  Outstation Overnight Allowance
                                </mat-option>
                                <mat-option value="Sunday Allowance">
                                  Sunday Allowance
                                </mat-option>
                                <mat-option value="Early Start Allowance">
                                  Early Start Allowance
                                </mat-option>
                                <mat-option value="Night Allowance">
                                  Night Allowance
                                </mat-option>
                                <mat-option value="Extra Duty Allowance">
                                  Extra Duty Allowance
                                </mat-option>
                                <mat-option value="Driver Daily Allowance">
                                  Driver Daily Allowance
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                            <br>
                            <mat-checkbox formControlName="chargedToCustomer">
                              Charged to Customer
                            </mat-checkbox>
                            <br>
                            <mat-form-field>
                              Amount
                              <input type="number" matInput formControlName="amount">
                            </mat-form-field>
                            <!-- <mat-form-field>
                              Night Allowance Start Time
                              <input type="time" matInput formControlName="nightAllowanceStartTime">
                            </mat-form-field> -->
                          </nb-card-body>
                        </nb-card>
                      </div>
                      <div class="col-lg-1 col-1">
                        <button mat-icon-button color="primary" (click)="deleteDriverAllowance(i, aRow)"> <mat-icon>clear</mat-icon></button>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="row pb-10">
                  <div class="col-lg-12 col-12">
                    <button mat-fab color="primary" (click)="addDriverAllowance()" style="float:right; margin: 5px;"><mat-icon>add</mat-icon></button>
                  </div>                
                </div>
              </div>
              <!-- <div>
                <button mat-raised-button (click)="saveDriverAllowance()" color="primary">Save</button>
                <button mat-raised-button color="warn">Cancel</button>
              </div> -->
            </div>            
          </mat-tab>
          <mat-tab label="Notification">
            <div class="container">
              <nb-card>
                <nb-card-header>
                  SMS
                </nb-card-header>
                <nb-card-body>
                  <mat-checkbox [(ngModel)]="businessSettings.SMSEnabled">
                    Enabled
                  </mat-checkbox>
                  <br>
                  <mat-hint>
                    Note: SMSes received would be chargeable and would be added to your monthly invoice.
                  </mat-hint>
                  <br>
                  <nb-card *ngIf="businessSettings.SMSEnabled">
                    <nb-card-header>
                      Phone Numbers
                    </nb-card-header>
                    <nb-card-body>
                      <div class="row" style="padding:15px">
                        <form [formGroup]="SMSPhoneNumbersForm" class="w-100">
                          <div formArrayName="rows">
                            <div class="row ptb-10" *ngFor="let aRow of SMSPhoneNumbersForms.controls; let i=index" [formGroupName]="i">
                              <div class="col-lg-11 col-11">                              
                                <mat-form-field>                                    
                                  <input type="number" matInput formControlName="phoneNumber">
                                </mat-form-field>                              
                              </div>
                              <div class="col-lg-1 col-1">
                                <button mat-icon-button color="primary" (click)="deleteSMSPhoneNumber(i, aRow)"> <mat-icon>clear</mat-icon></button>
                              </div>                    
                            </div>                    
                          </div>
                        </form>                 
                        <div class="row pb-10">
                          <div class="col-lg-12 col-12">
                            <button mat-fab color="primary" (click)="addSMSPhoneNumber()" style="float:right; margin: 5px;"><mat-icon>add</mat-icon></button>
                          </div>                
                        </div>
                      </div>
                    </nb-card-body>
                  </nb-card>
                </nb-card-body>
              </nb-card>
              <br>
              <nb-card>
                <nb-card-header>
                  Email
                </nb-card-header>
                <nb-card-body>
                  <mat-checkbox [(ngModel)]="businessSettings.EmailEnabled">
                    Enabled
                  </mat-checkbox>
                  <br>                
                  <nb-card *ngIf="businessSettings.EmailEnabled">
                    <nb-card-header>
                      Email Address
                    </nb-card-header>
                    <nb-card-body>
                      <div class="row" style="padding:15px">
                        <form [formGroup]="EmailAddressForm" class="w-100">
                          <div formArrayName="rows">
                            <div class="row ptb-10" *ngFor="let aRow of EmailAddressForms.controls; let i=index" [formGroupName]="i">
                              <div class="col-lg-11 col-11">                              
                                <mat-form-field>                                    
                                  <input type="email" matInput formControlName="emailAddress">
                                </mat-form-field>                              
                              </div>
                              <div class="col-lg-1 col-1">
                                <button mat-icon-button color="primary" (click)="deleteEmailAddress(i, aRow)"> <mat-icon>clear</mat-icon></button>
                              </div>                    
                            </div>                    
                          </div>
                        </form>                 
                        <div class="row pb-10">
                          <div class="col-lg-12 col-12">
                            <button mat-fab color="primary" (click)="addEmailAddress()" style="float:right; margin: 5px;"><mat-icon>add</mat-icon></button>
                          </div>                
                        </div>
                      </div>
                    </nb-card-body>
                  </nb-card>
                </nb-card-body>
              </nb-card>
              <!-- <div>
                <button mat-raised-button (click)="saveNotification()" color="primary">Save</button>
                <button mat-raised-button color="warn">Cancel</button>
              </div> -->
            </div>            
          </mat-tab>
          <mat-tab label="Email Templates">
            <div class="container">              
              <nb-card>
                <nb-card-header>
                  Booking Confirmation
                </nb-card-header>
                <nb-card-body>                  
                  Header
                  <quill-editor [(ngModel)]="businessSettings.bookingConfirmationHeader"></quill-editor>
                  <br>                  
                  Footer
                  <quill-editor [(ngModel)]="businessSettings.bookingConfirmationFooter"></quill-editor>
                </nb-card-body>
              </nb-card>
              <br>
              <nb-card>
                <nb-card-header>
                  Duty Allotment - To Customer
                </nb-card-header>
                <nb-card-body>
                  Header
                  <quill-editor [(ngModel)]="businessSettings.dutyAllotmentToCustomerHeader"></quill-editor>
                  <br>
                  Footer
                  <quill-editor [(ngModel)]="businessSettings.dutyAllotmentToCustomerFooter"></quill-editor>
                </nb-card-body>
              </nb-card>
              <br>
              <nb-card>
                <nb-card-header>
                  Duty Allotment - To Supplier
                </nb-card-header>
                <nb-card-body>
                  Header
                  <quill-editor [(ngModel)]="businessSettings.dutyAllotmentToSupplierHeader"></quill-editor>
                  <br>
                  Footer
                  <quill-editor [(ngModel)]="businessSettings.dutyAllotmentToSupplierFooter"></quill-editor>
                </nb-card-body>
              </nb-card>
              <br>
              <!-- <nb-card>
                <nb-card-header>
                  Duty/Booking Cancellation
                </nb-card-header>
                <nb-card-body>
                  Header
                  <quill-editor [(ngModel)]="businessSettings.dutyBookingCancellationHeader"></quill-editor>
                  <br>
                  Footer
                  <quill-editor [(ngModel)]="businessSettings.dutyBookingCancellationFooter"></quill-editor>
                </nb-card-body>
              </nb-card>
              <br>
              <nb-card>
                <nb-card-header>
                  Invoice To Customer
                </nb-card-header>
                <nb-card-body>
                  Header
                  <quill-editor [(ngModel)]="businessSettings.invoiceToCustomerHeader"></quill-editor>
                  <br>
                  Footer
                  <quill-editor [(ngModel)]="businessSettings.invoiceToCustomerFooter"></quill-editor>
                </nb-card-body>
              </nb-card>
              <br>
              <nb-card>
                <nb-card-header>
                  Payment Request
                </nb-card-header>
                <nb-card-body>
                  Header
                  <quill-editor [(ngModel)]="businessSettings.paymentRequestHeader"></quill-editor>
                  <br>
                  Footer
                  <quill-editor [(ngModel)]="businessSettings.paymentRequestFooter"></quill-editor>
                </nb-card-body>
              </nb-card> -->
              <!-- <div>
                <button mat-raised-button (click)="saveEmailTemplates()" color="primary">Save</button>
                <button mat-raised-button color="warn">Cancel</button>
              </div> -->
            </div>            
          </mat-tab>
          <mat-tab label="Hotel">
            <div class="container">
              <nb-card>
                <nb-card-body>
                  <mat-form-field class="w-100">
                    Default Terms & Conditions
                    <textarea matInput rows="12" [(ngModel)]="businessSettings.defaultTermsAndConditions"></textarea>
                  </mat-form-field>
                </nb-card-body>
              </nb-card>
              </div>
          </mat-tab>
          <mat-tab label="Others">
            <div class="container">
              <nb-card>
                <nb-card-body>
                  <mat-form-field>
                    Default Customer
                    <input aria-placeholder="Pick one"  name="cname" [formControl]="customerCtrl" matInput [matAutocomplete]="custauto">
                    <mat-autocomplete #custauto="matAutocomplete">
                      <mat-option *ngFor="let option of customer |async" [value]="option.name" (onSelectionChange)="setCustomer(option,$event)">
                        {{ option.name }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <br>
                  <mat-form-field>
                    Select Dispatch Center
                    <mat-select [(ngModel)]="businessSettings.dispatchCenter">
                      <mat-option *ngFor="let element of dispatchCenters" [value]="element.name" (onSelectionChange)="setDispatchCenter($event.value)">
                        {{element.name}}
                      </mat-option>                      
                    </mat-select>
                  </mat-form-field>
                  <br>
                  <mat-form-field>
                    Default City
                    <input matInput [formControl]="cityCtrl"  [matAutocomplete]="autoCity">
                    <mat-autocomplete #autoCity="matAutocomplete">
                      <mat-option *ngFor="let option of cities | async" [value]="option" (onSelectionChange)="setCity(option,$event)">
                        {{ option }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </nb-card-body>
              </nb-card>              
              <nb-card>
                <nb-card-header>
                  Auto CC emails
                </nb-card-header>
                <nb-card-body>
                  <mat-form-field>
                    Enter an email ID
                    <input type="email" matInput [(ngModel)]="businessSettings.AutoCCEmail">
                  </mat-form-field>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.CCAllConfirmationAndCancellationEmails">
                    CC all confirmation & cancellation emails
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.CCAllAllotmentEmails">
                    CC all allotment emails
                  </mat-checkbox>
                  <br>
                  <mat-checkbox [(ngModel)]="businessSettings.CCAllInvoiceEmails">
                    CC all invoice emails
                  </mat-checkbox>
                </nb-card-body>
              </nb-card>
              <br>
              <nb-card>
                <nb-card-body>
                  <mat-form-field>
                    SMS Mask
                    <input type="text" matInput [(ngModel)]="businessSettings.SMSMask" readonly>
                  </mat-form-field>
                </nb-card-body>
              </nb-card>              
              <br>
              <nb-card>
                <nb-card-header>
                  Network Options
                </nb-card-header>
                <nb-card-body>
                  <mat-checkbox [(ngModel)]="businessSettings.AutoAcceptIncomingDutySlip">
                    Auto accept incoming duty slip
                  </mat-checkbox>
                </nb-card-body>
              </nb-card>
              <nb-card>
                <nb-card-header>
                  Tracking
                </nb-card-header>
                <nb-card-body>
                  <mat-form-field>
                    Select Provider
                    <mat-select [(ngModel)]="businessSettings.trackingProvider" (selectionChange)="selectProvider($event.value)">
                      <mat-option value="Aditi Tracking">
                        Aditi Tracking
                      </mat-option>                      
                    </mat-select>
                  </mat-form-field>
                  <br>
                  <mat-form-field>
                    Tracking Username
                    <input type="text" matInput [(ngModel)]="businessSettings.trackingUsername">
                  </mat-form-field>
                  <br>
                  <mat-form-field>
                    Tracking Password
                    <input type="password" matInput [(ngModel)]="businessSettings.trackingPassword">
                  </mat-form-field>
                </nb-card-body>
              </nb-card>
              <!-- <div>
                <button mat-raised-button (click)="saveOthers()" color="primary">Save</button>
                <button mat-raised-button color="warn">Cancel</button>
              </div> -->
            </div>
          </mat-tab>
        </mat-tab-group>        
      </nb-card-body>
    </nb-card>    
  </div>
  <div>
    <button *ngIf="!editState" mat-raised-button (click)="saveBusinessSettings()" color="primary">Save</button>
    <button *ngIf="editState" mat-raised-button (click)="updateBusinessSettings()" color="primary">Save</button>
    <!-- <button mat-raised-button color="warn">Cancel</button> -->
  </div>
