<div class="row">
  <div class="col-lg-12" >
    <nb-card>
      <nb-card-header>Hotels</nb-card-header>
      <nb-card-body>
        <table>
          <tr>
            <td>City</td>
            <td>
              <mat-form-field>
                <input matInput [formControl]="cityCtrl"  [matAutocomplete]="auto1">
                <mat-autocomplete #auto1="matAutocomplete">
                    <mat-option *ngFor="let option of cities | async" [value]="option" (onSelectionChange)="citySelect(option,$event)">
                        {{ option }}
                    </mat-option>
                </mat-autocomplete> 
                <!-- <mat-select name="city">
                  <mat-option *ngFor=" let element of cities" [value]="element" (click)="setCity(element)">
                    {{element}}
                  </mat-option>                      
                </mat-select> -->
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <button mat-raised-button color="primary" (click)="search()">Search</button>
            </td>
          </tr>                    
        </table>
      </nb-card-body>
    </nb-card>
    <nb-card *ngIf="table">
      <nb-card-body>
        <mat-table #table [dataSource]="dataSource" matSort matSortActive="hotelName" matSortDirection="asc" matSortDisableClear>
          
          <ng-container matColumnDef="hotelName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.hotelName}} </mat-cell>
          </ng-container>      
          
          <ng-container matColumnDef="hotelType">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.hotelType}} </mat-cell>
          </ng-container>      
          <ng-container matColumnDef="hotelRating">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Rating</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.hotelRating}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="phoneNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.phoneNumber}} </mat-cell>
          </ng-container>                    
          <ng-container matColumnDef="Options">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Options </mat-header-cell>
            <mat-cell *matCellDef="let element ;let row">                                          
              <button mat-raised-button color="primary" (click)="book(row)">Book</button>                            
            </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
          
        <mat-paginator [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"></mat-paginator>
          
      </nb-card-body>
    </nb-card>            
  </div>
</div>