<div  class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Duties</nb-card-header>
      <nb-card-body>
        <mat-table #table [dataSource]="dataSource" matSort>
          
          <ng-container matColumnDef="startDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.startDate | date: 'dd-MM-yyyy'}} </mat-cell>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="cname">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Customer </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.cname}} </mat-cell>
          </ng-container>

          <!-- Booked By Column -->
          <ng-container matColumnDef="bookBy">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Booked by </mat-header-cell>
            <mat-cell *matCellDef="let element"  [matTooltip]="element.bookByNo"> {{element.bookBy}} </mat-cell>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="passenger">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Passenger </mat-header-cell>
            <mat-cell *matCellDef="let element" [matTooltip]="element.passengerNo"> {{element.passenger}} </mat-cell>            
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="driver">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Driver/Supplier  </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span *ngIf="element.supplierId==null"> {{element.driver}} </span>
              <span *ngIf="element.supplierId!=null"> {{element.supplierName}} </span>
            </mat-cell>           
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="vehicleGroup">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle Group </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.vehicleGroup}} </mat-cell>            
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="dutyType">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Duty Type </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.dutyType}} </mat-cell>              
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="fromLoc">            
            <mat-header-cell *matHeaderCellDef mat-sort-header> From City </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.fromLoc}} </mat-cell>              
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="reportingAddress">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Short Reporting Address </mat-header-cell>
            <mat-cell *matCellDef="let element" [matTooltip]="element.reportingAddress"> {{element.shortReportingAddress}} </mat-cell>              
          </ng-container>  

          <!-- Symbol Column -->
          <ng-container matColumnDef="vehicle">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Vehicle </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.vehicle}} </mat-cell>              
          </ng-container>  

            <!-- Symbol Column -->
          <ng-container matColumnDef="dropAddress">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Drop Address </mat-header-cell>
            <mat-cell *matCellDef="let element" [matTooltip]="element.dropAddress"> {{element.dropAddress}} </mat-cell>              
          </ng-container>

          <!-- Symbol Column -->
          <!-- <ng-container matColumnDef="startFromGarage">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Start Time From Garage </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.startFromGarage}} </mat-cell>              
          </ng-container> -->
          
            <!-- Symbol Column -->
          <ng-container matColumnDef="reportingTime">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Reporting Time </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.reportingTime}} </mat-cell>              
          </ng-container>
          
            <!-- Symbol Column -->
          <ng-container matColumnDef="remarks">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.remarks}} </mat-cell>
          </ng-container>

            <!-- <ng-container matColumnDef="remarks">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Labels </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.remarks}} </mat-cell>
          </ng-container> -->

          <ng-container matColumnDef="labelArray">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Labels </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-chip-list *ngFor="let skelement of element.labelArray">
                <mat-chip [style.background-color]="skelement.color" [ngStyle]="{'color': setTextColor(skelement.color)}" style="transform: scale(0.80,0.80);border-radius: 0;margin-bottom: -3px;animation: blink 1s linear infinite;" selected="true">{{skelement.labelName}}</mat-chip>
              </mat-chip-list> 
            </mat-cell>  
          </ng-container>

          
            <!-- Symbol Column -->
          <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <mat-chip-list>
                  <mat-chip color="primary" selected="true">{{element.status}}</mat-chip>
                </mat-chip-list> 
              </mat-cell>  
          </ng-container>

          <ng-container matColumnDef="Options">
            <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
            <mat-cell style="vertical-align: middle" *matCellDef="let element ;let row" (click)="$event.stopPropagation()">
              <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
              
              <mat-menu #menu="matMenu">
                
              <!-- <button  mat-menu-item >Details</button> -->
              <!-- <button  *ngIf="row.status=='Completed'" mat-menu-item (click)="createInvoice(row)">Create Invoice</button> -->
              <button *ngIf="row.status=='Booked' || row.status=='Allotted' || permission.manageLabels==1" mat-menu-item (click)="addRemoveLabels(row)">Add/Remove Labels</button>
              <button *ngIf="permission.smsEmailCallDuties" mat-menu-item (click)="call(row)">Contact</button>
              <!-- <button *ngIf="row.status=='Booked' || row.status=='Allotted'" mat-menu-item (click)="allotSupporters(row)">Allot Supporters</button> -->
              <button *ngIf="row.status=='Allotted' && row.supplierBId==null" mat-menu-item (click)="selectAllotments(row)">Re-Allot on Duty</button>
              <button *ngIf="row.status=='Allotted' && row.supplierBId==null" mat-menu-item (click)="clearAllotment(row)">Clear Allotment</button>
              <button *ngIf="row.status=='Booked' || row.status=='Allotted' && permission.editDuties" mat-menu-item (click)="selectRow(row)">Edit</button>
              <button *ngIf="row.status=='Booked' && row.supplierDId==null && permission.allotVehiclesDriver" mat-menu-item (click)="selectAllotments(row)">Allot Driver & Vehicle</button>
              <button mat-menu-item (click)="setOfflineAllotment(row)">Set Driver/Vehicle Details</button>
              <button *ngIf="row.ownerDId!=null && permission.sendInfoDuty" mat-menu-item (click)="sendInfo2(row)">Send Info</button>
              <button *ngIf="row.status=='Allotted' && row.supplierBId==null && permission.viewDutySlip" mat-menu-item (click)="printDutySlip(row)">Print Duty Slip</button>
              <button *ngIf="row.status=='Allotted'" mat-menu-item (click)="createPlacard(row)">Create Placard</button>
              <button *ngIf="row.status=='Allotted' && row.supplierDId==null && permission.dispatchDuty" mat-menu-item (click)="dispatched(row)">Mark as Dispatched</button>
              <button *ngIf="row.status=='Dispatched' && row.supplierDId==null && permission.dispatchDuty" mat-menu-item (click)="dispatched(row)">Revert Dispatch</button>
              <button *ngIf="row.status=='Dispatched' && row.supplierDId==null && permission.viewTracking" mat-menu-item (click)="trackVehicle(row)">Track Vehicle</button>
              <button *ngIf="row.status=='Dispatched' && row.supplierDId==null && row.ownerDId==null && permission.closeDuty" mat-menu-item (click)="openCloseDuty(row)">Close Duty</button>
              <button *ngIf="row.status=='Dispatched' && row.ownerDId!=null" mat-menu-item (click)="openCloseSupplierDuty(row)">Close Supplier Duty</button>
              <button *ngIf="row.status!='Cancelled' && permission.addPettyCash" mat-menu-item (click)="addPettyCash(row)">Add Petty Cash</button>
              <button *ngIf="permission.viewBookings" mat-menu-item (click)="viewBookings(row)">View Booking</button>
              <button *ngIf="row.status=='Booked' || row.status=='Allotted' && permission.cancelDuty" mat-menu-item (click)="cancelDuty(row)">Cancel Duty</button>
              </mat-menu>
              <mat-icon style="display:table;margin:auto;" *ngIf="row.ownerDId" matTooltip="Duty From Circles" matTooltipClass="example-tooltip-green">redo</mat-icon>
              <mat-icon style="display:table;margin:auto;" *ngIf="row.supplierDId" matTooltip="Allotted To Supplier" matTooltipClass="example-tooltip-green">how_to_reg</mat-icon>
            </mat-cell>
            
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row [ngStyle]="{'background-color':rowColors(row.startDate,row.status)}" *matRowDef="let row; columns: displayedColumns;" (click)="details(row)"></mat-row>

        </mat-table>
        <mat-paginator [length]="length"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"></mat-paginator>
      </nb-card-body>
    </nb-card>

    <div style="bottom: 5%" *ngIf="logs.length>0">
      <ul>
        <li *ngFor="let element of logs">
          {{element.message}}
        </li>
      </ul>
    </div>
  </div>
</div>