<form [formGroup]="bookHotel">
  <div class="row">
    <div class="col-lg-6 col-12">
      <nb-card style="height:97%">
        <nb-card-header>Booking Details</nb-card-header>
        <nb-card-body>
          <div class="container">            
            <div class="row ptb-10">
              <div class="col-lg-6 col-12">
                <mat-form-field>
                  Billed To
                  <input aria-placeholder="Pick one"  name="cname" [formControl]="customerCtrl" matInput [matAutocomplete]="custauto">
                  <mat-autocomplete #custauto="matAutocomplete">
                    <mat-option *ngFor="let option of customer |async" [value]="option.name" (onSelectionChange)="setCustomer(option,$event)">
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field>
                  Name (Booked By)
                  <input aplaceholder="Booked By"  name="cname" [formControl]="bookByCtrl" matInput [matAutocomplete]="bookByAuto">
                  <mat-autocomplete #bookByAuto="matAutocomplete">
                    <mat-option *ngFor="let option of bookBy |async" [value]="option.name" (onSelectionChange)="setBookBy(option,$event)">
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <div class="row ptb-10">
              <div class="col-lg-6 col-12">
                <mat-form-field>                  
                  Phone No (Billed To)
                  <input  matInput formControlName="billedToNo">
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field>
                  Email Id (Billed To)
                  <input matInput formControlName="billedToEmail">
                </mat-form-field>
              </div>
            </div>
            <div class="row ptb-10">
              <div class="col-lg-6 col-12">
                <mat-form-field>                  
                  Phone No (Booked By)
                  <input  matInput formControlName="bookByNo">
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field>                  
                  Email Id (Booked By)
                  <input matInput formControlName="bookByEmail">
                </mat-form-field>
              </div>
            </div>
            <div class="row ptb-10" *ngIf="data.row != null">
              <div class="col-lg-6 col-12">
                <mat-form-field>
                  City
                  <input matInput [formControl]="cityCtrl"  [matAutocomplete]="autoCity">
                  <mat-autocomplete #autoCity="matAutocomplete">
                    <mat-option *ngFor="let option of cities | async" [value]="option" (onSelectionChange)="setCity(option,$event)">
                      {{ option }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field>
                  Hotel Name
                  <input name="hotelName" [formControl]="hotelCtrl" matInput [matAutocomplete]="hotelauto">
                  <mat-autocomplete #hotelauto="matAutocomplete">
                    <mat-option *ngFor="let option of hotel |async" [value]="option.hotelName" (onSelectionChange)="setHotel(option,$event)">
                      {{ option.hotelName }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <div class="row ptb-10" *ngIf="data.row != null">
              <div class="col-lg-6 col-12">
                <mat-form-field>
                  Room
                  <input matInput formControlName="room">
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field>
                  Occupancy
                  <input matInput formControlName="occupancy">
                </mat-form-field>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-6 col-12">
      <nb-card>
        <nb-card-header>Guest Details</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ptb-10">
              <div class="col-lg-6 col-12">
                <mat-form-field>
                  Guest Name
                  <input matInput formControlName="guestName">
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field>
                  Conf. No.
                  <input matInput formControlName="confNo">
                </mat-form-field>
              </div>
            </div>
            <div class="row ptb-10">
              <div class="col-lg-6 col-12">
                <mat-form-field>
                  Mobile No.
                  <input matInput formControlName="guestMobile">
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field>
                  Email
                  <input matInput formControlName="guestEmail">
                </mat-form-field>
              </div>
            </div>
            <div class="row ptb-10">
              <div class="col-lg-6 col-12">
                <mat-form-field>
                  Check In Date
                  <input [matDatepicker]="checkInDate" matInput formControlName="checkInDate" (dateChange)="setCheckInDate($event)">
                  <mat-datepicker-toggle matSuffix [for]="checkInDate"></mat-datepicker-toggle>
                  <mat-datepicker #checkInDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field>
                  Check Out Date
                  <input [matDatepicker]="checkOutDate" matInput formControlName="checkOutDate" [min]="minDate" (dateChange)="setCheckOutDate($event)">
                  <mat-datepicker-toggle matSuffix [for]="checkOutDate"></mat-datepicker-toggle>
                  <mat-datepicker #checkOutDate></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row ptb-10">
              <div class="col-lg-6 col-12">
                  <mat-form-field>
                      Check-in time
                      <input type="time" matInput formControlName="checkInTime"/>
                    </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                  <mat-form-field>
                      Check-out time
                      <input type="time" matInput formControlName="checkOutTime"/>
                    </mat-form-field>
              </div>
            </div>
            <div class="row ptb-10">
              <div class="col-lg-6 col-12">
                <mat-form-field>
                  Nights
                  <input matInput formControlName="nights">
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field>
                  No. of People
                  <input matInput formControlName="noOfPeople">
                </mat-form-field>
              </div>
            </div>            
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="row" *ngIf="data.row != null">
    <div class="col-lg-12 col-12">
      <nb-card>      
        <nb-card-body>
          <div class="container">
            <div class="row ptb-10">
              <div class="col-lg-4 col-12">
                <mat-form-field>
                  Inclusion
                  <input matInput formControlName="inclusion">
                </mat-form-field>
              </div>
              <div class="col-lg-4 col-12">
                <mat-form-field>
                  Rate
                  <input matInput formControlName="rate">
                </mat-form-field>
              </div>
              <div class="col-lg-4 col-12">
                <mat-form-field>
                  Amount
                  <input matInput formControlName="amount" [(ngModel)]="amount" (change)="setAmount(amount, $event)">
                </mat-form-field>
              </div>
            </div>
            <div class="row ptb-10">
              <div class="col-lg-4 col-12">
                <mat-form-field>
                  Payment Mode
                  <input matInput formControlName="paymentMode">
                </mat-form-field>
              </div>
              <div class="col-lg-4 col-12"></div>
              <div class="col-lg-4 col-12">
                <mat-form-field>
                  Taxes  
                  <input matInput formControlName="taxes" [(ngModel)]="taxes" (change)="setTaxes(taxes, $event)">
                </mat-form-field>
              </div>
            </div>
            <div class="row ptb-10">
              <div class="col-lg-4 col-12">
                <mat-form-field>
                  Hotel Bill No.
                  <input matInput formControlName="hotelBillNo">
                </mat-form-field>
              </div>
              <div class="col-lg-4 col-12">
                <mat-form-field>
                  Hotel Amount
                  <input matInput formControlName="hotelAmount">
                </mat-form-field>
              </div>
              <div class="col-lg-4 col-12">
                <mat-form-field>
                  Total
                  <input matInput formControlName="total" readonly>
                </mat-form-field>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="row" *ngIf="data.row != null">
    <div class="col-lg-12 col-12">
      <nb-card>
        <nb-card-header>Internal</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ptb-10">
              <div class="col-lg-4 col-12">
                <mat-form-field>
                  Inclusion
                  <input matInput formControlName="intInclusion">
                </mat-form-field>
              </div>
              <div class="col-lg-4 col-12">
                <mat-form-field>
                  Hotel Rate
                  <input matInput formControlName="hotelRate">
                </mat-form-field>
              </div>
              <div class="col-lg-4 col-12">
                <mat-form-field>
                  Amount
                  <input matInput formControlName="intAmount" [(ngModel)]="intAmount" (change)="setIntAmount(intAmount, $event)">
                </mat-form-field>
              </div>
            </div>
            <div class="row ptb-10">
              <div class="col-lg-4 col-12">
                <mat-form-field>
                  Agents
                  <input matInput formControlName="agents">
                </mat-form-field>
              </div>
              <div class="col-lg-4 col-12">
                <mat-form-field>
                  Commission
                  <input matInput formControlName="commission" [(ngModel)]="commission" (change)="setCommission(commission, $event)">
                </mat-form-field>
              </div>
              <div class="col-lg-4 col-12">
                <mat-form-field>
                  Taxes
                  <input matInput formControlName="intTaxes" [(ngModel)]="intTaxes" (change)="setIntTaxes(intTaxes, $event)">
                </mat-form-field>
              </div>
            </div>
            <div class="row ptb-10">
              <div class="col-lg-4 col-12"></div>
              <div class="col-lg-4 col-12"></div>
              <div class="col-lg-4 col-12">
                <mat-form-field>
                  Total
                  <input matInput formControlName="intTotal" readonly>
                </mat-form-field>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="row" *ngIf="data.row != null">
    <div class="col-lg-12 col-12">
      <nb-card>
        <nb-card-header>Additional Charges</nb-card-header>
        <nb-card-body>                    
          <div class="container" formArrayName="additionalCharges">
            <div class="row ptb-10" *ngFor="let row of additionalChargesForm.controls; let i=index" [formGroupName]="i">
              <div class="col-lg-5 col-12">
                <mat-form-field class="w-100">
                  Description                  
                  <textarea matInput formControlName="description"></textarea>                  
                </mat-form-field>
              </div>
              <div class="col-lg-2 col-12">
                <mat-form-field class="w-100">
                  Quantity
                  <br><br>
                  <input matInput formControlName="quantity" style="padding-bottom: 13px">
                </mat-form-field>
              </div>
              <div class="col-lg-2 col-12">
                <mat-form-field class="w-100">
                  Rate
                  <br><br>
                  <input matInput formControlName="additionalChargesRate" style="padding-bottom: 13px">
                </mat-form-field>
              </div>
              <div class="col-lg-2 col-12">
                <mat-form-field class="w-100">
                  Charges
                  <br><br>
                  <input matInput formControlName="charges" style="padding-bottom: 13px">
                </mat-form-field>
              </div>
              <div class="col-lg-1 col-12">
                <button mat-icon-button color="primary" (click)="deleteRow(i, row)">
                  <mat-icon>clear</mat-icon>
                </button>
              </div>
            </div>
            <div class="row pb-10">
              <div class="col-lg-12 col-12">
                <button mat-raised-button color="primary" (click)="addRow()" style="float:right; margin: 5px;">Add</button>
              </div>                
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="row ptb-10">
    <div class="col-lg-12 col-12">      
      <button *ngIf="!editState" (click)="saveHotel()" mat-raised-button color="primary">Save</button>
      <button *ngIf="editState" (click)="updateHotel()" mat-raised-button color="primary">Update</button>
      <button mat-raised-button color="warn" (click)="closeDialog()">Close</button>      
    </div>
  </div>
</form>