<div class="row">
  <div class="col-lg-12 col-12">    
    <nb-card>              
      <nb-card-body>
        <div class="row">
          <div class="col-lg-12 col-12">
            <mat-form-field>
              <mat-select [(ngModel)]="predefined"  placeholder="Preset" >
                <mat-option *ngFor="let element of presets" [value]="element.name" (click)="predefinedRoles(element)"> 
                  {{element.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <form [formGroup]="preset">
              <mat-form-field>
                <input matInput placeholder="Preset Name" formControlName="permissionName">
                <mat-error>
                  Enter a Permission Name to save as a preset
                </mat-error>  
              </mat-form-field>
              <button mat-raised-button color="primary" [disabled]="preset.invalid" (click)="savePreset()">Save Preset</button>
            </form>            
            <!-- <button mat-icon-button class="close-button" color="warn" (click)="close()"><mat-icon style="font-size: 25px;">close</mat-icon></button> -->      
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-8 col-12">
            Customer Name:
            <mat-form-field class="w-100">
              <!-- <input aria-placeholder="Pick one" (change)="setCustomer(option)" name="cname" [(ngModel)]="bookings.cname" matInput [matAutocomplete]="custauto"> -->
              <input aria-placeholder="Pick one"  name="cname" [formControl]="customerCtrl" matInput [matAutocomplete]="custauto" >
              <mat-autocomplete #custauto="matAutocomplete">
                <mat-option *ngFor="let option of customer |async" [value]="option.name" (onSelectionChange)="setCustomer(option,$event)">
                  {{ option.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>      
        </div>
        <div class="row">
          <div class="col-lg-6 col-12">
            <mat-form-field class="w-100">
              Start Date
              <input matInput [(ngModel)]="bookings.startDate" [matDatepicker]="startDate" (click)="startDate.open()" readonly name="startDate">
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-12">
            <mat-form-field class="w-100">
              End Date
              <input matInput [(ngModel)]="bookings.endDate" [matDatepicker]="endDate" (click)="endDate.open()" readonly name="endDate">         
              <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-12">
            <mat-checkbox [ngModel]="exportBookings.id" (ngModelChange)="change($event,&quot;bid as 'Booking ID'&quot;)">
              BookingId
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.cname" (change)="change($event,&quot;cname as 'Customer Name'&quot;)">
              Customer Name
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.bookBy" (change)="change($event,&quot;bookBy as 'Booked By'&quot;)">
              Booked by
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.bookByNo" (change)="change($event,&quot;bookByNo as 'Booked By No'&quot;)">
              Booked by Phone
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.bookByEmail" (change)="change($event,&quot;bookByEmail as 'Booked By Email'&quot;)">
              Booked by Email
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.ccId" (change)="change($event,&quot;ccId as 'CCID'&quot;)">
              CCID
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.passenger" (change)="change($event,&quot;passenger as 'Passenger'&quot;)"> 
              Passenger Name
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.passengerNo" (change)="change($event,&quot;passengerNo as 'PassengerNo'&quot;)">
              Passenger Phone
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.passengerEmail" (change)="change($event,&quot;passengerEmail as 'Passenger Email'&quot;)">
              Passenger Email
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.fromLoc" (change)="change($event,&quot;fromLoc as 'From Location'&quot;)">
              From city
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.toLoc" (change)="change($event,&quot;toLoc as 'To Location'&quot;)">
              To city
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.startDate" (change)="change($event,&quot;startDate as 'Start Date'&quot;)">
              Start Date
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.endDate" (change)="change($event,&quot;endDate as 'End Date'&quot;)">
              End Date
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.reportingTime" (change)="change($event,&quot;reportingTime as 'Reporting Time'&quot;)">
              Reporting Time
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.startFromGarage" (change)="change($event,&quot;startFromGarage as 'Start From Garage'&quot;)">
              Start From Garage
            </mat-checkbox><br>      
          </div>
          <div class="col-lg-6 col-12">
            <mat-checkbox [(ngModel)]="exportBookings.reportingAddress" (change)="change($event,&quot;reportingAddress as 'Reporting Address'&quot;)">
              Reporting Address
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.shortReportingAddress" (change)="change($event,&quot;shortReportingAddress as 'Short Reporting Address'&quot;)">
              Short reporting Address
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.dropAddress" (change)="change($event,&quot;dropAddress as 'Drop Address'&quot;)">
              Drop Address
            </mat-checkbox><br>        
            <mat-checkbox [(ngModel)]="exportBookings.flightTrainNo" (change)="change($event,&quot;flightTrainNo as 'Flight/Train No'&quot;)">
              Flight/Train Number            
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.poNumber" (change)="change($event,&quot;poNumber as 'PO Number'&quot;)">
              PO Number
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.dispatchCenter" (change)="change($event,&quot;dispatchCenter as 'Dispatch Center'&quot;)">
              Dispatch Center
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.billTo" (change)="change($event,&quot;billTo as 'Billed To'&quot;)">
              Bill To
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.price" (change)="change($event,&quot;price as 'Price'&quot;)">
              Duty price
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.remarks" (change)="change($event,&quot;remarks as 'Remarks'&quot;)">
              Remarks
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.operatorNotes" (change)="change($event,&quot;operatorNotes as 'Operator Notes'&quot;)">
              Operator Notes
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.label" (change)="change($event,&quot;label as 'Label'&quot;)">
              Label
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.vehicleGroup" (change)="change($event,&quot;vehicleGroup as 'Vehicle Group'&quot;)">
              Vehicle Group
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.dutyType" (change)="change($event,&quot;dutyType as 'Duty Type'&quot;)">
              Duty Type
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.totalPrice" (change)="change($event,&quot;totalPrice as 'Total Price'&quot;)">
              Total Price
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.extraHours" (change)="change($event,&quot;extraHours as 'Extra Hours'&quot;)">
              Extra Hours
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.extraKms" (change)="change($event,&quot;extraKms as 'Extra Kms'&quot;)">
              Extra Kms 
            </mat-checkbox><br>  
          </div>                             
        </div>
      </nb-card-body>
    </nb-card>    
  </div>
</div>
<div class="row ptb-10">
  <div class="col-lg-12 col-12">
    <button mat-raised-button color="primary" (click)="getBookingsForExport()">12Export</button>
    <button mat-raised-button color="warn" (click)="closeDialog()">Close</button>
  </div>
</div>
  