<div class="row">
  <div class="col-lg-12" >
    <nb-card>
      <nb-card-header>
        Drivers
        <button style="float: right;margin-top: -10px;" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>settings</mat-icon></button>
        <mat-menu #menu="matMenu" class="mat-menu-panel">
          <button mat-menu-item (click)="importDrivers()">Import Drivers</button>
        </mat-menu>
      </nb-card-header>
      <nb-card-body>
        <div align="center">
          <mat-form-field class="filter-field">
            <input matInput   placeholder="Filter"   [(ngModel)]="searchTerm" (keyup)="search($event.target.value)">
          </mat-form-field>
        
          <button mat-icon-button><mat-icon class="filter-icon">search</mat-icon></button>
          <button mat-icon-button (click)="clear()"><mat-icon class="filter-icon">highlight_off</mat-icon></button>
        </div>
        <mat-table #table [dataSource]="datasource" matSort>
  
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> <mat-icon *ngIf="element.userId != null">phone_iphone</mat-icon> {{element.name}} </mat-cell>
          </ng-container>
    
          <!-- Weight Column -->
          <ng-container matColumnDef="mobileNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header> MobileNumber </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.mobileNumber}} </mat-cell>
          </ng-container>
    
          <!-- Symbol Column --> 
          <ng-container matColumnDef="userName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> User Name </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <p style="margin: auto" *ngIf="element.userName">{{element.userName}}</p>
              <p style="margin: auto" *ngIf="element.userName == null">App Login not created</p>
            </mat-cell>
          </ng-container>

          <!-- Symbol Column --> 
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Active</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <p style="margin:auto" *ngIf="element.active==1">Yes</p><p style="margin:auto" *ngIf="element.active==0">No</p>
            </mat-cell>          
          </ng-container>

          <!-- Symbol Column --> 
        <!-- <ng-container matColumnDef="salaryPerMonth">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Salary Per Month </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.salaryPerMonth}} </mat-cell>
          </ng-container> -->

          <ng-container matColumnDef="Options">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Options</mat-header-cell>
            <mat-cell *matCellDef="let element ;let row" (click)="$event.stopPropagation()">
              <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
              <mat-menu #menu="matMenu">
                <!-- <button mat-menu-item (click)="selectRow(row)">Edit</button> -->
                <button *ngIf="permission.addUsers && element.userName == null" mat-menu-item (click)="createUser(row)">Create User</button>
                <button *ngIf="element.active && permission.manageDrivers" (click)="deactivateDriver(row)" mat-menu-item>Deactivate</button>
                <button *ngIf="!element.active && permission.manageDrivers" (click)="activateDriver(row)" mat-menu-item>Activate</button>
              </mat-menu>
            </mat-cell>
          </ng-container>
    
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openProfile(row)"></mat-row>
        </mat-table>
        
        <mat-paginator [length]="length"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
        ></mat-paginator>
                
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-12" align="right">
    <a *ngIf="permission.addDrivers==1" (click)="selectRow(null)" class="float">
      <i style="color: ghostwhite" class="fa fa-plus my-float"></i>
    </a>      
</div>