<div class="row">
  <div class="col-lg-12">
  <nb-card>
    <nb-card-header>
      Customer Group
    </nb-card-header>
    <nb-card-body>
        <div class="col-lg-12">
            Customer Group Name
            <mat-form-field>
              <input matInput [(ngModel)]="newCustomerGroup.name">
            </mat-form-field>
          </div>
    </nb-card-body>
  </nb-card>
  </div>
  <div class="row ptb-10">
    <div class="col-lg-12">
      <button mat-raised-button color="primary" *ngIf="editState==false" (click)="submit()">Submit</button>
      <button mat-raised-button color="primary" *ngIf="editState==true" (click)="update()">Edit</button>
      <button mat-raised-button color="warn" (click)="close()">Close</button>
    </div>
  </div>
</div>  
