<div id="fab-dismiss" 
  *ngIf="fabTogglerState==='active'" 
  (click)="onToggleFab()">
</div>
<div>
  <nb-card>
    <nb-card-header>
      Receipts
    </nb-card-header>
    <nb-card-body>
      <mat-tab-group mat-stretch-tabs>
        <mat-tab *ngIf="permission.viewCabReceipts" label="Cab Bookings">
          <div align="center">
            <mat-form-field class="filter-field">
              <input matInput   placeholder="Filter"   [(ngModel)]="searchTerm" (keyup)="search($event.target.value)">
            </mat-form-field>
        
            <button mat-icon-button><mat-icon class="filter-icon">search</mat-icon></button>
            <button mat-icon-button (click)="clear()"><mat-icon class="filter-icon">highlight_off</mat-icon></button>
          </div>
          <div>
            <mat-table #table [dataSource]="dataSource" matSort>
              
              <!-- Name Column -->
              <ng-container matColumnDef="adjustment">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Adjustments </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.adjustment}} </mat-cell>
              </ng-container>
      
              <!-- Weight Column -->
              <ng-container matColumnDef="bankCreditDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Bank Credit Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.bankCreditDate | date: 'dd-MM-yyyy'}} </mat-cell>
              </ng-container>
    
              <!-- Symbol Column --> 
              <ng-container matColumnDef="customerGroup">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Customer Group</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.customerGroup}} </mat-cell>
              </ng-container>
  
              <!-- Symbol Column --> 
              <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.date | date: 'dd-MM-yyyy'}} </mat-cell>
              </ng-container>
  
              <!-- Symbol Column --> 
              <ng-container matColumnDef="invoice">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Invoice </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.invoice}} </mat-cell>
              </ng-container>

              <!-- Symbol Column --> 
              <ng-container matColumnDef="number">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Number </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.number}} </mat-cell>
              </ng-container>

              <!-- Symbol Column --> 
              <ng-container matColumnDef="paymentMode">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Payment Mode </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.paymentMode}} </mat-cell>
              </ng-container>
          
              <!-- Symbol Column --> 
              <ng-container matColumnDef="paymentReceived">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Payment Received </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.paymentReceived}} </mat-cell>
              </ng-container>
          
              <!-- Symbol Column --> 
              <ng-container matColumnDef="receivedInBank">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Received In Bank </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <p style="margin: auto" *ngIf="element.receivedInBank==1">Yes</p>
                  <p style="margin: auto" *ngIf="element.receivedInBank==0">No</p>
                </mat-cell>
              </ng-container>

              <!-- Symbol Column --> 
              <ng-container matColumnDef="tds">
                <mat-header-cell *matHeaderCellDef mat-sort-header> TDS </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.tds}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Options">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Options</mat-header-cell>
                <mat-cell *matCellDef="let element ;let row" (click)="$event.stopPropagation()">
                  <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                  <mat-menu #menu="matMenu">
                    <!-- <button mat-menu-item (click)="selectRow(row)">Edit</button> -->
                    <button *ngIf="permission.manageCabReceipts" (click)="deleteReceipt(row)" mat-menu-item>Delete</button>
                  </mat-menu>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
      
            <mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions">
            </mat-paginator>
          </div>
        </mat-tab> 
        <mat-tab *ngIf="permission.viewHotelReceipts" label="Hotels">
          <div align="center">
            <mat-form-field class="filter-field">
              <input matInput   placeholder="Filter"   [(ngModel)]="searchTermHotel" (keyup)="searchHotel($event.target.value)">
            </mat-form-field>
        
            <button mat-icon-button><mat-icon class="filter-icon">search</mat-icon></button>
            <button mat-icon-button (click)="clear()"><mat-icon class="filter-icon">highlight_off</mat-icon></button>
          </div>
          <div>
            <mat-table #table [dataSource]="dataSourceHotels" matSort>
              
              <!-- Name Column -->
              <ng-container matColumnDef="adjustment">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Adjustments </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.adjustment}} </mat-cell>
              </ng-container>
      
              <!-- Weight Column -->
              <ng-container matColumnDef="bankCreditDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Bank Credit Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.bankCreditDate | date: 'dd-MM-yyyy'}} </mat-cell>
              </ng-container>
    
              <!-- Symbol Column --> 
              <ng-container matColumnDef="customerGroup">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Customer Group</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.customerGroup}} </mat-cell>
              </ng-container>
  
              <!-- Symbol Column --> 
              <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.date | date: 'dd-MM-yyyy'}} </mat-cell>
              </ng-container>
  
              <!-- Symbol Column --> 
              <ng-container matColumnDef="invoice">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Invoice </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.invoice}} </mat-cell>
              </ng-container>

              <!-- Symbol Column --> 
              <ng-container matColumnDef="number">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Number </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.number}} </mat-cell>
              </ng-container>

              <!-- Symbol Column --> 
              <ng-container matColumnDef="paymentMode">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Payment Mode </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.paymentMode}} </mat-cell>
              </ng-container>
          
              <!-- Symbol Column --> 
              <ng-container matColumnDef="paymentReceived">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Payment Received </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.paymentReceived}} </mat-cell>
              </ng-container>
          
              <!-- Symbol Column --> 
              <ng-container matColumnDef="receivedInBank">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Received In Bank </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <p style="margin: auto" *ngIf="element.receivedInBank==1">Yes</p>
                  <p style="margin: auto" *ngIf="element.receivedInBank==0">No</p>
                </mat-cell>
              </ng-container>

              <!-- Symbol Column --> 
              <ng-container matColumnDef="tds">
                <mat-header-cell *matHeaderCellDef mat-sort-header> TDS </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.tds}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Options">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Options</mat-header-cell>
                <mat-cell *matCellDef="let element ;let row" (click)="$event.stopPropagation()">
                  <button mat-icon-button [matMenuTriggerFor]="hotelmenu"><mat-icon>more_vert</mat-icon></button>
                  <mat-menu #hotelmenu="matMenu">
                    <!-- <button mat-menu-item (click)="selectRow(row)">Edit</button> -->
                    <button *ngIf="permission.manageHotelReceipts" (click)="deleteHotelReceipt(row)" mat-menu-item>Delete</button>
                  </mat-menu>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
      
            <mat-paginator [length]="lengthHotels"
              [pageSize]="pageSizeHotels"
              [pageSizeOptions]="pageSizeOptionsHotels">
            </mat-paginator>
          </div>
        </mat-tab>
        <mat-tab *ngIf="permission.viewFlightReceipts" label="Flights">
          <div align="center">
            <mat-form-field class="filter-field">
              <input matInput   placeholder="Filter"   [(ngModel)]="searchTermFlights" (keyup)="searchFlights($event.target.value)">
            </mat-form-field>
        
            <button mat-icon-button><mat-icon class="filter-icon">search</mat-icon></button>
            <button mat-icon-button (click)="clear()"><mat-icon class="filter-icon">highlight_off</mat-icon></button>
          </div>
          <div>
            <mat-table #table [dataSource]="dataSourceFlights" matSort>
              
              <!-- Name Column -->
              <ng-container matColumnDef="adjustment">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Adjustments </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.adjustment}} </mat-cell>
              </ng-container>
      
              <!-- Weight Column -->
              <ng-container matColumnDef="bankCreditDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Bank Credit Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.bankCreditDate | date: 'dd-MM-yyyy'}} </mat-cell>
              </ng-container>
    
              <!-- Symbol Column --> 
              <ng-container matColumnDef="customerGroup">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Customer Group</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.customerGroup}} </mat-cell>
              </ng-container>
  
              <!-- Symbol Column --> 
              <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.date | date: 'dd-MM-yyyy'}} </mat-cell>
              </ng-container>
  
              <!-- Symbol Column --> 
              <ng-container matColumnDef="invoice">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Invoice </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.invoice}} </mat-cell>
              </ng-container>

              <!-- Symbol Column --> 
              <ng-container matColumnDef="number">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Number </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.number}} </mat-cell>
              </ng-container>

              <!-- Symbol Column --> 
              <ng-container matColumnDef="paymentMode">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Payment Mode </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.paymentMode}} </mat-cell>
              </ng-container>
          
              <!-- Symbol Column --> 
              <ng-container matColumnDef="paymentReceived">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Payment Received </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.paymentReceived}} </mat-cell>
              </ng-container>
          
              <!-- Symbol Column --> 
              <ng-container matColumnDef="receivedInBank">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Received In Bank </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <p style="margin: auto" *ngIf="element.receivedInBank==1">Yes</p>
                  <p style="margin: auto" *ngIf="element.receivedInBank==0">No</p>
                </mat-cell>
              </ng-container>

              <!-- Symbol Column --> 
              <ng-container matColumnDef="tds">
                <mat-header-cell *matHeaderCellDef mat-sort-header> TDS </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.tds}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Options">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Options</mat-header-cell>
                <mat-cell *matCellDef="let element ;let row" (click)="$event.stopPropagation()">
                  <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                  <mat-menu #menu="matMenu">
                    <!-- <button mat-menu-item (click)="selectRow(row)">Edit</button> -->
                    <button *ngIf="permission.manageFlightReceipts" (click)="deleteFlightsReceipt(row)" mat-menu-item>Delete</button>
                  </mat-menu>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
      
            <mat-paginator [length]="lengthFlights"
              [pageSize]="pageSizeFlights"
              [pageSizeOptions]="pageSizeOptionsFlights">
            </mat-paginator>
          </div>
        </mat-tab>
        <mat-tab *ngIf="permission.viewVisaReceipts" label="Visa">
          <div align="center">
            <mat-form-field class="filter-field">
              <input matInput   placeholder="Filter"   [(ngModel)]="searchTermVisa" (keyup)="searchVisa($event.target.value)">
            </mat-form-field>
        
            <button mat-icon-button><mat-icon class="filter-icon">search</mat-icon></button>
            <button mat-icon-button (click)="clear()"><mat-icon class="filter-icon">highlight_off</mat-icon></button>
          </div>
          <div>
            <mat-table #table [dataSource]="dataSourceVisa" matSort>
              
              <!-- Name Column -->
              <ng-container matColumnDef="adjustment">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Adjustments </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.adjustment}} </mat-cell>
              </ng-container>
      
              <!-- Weight Column -->
              <ng-container matColumnDef="bankCreditDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Bank Credit Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.bankCreditDate | date: 'dd-MM-yyyy'}} </mat-cell>
              </ng-container>
    
              <!-- Symbol Column --> 
              <ng-container matColumnDef="customerGroup">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Customer Group</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.customerGroup}} </mat-cell>
              </ng-container>
  
              <!-- Symbol Column --> 
              <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.date | date: 'dd-MM-yyyy'}} </mat-cell>
              </ng-container>
  
              <!-- Symbol Column --> 
              <ng-container matColumnDef="invoice">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Invoice </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.invoice}} </mat-cell>
              </ng-container>

              <!-- Symbol Column --> 
              <ng-container matColumnDef="number">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Number </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.number}} </mat-cell>
              </ng-container>

              <!-- Symbol Column --> 
              <ng-container matColumnDef="paymentMode">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Payment Mode </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.paymentMode}} </mat-cell>
              </ng-container>
          
              <!-- Symbol Column --> 
              <ng-container matColumnDef="paymentReceived">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Payment Received </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.paymentReceived}} </mat-cell>
              </ng-container>
          
              <!-- Symbol Column --> 
              <ng-container matColumnDef="receivedInBank">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Received In Bank </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <p style="margin: auto" *ngIf="element.receivedInBank==1">Yes</p>
                  <p style="margin: auto" *ngIf="element.receivedInBank==0">No</p>
                </mat-cell>
              </ng-container>

              <!-- Symbol Column --> 
              <ng-container matColumnDef="tds">
                <mat-header-cell *matHeaderCellDef mat-sort-header> TDS </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.tds}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Options">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Options</mat-header-cell>
                <mat-cell *matCellDef="let element ;let row" (click)="$event.stopPropagation()">
                  <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                  <mat-menu #menu="matMenu">
                    <!-- <button mat-menu-item (click)="selectRow(row)">Edit</button> -->
                    <button *ngIf="permission.manageVisaReceipts" (click)="deleteVisaReceipt(row)" mat-menu-item>Delete</button>
                  </mat-menu>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
      
            <mat-paginator [length]="lengthVisa"
              [pageSize]="pageSizeVisa"
              [pageSizeOptions]="pageSizeOptionsVisa">
            </mat-paginator>
          </div>
        </mat-tab>
      </mat-tab-group>

      <div class="col-lg-12" align="right">
        <div class="fab-container">
          <button mat-fab class="fab-toggler"
            (click)="onToggleFab()">
            <i class="material-icons" [@fabToggler]="{value: fabTogglerState}">add</i> <!-- Animation here -->
          </button>
          <div [@speedDialStagger]="buttons.length"> <!-- and here -->
            <button               
              *ngFor="let btn of buttons; let i = index"
              mat-mini-fab
              class="fab-secondary"
              color="secondary"
              (click)="openReceipt(i)">
              <i class="material-icons">{{btn.icon}}</i>
            </button>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>

  <!-- <div class="col-lg-12" align="right">
    <a *ngIf="permission.manageReceipts==1" (click)="addReceipt()" class="float">
      <i style="color: ghostwhite" class="fa fa-plus my-float"></i>
    </a>
  </div> -->
  
    