<div  class="row">
    <div class="col-lg-12">
    <div style="margin: auto;" class="row ptb-10" *ngIf="tracking==true">        
      <div class="col-lg-4 col-md-4 col-12"><h6>Customer: </h6>{{customer}}</div>
      <div class="col-lg-4 col-md-4 col-12"><h6>Passenger: </h6>{{passenger}}</div>
      <div class="col-lg-4 col-md-4 col-12"><h6>Driver: </h6>{{driver}}</div>
    </div>
    <div style="margin: auto;" class="row ptb-10" *ngIf="tracking==true">
        <div class="col-lg-4 col-md-4 col-12" *ngIf="reportingAddress!=''"><h6>From: </h6>{{reportingAddress}}</div>
        <div class="col-lg-4 col-md-4 col-12" *ngIf="dropAddress!=''"><h6>To: </h6>{{dropAddress}}</div>
        <div class="col-lg-4 col-md-4 col-12"><h6>Vehicle: </h6>{{vehicleName}} ({{vehicleNo}})</div>
    </div>
    <div style="margin: auto;" class="row ptb-10" *ngIf="tracking==true">        
      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" [streetViewControl]="false">
        <agm-marker *ngFor = "let data of markers"
          [latitude]="data.lattitude"
          [longitude]="data.longitude"
          [iconUrl]="{
              url: './assets/images/cars.svg',
              scaledSize: {
                width: 30,
                height: 50
              }
            }">
          <agm-info-window>
            <strong> {{data.CurrentLocation}}</strong>
            <p style="text-align: center;margin-bottom: 0;">
              Vehicle No: {{data.Vehicle_No}}
            </p>
          </agm-info-window>            
        </agm-marker>
      </agm-map>
    </div>
    <div style="margin: auto;" class="row ptb-10" *ngIf="tracking==false">        
      <h5>Vehicle Tracking is not available or duty has been completed</h5>
    </div>
</div>
</div>