<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-body>
        <h2>Add Price</h2>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-12">
    <nb-card>
      <nb-card-body>
          <div *ngIf="tempDutyType=='HR-KM(Local)'">
            
              
              <tr>
                <th>Local 10HR and 100Km</th>
                <th>Local 10HR and 100Km and Extra Km</th>
                <th>Local 10HR and 100Km and Extra Hr</th>
              </tr>

              
              <tr *ngFor="let items of row;trackBy:trackByVehicle;let i=index">
                <td>{{i}}</td>
               
                  <td>
                      <mat-form-field style="width: 80%"><input matInput formControlName="local10hr"></mat-form-field>
                  </td>
                  <td>
                      <mat-form-field style="width: 80%"><input matInput formControlName="extrakm"></mat-form-field>
                  </td>
                  <td>
                      <mat-form-field style="width: 80%"><input matInput formControlName="extrahr"></mat-form-field>
                  </td>
              </tr>
            </div>
           
          
          
       

        <div *ngIf="tempDutyType=='Flat Rate'">
          
            <tr>
                <th>Flat Rate</th>
                <th>Flat Rate Extra Km</th>
              </tr>
              <tr>
                  <td>
                    <mat-form-field style="width: 80%"><input matInput></mat-form-field>
                  </td>
                  <td>
                    <mat-form-field style="width: 80%"><input matInput></mat-form-field>
                  </td>
                 
              </tr>
        </div>
          
          <div *ngIf="tempDutyType=='Day-KM(Outstation)'">
            <tr>
              <th>OutStation Rate</th>
              <th>OutStation Extra Km</th>
            </tr>
            <tr>
              <td><mat-form-field style="width: 80%"><input matInput></mat-form-field></td>
              <td><mat-form-field style="width: 80%"><input matInput></mat-form-field></td>
            </tr>   
               
          </div>

          <div *ngIf="tempDutyType=='Long Duration-Total KM and HR(Monthly Bookings)'">
              <tr>
                <th>Long Duration Extra Km</th>
                <th>Long Duration Extra HR</th>
              </tr>
              <tr>
                <td><mat-form-field style="width: 80%"><input matInput></mat-form-field></td>
                <td><mat-form-field style="width: 80%"><input matInput></mat-form-field></td>
              </tr>   
                 
            </div>
            <div *ngIf="tempDutyType=='Long Duration-Total KM Daily HR(Monthly Bookings)'">
                <tr>
                  <th>OutStation Rate</th>
                  <th>OutStation Extra Km</th>
                </tr>
                <tr>
                  <td><mat-form-field style="width: 80%"><input matInput></mat-form-field></td>
                  <td><mat-form-field style="width: 80%"><input matInput></mat-form-field></td>
                </tr>   
                   
              </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>