<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
        New Suppiler Group
      </nb-card-header>
      <nb-card-body>
        Enter Supplier Group Name
        <mat-form-field>
          <input matInput [(ngModel)]="newSupplierGroup.name">
        </mat-form-field>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="row ptb-10">
    <div class="col-lg-12">
      <button mat-raised-button color="primary" (click)="submit()">Submit</button>
      <button mat-raised-button color="warn" (click)="closeDialog()">Close</button>
    </div>
  </div>
</div>