
<style>
  mat-card {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 3px 24px -1px rgba(0,0,0,.2), 0 3px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
}
.signin-content {
  padding: 60px 1rem;
}
.full-width-input {
  width: 100%;
}

.mat-form-field{
  margin-top: 20px;
}
</style>
<div class="signin-content" id="test">
  <mat-card>
    <mat-card-content>
      <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
        <div style="margin:20px">
          <img alt="" src="../../../assets/icons/iconfinder_user_925901.svg" style="width:20%">
        </div>
        <h5>LOG IN</h5>
        <p *ngIf="isError" [@fadeInOut] style="color:red;">{{error}}</p>
        <mat-form-field class="full-width-input">
          <input type="email" matInput placeholder="Email address" [(ngModel)]="email" (keyup)="isError=false"  name="email" required>
        </mat-form-field>
        <mat-form-field class="full-width-input" *ngIf="!passwordReset" [@fadeInOut]>
          <input matInput type="password" placeholder="Password" [(ngModel)]="password" (keyup)="isError=false" name="password" required>
        </mat-form-field>
        <div *ngIf="!passwordReset" [@fadeInOut]> 
          <a style="margin-top: 10px;color:darkblue;" (click)="resetPassword()">Forgot Password?</a>
        </div>
        <div *ngIf="emailSent"> 
          Password reset E-mail has been sent.<br><a style="margin-top: 10px;color:darkblue;" (click)="sendEmail()">Click here</a> to send again.
        </div>
        <button style="margin-top:50px; width:200px;" *ngIf="!passwordReset" type="submit" [disabled]="!formData.valid" mat-raised-button color="primary">Login</button>
        <mat-progress-bar [hidden]="!loader" style="max-width:200px; margin:auto; margin-bottom: 20px"
            color="primary"
            mode="indeterminate">
        </mat-progress-bar>
      </form>
      <button [@fadeInOut] style="margin-top:50px; width:200px;" *ngIf="passwordReset==true && emailSent==false" mat-raised-button color="primary" (click)="sendEmail()">Reset my password</button>
      <br><button [@fadeInOut] style="margin-top:20px;" *ngIf="passwordReset==true" mat-icon-button (click)="gotoLogin()"><mat-icon>arrow_back</mat-icon></button>
    </mat-card-content>
  </mat-card>
</div>