<div class="row">
  <div class="col-lg-12 col-12">    
    <nb-card>      
      <nb-card-body>
        <div class="row">
          <div class="col-lg-6 col-12">
            <mat-form-field>
              <mat-select [(ngModel)]="predefined"  placeholder="Preset" >
                <mat-option *ngFor="let element of presets" [value]="element.name" (click)="predefinedRoles(element)"> 
                  {{element.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-12">
            <form [formGroup]="preset">
              <mat-form-field>
                <input matInput placeholder="Preset Name" formControlName="permissionName">
                <mat-error>
                  Enter a Permission Name to save as a preset
                </mat-error>  
              </mat-form-field>
              <button mat-raised-button color="primary" [disabled]="preset.invalid" (click)="savePreset()">Save Preset</button>
            </form>
            <!-- <button mat-icon-button class="close-button" color="warn" (click)="close()"><mat-icon style="font-size: 25px;">close</mat-icon></button> -->      
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-8 col-12">
            Customer Name:
            <mat-form-field class="w-100">
              <!-- <input aria-placeholder="Pick one" (change)="setCustomer(option)" name="cname" [(ngModel)]="bookings.cname" matInput [matAutocomplete]="custauto"> -->
              <input aria-placeholder="Pick one"  name="cname" [formControl]="customerCtrl" matInput [matAutocomplete]="custauto" >
              <mat-autocomplete #custauto="matAutocomplete">
                <mat-option *ngFor="let option of customer |async" [value]="option.name" (onSelectionChange)="setCustomer(option,$event)">
                  {{ option.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>      
        </div>
        <div class="row">
          <div class="col-lg-6 col-12">
            <mat-form-field class="w-100">
              Start Date
              <input matInput [(ngModel)]="bookings.startDate" [matDatepicker]="startDate" (click)="startDate.open()" readonly name="startDate">
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-12">
            <mat-form-field class="w-100">
              End Date
              <input matInput [(ngModel)]="bookings.endDate" [matDatepicker]="endDate" (click)="endDate.open()" readonly name="endDate">         
              <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-12">
            <mat-checkbox [ngModel]="exportBookings.customerName" (ngModelChange)="change($event,&quot;h.customerName as 'Customer Name'&quot;)">
              Customer Name
            </mat-checkbox><br>
            <mat-checkbox [ngModel]="exportBookings.checkInDate" (ngModelChange)="change($event,&quot;h.checkInDate as 'Check In Date'&quot;)">
              Check In Date
            </mat-checkbox><br>
            <mat-checkbox [ngModel]="exportBookings.checkOutDate" (ngModelChange)="change($event,&quot;h.checkOutDate as 'Check Out Date'&quot;)">
              Check Out Date
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.bookBy" (change)="change($event,&quot;h.bookByName as 'Booked By'&quot;)">
              Booked by
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.bookByNo" (change)="change($event,&quot;h.bookByNo as 'Booked By No'&quot;)">
              Booked by Phone
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.bookByEmail" (change)="change($event,&quot;h.bookByEmail as 'Booked By Email'&quot;)">
              Booked by Email
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.guestName" (change)="change($event,&quot;h.guestName as 'Guest Name'&quot;)">
              Guest Name
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.hotelName" (change)="change($event,&quot;h.hotelName as 'Hotel Name'&quot;)">
              Hotel Name
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.billedToNo" (change)="change($event,&quot;h.billedToNo as 'Billed To Number'&quot;)">
              Billed To Number
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.billedToEmail" (change)="change($event,&quot;h.billedToEmail as 'Billed To Email'&quot;)">
              Billed To Email
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.room" (change)="change($event,&quot;h.room as 'Room'&quot;)">
              Room
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.occupancy" (change)="change($event,&quot;h.occupancy as 'Occupancy'&quot;)">
              Occupancy
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.guestNumber" (change)="change($event,&quot;h.guestMobile as 'Guest Name'&quot;)">
              Guest Number
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.guestEmail" (change)="change($event,&quot;h.guestEmail as 'Guest Email'&quot;)">
              Guest Email
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.checkInTime" (change)="change($event,&quot;h.checkInTime as 'Check In Time'&quot;)">
              Check In Time
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.checkOutTime" (change)="change($event,&quot;h.checkOutTime as 'checkOutTime'&quot;)">
              checkOutTime
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.nights" (change)="change($event,&quot;h.nights as 'Nights'&quot;)">
              Nights
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.noOfPeople" (change)="change($event,&quot;h.noOfPeople as 'Number of People'&quot;)">
              Number of People
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.confNo" (change)="change($event,&quot;h.confNo as 'Conf Number'&quot;)">
              Conf No
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.inclusion" (change)="change($event,&quot;h.inclusion as 'Inclusion'&quot;)">
              Inclusion
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.rate" (change)="change($event,&quot;h.rate as 'Rate'&quot;)">
              Rate
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.amount" (change)="change($event,&quot;h.amount as 'Amount'&quot;)">
              Amount
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.paymentMode" (change)="change($event,&quot;h.paymentMode as 'Payment Mode'&quot;)">
              Payment Mode
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.taxes" (change)="change($event,&quot;h.taxes as 'Taxes'&quot;)">
              taxes
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.hotelBillNo" (change)="change($event,&quot;h.hotelBillNo as 'Hotel Bill Number'&quot;)">
              Hotel Bill Number
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.hotelAmount" (change)="change($event,&quot;h.hotelAmount as 'Hotel Amount'&quot;)">
              Hotel Amount
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.total" (change)="change($event,&quot;h.total as 'Total'&quot;)">
              Total
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.intInclusion" (change)="change($event,&quot;h.intInclusion as 'Int Inclusion'&quot;)">
              Int Inclusion
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.hotelRate" (change)="change($event,&quot;h.hotelRate as 'Hotel Rate'&quot;)">
              Hotel Rate
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.intAmount" (change)="change($event,&quot;h.intAmount as 'Int Amount'&quot;)">
              Int Amount
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.agents" (change)="change($event,&quot;h.agents as 'Agents'&quot;)">
              Agents
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.commission" (change)="change($event,&quot;h.commission as 'Commission'&quot;)">
              Commission
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.intTaxes" (change)="change($event,&quot;h.intTaxes as 'Int Taxes'&quot;)">
              Int Taxes
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.intTotal" (change)="change($event,&quot;h.intTotal as 'Int Total'&quot;)">
              Int Total
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.hotelCity" (change)="change($event,&quot;h.hotelCity as 'Hotel City'&quot;)">
              Hotel City
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.status" (change)="change($event,&quot;h.status as 'Status'&quot;)">
              Status
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.message" (change)="change($event,&quot;l.message as 'Message'&quot;)">
              Message
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.invoiceNumber" (change)="change($event,&quot;i.invoiceNumber as 'Invoice Number'&quot;)">
              Invoice Number
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.invoiceDate" (change)="change($event,&quot;i.invoiceDate as 'Invoice Date'&quot;)">
              Invoice Date
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.invoicePeriodFrom" (change)="change($event,&quot;i.invoicePeriodFrom as 'Invoice Period From'&quot;)">
              Invoice Period From
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.invoicePeriodTo" (change)="change($event,&quot;i.invoicePeriodTo as 'Invoice Period To'&quot;)">
              Invoice Period To
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.poNumber" (change)="change($event,&quot;i.poNumber as 'PO Number'&quot;)">
              PO Number
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.ccNumber" (change)="change($event,&quot;i.ccNumber as 'CC Number'&quot;)">
              CC Number
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.totalAmount" (change)="change($event,&quot;i.totalAmount as 'totalAmount'&quot;)">
              Total Amount
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.taxType" (change)="change($event,&quot;i.taxType as 'Tax Type'&quot;)">
              Tax Type
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.taxRate" (change)="change($event,&quot;i.taxRate as 'Tax Rate'&quot;)">
              Tax Rate
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.taxAmount" (change)="change($event,&quot;i.taxAmount as 'Tax Amount'&quot;)">
              Tax Amount
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.discountType" (change)="change($event,&quot;i.discountType as 'Discount Type'&quot;)">
              Discount Type
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.discountAmount" (change)="change($event,&quot;i.discountAmount as 'Discount Amount'&quot;)">
              Discount Amount
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.invoiceStatus" (change)="change($event,&quot;i.status as 'Invoice Status'&quot;)">
              Invoice Status
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.advancedReceived" (change)="change($event,&quot;i.advanceReceived as 'Advanced Received'&quot;)">
              Advanced Received
            </mat-checkbox><br>
            
        </div>                             
      </div>
    </nb-card-body>
  </nb-card>    
</div>
</div>
<div class="row ptb-10">
<div class="col-lg-12 col-12">
  <button mat-raised-button color="primary" (click)="getHotelBookings()">Export</button>
  <button mat-raised-button color="warn" (click)="closeDialog()">Close</button>
</div>
</div>

