<div class="row">
  <div class="col-lg-12">
  <nb-card>
    <nb-card-header>
      Duty Allotment
    </nb-card-header>
    <nb-card-body>
      <div class="modal-row">
        <div style="margin-left:20px;" class="col-lg-6">
          <div style="padding:5px;">
            Customer Name: <b>{{duty.cname}}</b>
          </div>
          <div style="padding:5px;">
            Date:<b>{{duty.startDate}}</b>
          </div>
          <div style="padding:5px;">
            Vehicle Group: <b>{{duty.vehicleGroup}}</b>
          </div>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div style="margin-left:20px;" class="col-lg-5">
          <div style="padding:5px;">
            Passenger Name: <b>{{duty.passenger}}</b>
          </div>
          <div style="padding:5px;">
            Short Reporting Address: <b>{{duty.shortReportingAddress}}</b>
          </div>
          <div style="padding:5px;">
            Duty Type: <b>{{duty.dutyType}}</b>
          </div>
        </div>
        <div class="col-lg-12">
          <div align="center" style="padding:5px;">
            <mat-form-field>
              <mat-select placeholder="Allot" [(ngModel)]="dropDown">
                <mat-option value="driver">
                  Driver/Vehicle
                </mat-option>
                <mat-option value="supplier" *ngIf="duty.ownerDId == null">
                  Supplier
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <div align="center" *ngIf="dropDown==='driver'"><h5>Allot Vehicle & Driver</h5></div>
            <div align="center"  *ngIf="dropDown==='supplier'"><h5>Allot to Supplier</h5></div>
            <div *ngIf="dropDown==='driver'" >
              <table align="center" style="width:90%">
                <tr>
                  <th>
                    Model Name
                  </th>
                  <th>
                    Number
                  </th>
                  <th>
                    Driver
                  </th>
                  <th>
                    Status
                  </th>
                  <th></th>
                </tr>
                <tr *ngFor="let temp of dataSource1; let i=index">
                  <td class="driver-td">
                    {{temp.modelname}}
                  </td>
                  <td class="driver-td">
                    {{temp.number}}
                  </td>
                  <td class="driver-td" [formGroup]="allotForm">
                    <mat-form-field *ngIf="duty.dutyType!='Self Drive'" style="padding-left:10px">
                      <mat-select placeholder="Choose Driver" formControlName="driver">
                        <mat-select-trigger>
                          {{this.allotForm.get('driver').value}} <mat-icon *ngIf="mobileIcon">phone_iphone</mat-icon>
                        </mat-select-trigger>
                        <mat-option *ngFor="let temp of DriverObs" [value]="temp.name" (click)="allotDriver(temp)">
                          {{temp.name}} <mat-icon *ngIf="temp.userId != null">phone_iphone</mat-icon>
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div *ngIf="duty.dutyType=='Self Drive'">
                      <b>Self Drive</b>
                    </div>
                  </td>
                  <td class="driver-td">
                    <mat-chip-list>
                      <mat-chip color="primary" selected *ngIf="test1[i]">Available</mat-chip>                                                                     
                      <mat-chip color="warn" selected matTooltip="Available after -" *ngIf="!test1[i]">Unavailable</mat-chip>
                    </mat-chip-list>
                  </td>
                  <td class="driver-td">
                    <button mat-raised-button color="primary"(click)="updateAllot(temp)" *ngIf="test1[i]">Allot</button>
                  </td>
                </tr>
              </table>
            </div>
            <div *ngIf="dropDown==='supplier'">
                <table align="center" style="width:90%">
                  <thead>
                    <th>Supplier Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>City</th>
                    <th>&#10004;</th>
                  </thead>
                  <tr *ngFor="let temp of supplierObs" >
                    <td class="supplier-td">
                        <b><mat-icon matTooltip="From Circles" *ngIf="temp.supplierOwnerId">cloud</mat-icon>
                          <mat-icon matTooltip="Supplier-cum-Driver" *ngIf="temp.type=='Owner-cum-Driver'">transfer_within_a_station</mat-icon>
                        </b>
                        {{temp.name}}
                    </td>
                    <td class="supplier-td">
                        {{temp.phone}}
                    </td>
                    <td class="supplier-td">
                        {{temp.email}}
                    </td>
                    <td class="supplier-td">
                        {{temp.headOfficeCity}}
                    </td>
                    <td class="supplier-td">
                        <mat-radio-group [(ngModel)]="test">
                            <mat-radio-button class="supplier-radio" [value]="temp"></mat-radio-button>
                        </mat-radio-group>
                    </td>
                  </tr>
                </table>
            </div>
          </div>
        </div>
      </div>

      <button style="margin:5px; float:right;" mat-raised-button color="primary" *ngIf="dropDown==='supplier'" (click)="sendRequest()">Send Request</button>
    </nb-card-body>
  </nb-card>
  <div class="col-lg-12 col-12" style="text-align:right;">
      <button mat-raised-button color="warn" (click)="closeDialog()">Close</button>
  </div>
</div>
</div>