.body-hidden{
    overflow: hidden !important;
}
form{
    float: right;
}

::ng-deep .mat-tab-body-content {
    overflow: hidden !important;
}

.close-button {
    position: absolute;
    right: -8.5px;
    top: -24px;
    border-radius: 5px;
    padding-bottom: 20px !important;
    padding-left: 10px !important;
}

.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    min-width: 33px !important;
    line-height: 20px !important;
    padding: 0px 0px; 
    
}