
<nb-card style="min-width:65vw;">
  <nb-card-header>
    Incoming Request
  </nb-card-header>
  <nb-card-body class="no-overflow">
    <div class="row">
      <div class="col-lg-6">
        <div class="mapping">
          <tr>
            <td>
              <b>Incoming Duty Type</b>
            </td>
          </tr>
          <tr>
            Name:{{incomingDuty.dutyType}}
          </tr>
          <tr>
            Duty Type:{{supplierDutyType.dType}}
            </tr>
          <tr>
            Max Hours:{{supplierDutyType.maxHrs}}
          </tr>
          <tr>
            Max Kms:{{supplierDutyType.maxKms}}
          </tr>
          <tr>
            Max Days:{{supplierDutyType.maxDays}}
          </tr>
        </div>
      
        <mat-divider></mat-divider>

        <div class="mapping">
          <tr>
            <b>Incoming Vehicle Group</b>
          </tr>
          <tr>
            Vehicle Group:{{incomingDuty.vehicleGroup}}
          </tr>
        </div>
        
      </div>

      <mat-divider [vertical]="true"></mat-divider>

      <div class="col-lg-5">
        <div class="mapping">
          <tr>
            <b>Select Duty Type</b>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <input placeholder="Pick one" matInput [formControl]="dutyTypeCtrl"  [matAutocomplete]="autoDT">
                <mat-autocomplete #autoDT="matAutocomplete">
                  <mat-option *ngFor="let option of dutyType | async" [value]="option.name" (onSelectionChange)="setDutyType(option,$event)">
                    {{ option.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
            <td>
              <p *ngIf="errorMatch==false" style="color:red; margin-left: 5px;"><mat-icon style="color:red">warning</mat-icon>Current Duty Type is not compatiable</p>
            </td>
          </tr>
          <tr>
            <b>Selected Duty Type</b>
          </tr>
          <tr>
            Max Hours:{{selectedDutyType.maxHrs}}
          </tr>
          <tr>
            Max Kms:{{selectedDutyType.maxKms}}
          </tr>
          <tr>
            Max Days:{{selectedDutyType.maxDays}}
          </tr>
        </div>
      
        <mat-divider></mat-divider>

        <div class="mapping">
          <tr>
            <b>Select vehicle group</b>
          </tr>
          <tr>
            <mat-form-field>
              <input placeholder="Pick one" matInput [formControl]="vehicleGroupCtrl"  [matAutocomplete]="autoVG">
              <mat-autocomplete #autoVG="matAutocomplete">
                <mat-option *ngFor="let option of vehicleGroup | async" [value]="option.name" (onSelectionChange)="setVehicleGroup(option,$event)">
                  {{ option.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </tr>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<button mat-raised-button color="primary" [disabled]="errorMatch==false" (click)="confirmRequest()">Confirm</button>
<button mat-raised-button color="warn" (click)="exit()">Exit</button>






