<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
          Fuel Expenses
      </nb-card-header>
      <nb-card-body>
          <div align="center">
              <mat-form-field class="filter-field">
                <input matInput   placeholder="Filter"   [(ngModel)]="searchTerm" (keyup)="search($event.target.value)">
              </mat-form-field>
      
              <button mat-icon-button><mat-icon class="filter-icon">search</mat-icon></button>
              <button mat-icon-button (click)="clear()"><mat-icon class="filter-icon">highlight_off</mat-icon></button>
          </div>
        <mat-table #table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="driver">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Vehicle Name</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.vehicleName}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="fuelType">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Driver</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.driver}} </mat-cell>
          </ng-container>
                    
          <ng-container matColumnDef="currentKMS">
            <mat-header-cell *matHeaderCellDef mat-sort-header>KMS</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.currentKMS}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="fuelCost">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Mileage</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.mileage}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="Options">
            <mat-header-cell *matHeaderCellDef> Options</mat-header-cell>
            <mat-cell *matCellDef="let element ;let row">
              <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
              <mat-menu #menu="matMenu">
                <!-- <button mat-menu-item (click)="selectRow(row)">Edit</button> -->
                <button (click)="deleteFuel(row)" mat-menu-item>Delete</button>
              </mat-menu>
            </mat-cell>
          </ng-container>
        
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></mat-row>
        
        </mat-table>
          
        <mat-paginator
          [length]="length"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>        
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-12">
    <a *ngIf="permission.addVehicleFuel" (click)="selectRow(null)" class="float">
      <i style="color: ghostwhite" class="fa fa-plus my-float"></i>
    </a>      
  </div>
</div>


