<div class="row">
  <div class="col-lg-12 col-12">    
    <nb-card>      
      <nb-card-body>
        <div class="row">
          <div class="col-lg-6 col-12">
            <mat-form-field>
              <mat-select [(ngModel)]="predefined"  placeholder="Preset" >
                <mat-option *ngFor="let element of presets" [value]="element.name" (click)="predefinedRoles(element)"> 
                  {{element.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-12">
            <form [formGroup]="preset">
              <mat-form-field>
                <input matInput placeholder="Preset Name" formControlName="permissionName">
                <mat-error>
                  Enter a Permission Name to save as a preset
                </mat-error>  
              </mat-form-field>
              <button mat-raised-button color="primary" [disabled]="preset.invalid" (click)="savePreset()">Save Preset</button>
            </form>
            <!-- <button mat-icon-button class="close-button" color="warn" (click)="close()"><mat-icon style="font-size: 25px;">close</mat-icon></button> -->      
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-8 col-12">
            Customer Name:
            <mat-form-field class="w-100">
              <!-- <input aria-placeholder="Pick one" (change)="setCustomer(option)" name="cname" [(ngModel)]="bookings.cname" matInput [matAutocomplete]="custauto"> -->
              <input aria-placeholder="Pick one"  name="cname" [formControl]="customerCtrl" matInput [matAutocomplete]="custauto" >
              <mat-autocomplete #custauto="matAutocomplete">
                <mat-option *ngFor="let option of customer |async" [value]="option.name" (onSelectionChange)="setCustomer(option,$event)">
                  {{ option.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>      
        </div>
        <div class="row">
          <div class="col-lg-6 col-12">
            <mat-form-field class="w-100">
              Start Date
              <input matInput [(ngModel)]="bookings.startDate" [matDatepicker]="startDate" (click)="startDate.open()" readonly name="startDate">
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-12">
            <mat-form-field class="w-100">
              End Date
              <input matInput [(ngModel)]="bookings.endDate" [matDatepicker]="endDate" (click)="endDate.open()" readonly name="endDate">         
              <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-12">
            <mat-checkbox [(ngModel)]="exportBookings.fromLoc" (change)="change($event,&quot;fb.from as 'From'&quot;)">
              From
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.toLoc" (change)="change($event,&quot;fb.to as 'To'&quot;)">
              To
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.departureDate" (change)="change($event,&quot;fb.departureDate as 'Departure Date'&quot;)">
              Departure Date
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.customerName" (change)="change($event,&quot;fb.customerName as 'Customer Name'&quot;)">
              Customer Name
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.bookByName" (change)="change($event,&quot;fb.bookByName as 'Book By'&quot;)">
              Book By
            </mat-checkbox><br><mat-checkbox [(ngModel)]="exportBookings.bookByNo" (change)="change($event,&quot;fb.bookByNo as 'Book By Number'&quot;)">
              Book By Number
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.guestName" (change)="change($event,&quot;fb.guestName as 'Guest Name'&quot;)">
              Guest Name
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.price" (change)="change($event,&quot;fb.price as 'Price'&quot;)">
              Price
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.guestMobile" (change)="change($event,&quot;fb.guestMobile as 'Guest Mobile Number'&quot;)">
              Guest Mobile
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.handlingCharges" (change)="change($event,&quot;fb.handlingCharges as 'Handling Charges'&quot;)">
              Handling Charges
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.flightNo" (change)="change($event,&quot;fb.flightNo as 'Flight Number'&quot;)">
              Flight Number
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.arrivalDate" (change)="change($event,&quot;fb.arrivalDate as 'Arrival Date'&quot;)">
              Arrival Date
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.flightNoReturn" (change)="change($event,&quot;fb.flightNoReturn as 'Flight Number Return'&quot;)">
              Flight Number Return
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.flightNoConnecting" (change)="change($event,&quot;fb.flightNoConnecting as 'Flight Number Connecting'&quot;)">
              Flight Number Connecting
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.flightNoConnectingReturn" (change)="change($event,&quot;fb.flightNoConnectingReturn as 'Flight Number Connecting Return'&quot;)">
              Flight Number Connnecting Return
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.isInternational" (change)="change($event,&quot;fb.international as 'International'&quot;)">
              International
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.status" (change)="change($event,&quot;fb.status as 'Status'&quot;)">
              Status
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.connectingReturnFrom" (change)="change($event,&quot;fb.connectingReturnFrom as 'Connecting Return From'&quot;)">
              Connecting Return From 
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.connectingReturnTo" (change)="change($event,&quot;fb.connectingReturnTo as 'Connecting Return To'&quot;)">
              Connecting Return To
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.invoiceNumber" (change)="change($event,&quot;iv.invoiceNumber as 'Invoice Number'&quot;)">
              Invoice Number
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.invoiceDate" (change)="change($event,&quot;iv.invoiceDate as 'Invoice Date'&quot;)">
              Invoice Date
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.invoicePeriodFrom" (change)="change($event,&quot;iv.invoicePeriodFrom as 'Invoice Period From'&quot;)">
              Invoice Period From
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.invoicePeriodTo" (change)="change($event,&quot;iv.invoicePeriodTo as 'Invoice Period To'&quot;)">
              Invoice Period To
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.poNumber" (change)="change($event,&quot;iv.poNumber as 'PO Number'&quot;)">
              PO Number
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.ccNumber" (change)="change($event,&quot;iv.ccNumber as 'CC Number'&quot;)">
              CC Number
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.totalAmount" (change)="change($event,&quot;iv.totalAmount as 'totalAmount'&quot;)">
              Total Amount
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.taxType" (change)="change($event,&quot;iv.taxType as 'Tax Type'&quot;)">
              Tax Type
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.taxRate" (change)="change($event,&quot;iv.taxRate as 'Tax Rate'&quot;)">
              Tax Rate
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.taxAmount" (change)="change($event,&quot;iv.taxAmount as 'Tax Amount'&quot;)">
              Tax Amount
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.discountType" (change)="change($event,&quot;iv.discountType as 'Discount Type'&quot;)">
              Discount Type
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.discountAmount" (change)="change($event,&quot;iv.discountAmount as 'Discount Amount'&quot;)">
              Discount Amount
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.invoiceStatus" (change)="change($event,&quot;iv.status as 'Invoice Status'&quot;)">
              Invoice Status
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.advancedReceived" (change)="change($event,&quot;iv.advanceReceived as 'Advanced Received'&quot;)">
              Advanced Received
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="exportBookings.extraCharges" (change)="change($event,&quot;sum(ie.amount) as 'Total Extra Charges'&quot;)">
              Extra Charges
            </mat-checkbox><br>
            
        </div>                             
      </div>
    </nb-card-body>
  </nb-card>    
</div>
</div>
<div class="row ptb-10">
<div class="col-lg-12 col-12">
  <button mat-raised-button color="primary" (click)="getVisaBookings()">Export</button>
  <button mat-raised-button color="warn" (click)="closeDialog()">Close</button>
</div>
</div>

