<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
        Tags
      </nb-card-header>
      <nb-card-body>
        <div align="center">
          <mat-form-field class="filter-field">
            <input matInput   placeholder="Filter"   [(ngModel)]="searchTerm" (keyup)="search($event.target.value)">
          </mat-form-field>
  
          <button mat-icon-button><mat-icon class="filter-icon">search</mat-icon></button>
          <button mat-icon-button (click)="clear()"><mat-icon class="filter-icon">highlight_off</mat-icon></button>
        </div>
        <mat-table #table [dataSource]="dataSource" matSort>
  
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="color">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
            <mat-cell style="justify-content: center; display:flex;" *matCellDef="let element"> <div class="box" [style.background]="element.color"></div> </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Options">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Options</mat-header-cell>
            <mat-cell *matCellDef="let element ;let row" (click)="$event.stopPropagation()">
              <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
              <mat-menu #menu="matMenu">
              <!-- <button mat-menu-item (click)="selectRow(row)">Edit</button> -->
              <button (click)="deleteLabel(row)" mat-menu-item>Delete</button>
              </mat-menu>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></mat-row>
        </mat-table>
        
        <mat-paginator [length]="length"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-12" align="right">
    <a *ngIf="permission.addLabels" (click)="selectRow(null)" class="float">
      <i style="color: ghostwhite" class="fa fa-plus my-float"></i>
    </a>
  </div>
</div>