<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>New Supplier</nb-card-header>
            <nb-card-body>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-12">                            
                            <mat-form-field class="bottom-align">
                                Name
                                <input [(ngModel)]="Supplier.name" name="name" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 col-12">
                            <mat-form-field>
                                Email
                                <input matInput [(ngModel)]="Supplier.email" name="email" #newEmail />
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 col-12">
                            <mat-form-field>
                                Phone Number
                                <input matInput [(ngModel)]="Supplier.phone" name="phone" #newPhone />
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 col-12">
                            <mat-form-field>
                                Type
                                <mat-select [(ngModel)]="Supplier.type" name="type">
                                    <mat-option value="Owner">Owner</mat-option>
                                    <mat-option value="Owner-cum-Driver">Owner-cum-Driver</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>                        
                    </div>                                        
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <mat-form-field class="w-100">
                                Address
                                <textarea rows="4" [(ngModel)]="Supplier.saddress" name="saddress" matInput #newAddress></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 col-12">
                            <mat-form-field class="bottom-align">
                                State
                                <input matInput [formControl]="NewSupplierStateControl" [matAutocomplete]="auto1">
                                <mat-autocomplete #auto1="matAutocomplete">
                                    <mat-option *ngFor="let option of newSupplierStates | async" [value]="option" (onSelectionChange)="SuppStateSelect(option,$event)">
                                        {{ option }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 col-12">
                            <mat-form-field class="bottom-align">
                                Alternate Phone Number
                                <input matInput [(ngModel)]="Supplier.billingPhone" name="billingPhone" #newAPhone />
                            </mat-form-field>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <mat-form-field class="w-100">
                                Billing Address
                                <textarea rows="4" matInput [(ngModel)]="Supplier.billingAddress" name="billingAddress" #newBAddress ></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 col-12">
                            <mat-form-field class="bottom-align">
                                State
                                <input matInput [formControl]="GSTStateControl" [matAutocomplete]="auto2">
                                <mat-autocomplete #auto2="matAutocomplete">
                                    <mat-option *ngFor="let option of gstbillingStates | async" [value]="option" (onSelectionChange)="SuppGSTStateSelect(option,$event)">
                                        {{ option }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 col-12">
                            <mat-form-field class="bottom-align">
                                Head Office City
                                <input [(ngModel)]="Supplier.headOfficeCity" name="headOfficeCity" matInput #newCity />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-12">
                            <mat-form-field>
                                PAN
                                <input matInput [(ngModel)]="Supplier.panNo" name="panNo" #newPAN />
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 col-12">
                            <mat-form-field>
                                GSTIN
                                <input matInput [(ngModel)]="Supplier.gstin" name="gstin"  #newGSTIN />
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 col-12">
                            <mat-form-field>
                                TDS %
                                <input matInput [(ngModel)]="Supplier.tdsPercent" name="tdsPercent" #newTDS />
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 col-12">
                            <mat-form-field>
                                Service Tax Number
                                <input matInput [(ngModel)]="Supplier.billingServiceTax" name="billingServiceTax" #newServiceTax />
                            </mat-form-field>
                        </div>
                    </div>                                       
                    <div class="row">
                        <div class="col-lg-3 col-12">
                            <mat-form-field>
                                GST Type
                                <mat-select [(ngModel)]="Supplier.billingGSTType" name="billingGSTType">
                                    <mat-option value="CGST+SGST" #newDummy5>CGST+SGST</mat-option>
                                    <mat-option value="IGST" #newDummy5>IGST</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 col-12">
                            <mat-form-field>
                                Supplier Group
                                <mat-select>
                                    <mat-option *ngFor="let element of supplierGroups" [value]="element.name">
                                        {{element.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>     
                        <div class="col-lg-3 col-12">
                            <mat-form-field>
                                Revenue Share Percentage
                                <input matInput [(ngModel)]="Supplier.revenueSharePercentage">
                            </mat-form-field>
                        </div>
                    </div>                    
                    <!-- <div class="row ptb-10">
                        <div class="col-lg-4 col-12">
                            <mat-form-field>
                                Reverse Charge Applicable
                                <mat-select [(ngModel)]="Supplier.billingReverseChargeApplicable" name="billingReverseChargeApplicable">
                                    <mat-option value="Dummy" #newDummy6>Dummy</mat-option>
                                    <mat-option value="Dummy" #newDummy6>Dummy</mat-option>
                                    <mat-option value="Dummy" #newDummy6>Dummy</mat-option>
                                    <mat-option value="Dummy" #newDummy6>Dummy</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>                  
                    </div> -->
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>
                Applicable Taxes
            </nb-card-header>
            <nb-card-body class="hide-overflow">                
                <form [formGroup]="myForm">
                    <div formArrayName="rows">
                        <div class="row pt-10">                            
                            <div class="col-lg-6 col-10">
                                Tax
                            </div>
                            <div class="col-lg-2 col-2"></div>
                        </div>
                        <div class="row pb-10" *ngFor="let temp of applicableTaxes.controls; let i=index" [formGroupName]="i">                            
                            <div class="col-lg-6 col-10">
                                <mat-form-field class="w-100">
                                    <input placeholder="Charges" [formControl]="taxCtrl" matInput [matAutocomplete]="taxauto">
                                    <mat-autocomplete #taxauto="matAutocomplete">
                                        <mat-option *ngFor="let option of taxes |async" [value]="option.name" (onSelectionChange)="setTax(option,$event)">
                                            {{ option.name }}&nbsp;-{{option.percent}}%
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-2 col-2">
                                <button mat-icon-button color="primary" (click)="deleteRow(i)"><mat-icon>clear</mat-icon></button>
                            </div>
                        </div>                               
                    </div>
                </form>                
                <div class="row ptb-10">
                    <div class="col-lg-12 col-12">
                        <button [disabled]="taxStatus" mat-raised-button color="primary" (click)="addRow(true)">Add Tax</button>
                    </div>                    
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<!-- <div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header class="ptb-10">GSTIN Billing Details-<i>Only to be filled if this supplier has different GSTIN billing details</i></nb-card-header>
            <nb-card-body class="hide-overflow">  
                <div class="container">
                    <div class="row ptb-10">
                        <div class="col-lg-4 col-12">                        
                            <mat-form-field class="bottom-align">
                                Billing Name
                                <input [(ngModel)]="Supplier.billingName" name="billingName" matInput #newBName />
                            </mat-form-field>
                        </div>
                        
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div> -->
<div class="row">        
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Working Hours</nb-card-header>
            <nb-card-body class="hide-overflow">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <mat-form-field>
                                Start
                                <input matInput type="time" [(ngModel)]="Supplier.startTime">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-12">
                            <mat-form-field>
                                End
                                <input matInput type="time" [(ngModel)]="Supplier.endTime">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Driver Allowance Settings</nb-card-header>
            <nb-card-body class="hide-overflow">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <mat-form-field>
                                Early Time
                                <input matInput type="time" [(ngModel)]="Supplier.earlyTime">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-12">
                            <mat-form-field>
                                Late Time
                                <input matInput type="time" [(ngModel)]="Supplier.lateTime">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>            
</div>
<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-body class="hide-overflow">
                <div class="container">
                    <form [formGroup]="cityForm">
                        <div class="row">
                            <div class="col-lg-12 col-12">
                                <br>
                                Limit ability to allot bookings to these cities
                            </div>                            
                        </div>
                        <div class="row" formArrayName="cities">
                            <div class="col-lg-3" *ngFor="let temp of citiesFormCtrl.controls; let i=index" [formGroupName]="i">
                                <div class="row">
                                    <div class="col-lg-10 col-10">
                                        <mat-form-field>
                                            <input matInput formControlName="city" (keypress)="filterCity(i)" [matAutocomplete]="auto1">
                                            <mat-autocomplete #auto1="matAutocomplete">
                                                <mat-option *ngFor="let option of cities | async" [value]="option">
                                                    {{ option }}
                                                </mat-option>
                                            </mat-autocomplete> 
                                            <!-- <mat-select formControlName="city">
                                                <mat-option *ngFor="let element of cities" [value]="element">
                                                    {{element}}
                                                </mat-option>
                                            </mat-select> -->
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-2 col-2">
                                        <button mat-icon-button color="primary" (click)="deleteCity(i, temp)"><mat-icon>clear</mat-icon></button>                                
                                    </div>         
                                </div>                                
                            </div>
                        </div>
                        <div class="row ptb-10">
                            <div class="col-lg-12 col-12">
                                <button mat-raised-button color="primary" (click)="addCity(true)">Add</button>
                            </div>                        
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            Vehicle Group - Limit ability to allot bookings to these Vehicle Groups
                        </div>                            
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <mat-form-field class="w-100">
                                <mat-select [(ngModel)]="vehicleGroupId" multiple>
                                    <mat-option *ngFor="let element of vehicleGroups" [value]="element.id">
                                        {{element.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            Duty Type - Limit ability to allot bookings to these Duty Types
                        </div>
                    </div>                        
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <mat-form-field class="w-100">
                                <mat-select [(ngModel)]="dutyTypeId" multiple>
                                    <mat-option *ngFor="let element of dutyTypes" [value]="element.id">
                                        {{element.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <mat-form-field>
                              Branch
                              <input matInput [formControl]="branchesCtrl" [matAutocomplete]="autobranch">
                              <mat-autocomplete #autobranch="matAutocomplete">
                                <mat-option *ngFor="let item of branch | async" [value]="item.id" (onSelectionChange)="setBranches(item,$event)">
                                  {{ item.name }}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div style="bottom: 5%" *ngIf="logs.length>0">
                    <ul>
                        <li *ngFor="let element of logs">
                            {{element.message}}
                        </li>
                    </ul>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row ptb-10">
    <div class="col-lg-12 col-12">
        <button mat-raised-button color="primary" *ngIf="!editState" (click)="saveSupplier()">Add</button>
        <button mat-raised-button color="primary" *ngIf="editState" (click)="updateSupplier()">Save</button>
        <!-- <button mat-raised-button color="warn"(click)="closeDialog()">Close</button> -->
        <b *ngIf="Supplier.type=='Owner-cum-Driver'" style="color: red;font-size: smaller;float: right;">*You will be redirected to add vehicle of this supplier on save</b>
    </div>
</div>    
