<!-- <nb-card>  
  <nb-card-body class="w-100 hide-overflow">     
    <div id="div1">      
      <div class="row" *ngFor="let element of dutyData; let i=index">
        <div class="col-lg-1">
          <b>Sr.&nbsp;</b><br>
          <b>{{i+1}}&nbsp;</b>
        </div>
        <div class="col-lg-2">
          <b>Booking ID&nbsp;</b><br>
          {{element.id}}&nbsp;
        </div>
        <div class="col-lg-5">
          <b>Details&nbsp;</b><br>
          Date: {{element.startDate}}&nbsp; <br>
          From: {{element.fromLoc}}&nbsp; <br>
          To: {{element.toLoc}}&nbsp; <br>
          Passenger Name: {{element.passenger}}&nbsp; <br>
          Mobile No.: {{element.passengerNo}}&nbsp; <br>
          Reporting Address: {{element.reportingAddress}}&nbsp; <br>
          Drop Address: {{element.dropAddress}}&nbsp; <br>        
        </div>
        <div class="col-lg-2">
          <b>Reporting Time&nbsp;</b><br>
          {{element.reportingTime}}&nbsp;
        </div>
        <div class="col-lg-2">
            <b>Vehicle Group&nbsp;</b><br>
          {{element.vehicleGroup}}&nbsp;
        </div>
        <div class="col-lg-12 pt-10" *ngIf="element.operatorNotes">
          <p class="text-align">Operator Notes: {{element.operatorNotes}}&nbsp;</p>
        </div>
        <hr>
      </div>
    </div>       
  </nb-card-body>      
</nb-card>  -->