<div  class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Duties
        <div style="display:inline; padding-left: 5%;" *ngIf="screenWidth>=560">
          <button class="unconfirmed" [disabled]="filterClicked=='Unconfirmed'" mat-button (click)="filter('Unconfirmed')">Unconfirmed</button>
          <button class="booked" [disabled]="filterClicked=='Booked'" mat-button (click)="filter('Booked');">Booked</button>
          <button class="billed" [disabled]="filterClicked=='Pending'" mat-button (click)="filter('Pending')">Pending</button>
          <button class="allotted" [disabled]="filterClicked=='Allotted'" mat-button (click)="filter('Allotted')">Allotted</button>
          <button class="upcoming" [disabled]="filterClicked=='Upcoming'" mat-button (click)="filter('Upcoming')">Upcoming</button>
          <button class="dispatched" [disabled]="filterClicked=='Dispatched'" mat-button (click)="filter('Dispatched')">Dispatched</button>
          <!-- <button class="billed" [disabled]="filterClicked=='Billed'" mat-button (click)="filter('Billed')">Billed</button> -->
          <button class="cancelled" [disabled]="filterClicked=='Cancelled'" mat-button color="warn" (click)="filter('Cancelled')">Cancelled</button>
          <button class="completed" [disabled]="filterClicked=='Completed'" mat-button (click)="filter('Completed')">Completed</button>
          <button class="all" [disabled]="filterClicked=='All'" mat-button (click)="filter('All')">All</button>
        </div>
        <div style="display:inline; padding-left: 5%;" *ngIf="screenWidth<=560">
          <mat-form-field class="mobile-select">
              <mat-select [value]="status" (selectionChange)="filter($event.value)">
                <mat-option value="Booked">Booked</mat-option>
                <mat-option value="Allotted">Allotted</mat-option>
                <mat-option value="Upcoming">Upcoming</mat-option>
                <mat-option value="Dispatched">Dispatched</mat-option>
                <mat-option value="Billed">Billed</mat-option>
                <mat-option value="Cancelled">Cancelled</mat-option>
                <mat-option value="Completed">Completed</mat-option>
                <mat-option value='All'>All</mat-option>
              </mat-select>
          </mat-form-field>
        </div>
          
        <button style="float: right;margin-top: -10px;" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>settings</mat-icon></button>
        <mat-menu #menu="matMenu" class="mat-menu-panel">
            <!-- <button mat-menu-item (click)="openImport()">Import</button> -->
          <button mat-menu-item *ngIf="permission.exportDuty" (click)="openExport()">Export</button>
        </mat-menu>
      </nb-card-header>
      <nb-card-body>
        <div align="center">
        
          <mat-form-field class="filter-field">
            <input matInput  placeholder="Filter"  #input>
          </mat-form-field> 
        
          <mat-form-field class="filter-date">
            <input matInput [(ngModel)]="filterStart" [matDatepicker]="pickerStart" (click)="pickerStart.open()" placeholder="From" readonly>
            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
          </mat-form-field>            
            
          <mat-form-field class="filter-date">
            <input matInput [(ngModel)]="filterEnd" [matDatepicker]="pickerEnd" (click)="pickerEnd.open()" placeholder="To" readonly>
            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
          </mat-form-field>

          <!-- <mat-form-field>
            <input type="time" [(ngModel)]="from" matInput placeholder="from">
          </mat-form-field>

          <mat-form-field>
            <input type="time" [(ngModel)]="to" matInput placeholder="to">
          </mat-form-field> -->

        <button matTooltip="Search" mat-icon-button (click)="filterByDate()"><mat-icon class="filter-icon">search</mat-icon></button>
        <button matTooltip="Clear All" mat-icon-button (click)="clear()"><mat-icon class="filter-icon">highlight_off</mat-icon></button>
        <button matTooltip="Multiple Selections" *ngIf="selectorEnabled==false" mat-icon-button (click)="addColumn()"><img alt="" src="../../../assets/icons/Select.png" class="img-icon"/></button>
        <button matTooltip="Clear Selector"  *ngIf="selectorEnabled==true" mat-icon-button (click)="removeColumn()"><mat-icon class="filter-icon">youtube_searched_for</mat-icon></button>
      </div>
      <div *ngIf="selectorEnabled==true" class="invoice-button-container">
        <button [disabled]="!multipleSelected" class="invoice-button" mat-raised-button color="primary" *ngIf="onlySendInfo==false" (click)="selectMultipleAllotments()">Allot Duty to Supplier</button>
        <button [disabled]="!multipleSelected" *ngIf="permission.sendInfoDuty" class="invoice-button" mat-raised-button color="primary" (click)="sendInfo(row)">Send Info</button>
      </div>

        <mat-table [hidden]="isLoading" #table [dataSource]="dataSource" matSort matSortActive="startDate" matSortDirection="asc" matSortDisableClear >

          <ng-container matColumnDef="selector">
            <mat-header-cell *matHeaderCellDef>
              <!-- <mat-checkbox (change)="isAllSelected(element,$event)"></mat-checkbox> -->
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="chooseDuties(element,$event)"></mat-checkbox>
            </mat-cell>   
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="startDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.startDate | date: 'dd-MM-yyyy'}} </mat-cell>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="cname">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Customer </mat-header-cell>
            <mat-cell *matCellDef="let element" [matTooltip]="'Booked By: '+element.bookBy+' Phone: '+element.bookByNo"> {{element.cname}} </mat-cell>
          </ng-container>

          <!-- Booked By Column -->
          <!-- <ng-container matColumnDef="bookBy">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Booked by </mat-header-cell>
            <mat-cell *matCellDef="let element"  [matTooltip]="element.bookByNo"> {{element.bookBy}} </mat-cell>
          </ng-container> -->

          <!-- Symbol Column -->
          <ng-container matColumnDef="passenger">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Passenger </mat-header-cell>
            <mat-cell *matCellDef="let element" [matTooltip]="element.passengerNo"> {{element.passenger}} </mat-cell>            
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="driver">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Driver/Supplier  </mat-header-cell>
            <mat-cell *matCellDef="let element" >
              <span *ngIf="element.supplierId==null" [matTooltip]="element.phoneNumber"><mat-icon *ngIf="element.driverUserId != null">phone_iphone</mat-icon> {{element.driver}} </span>
              <span *ngIf="element.supplierId!=null"> {{element.supplierName}} </span>
            </mat-cell>           
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="vehicleGroup">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle Group </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.vehicleGroup}} </mat-cell>            
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="dutyType">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Duty Type </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.dutyType}} </mat-cell>              
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="fromLoc">            
            <mat-header-cell *matHeaderCellDef mat-sort-header> From City </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.fromLoc}} </mat-cell>              
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="reportingAddress">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Short Reporting Address </mat-header-cell>
            <mat-cell *matCellDef="let element" [matTooltip]="element.reportingAddress"> {{element.shortReportingAddress}} </mat-cell>              
          </ng-container>  

          <!-- Symbol Column -->
          <ng-container matColumnDef="vehicle">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Vehicle </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.vehicle}} </mat-cell>              
          </ng-container>  

            <!-- Symbol Column -->
          <ng-container matColumnDef="dropAddress">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Drop Address </mat-header-cell>
            <mat-cell *matCellDef="let element" [matTooltip]="element.dropAddress"> {{element.dropAddress}} </mat-cell>              
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="startFromGarage">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Start Time From Garage </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.startFromGarage}} </mat-cell>              
          </ng-container>
          
            <!-- Symbol Column -->
          <ng-container matColumnDef="reportingTime">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Reporting Time </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.reportingTime}} </mat-cell>              
          </ng-container>
          
            <!-- Symbol Column -->
          <ng-container matColumnDef="remarks">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.remarks}} </mat-cell>
          </ng-container>

           <!-- <ng-container matColumnDef="remarks">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Labels </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.remarks}} </mat-cell>
         </ng-container> -->

         <ng-container matColumnDef="labelArray">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Tags </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-chip-list *ngFor="let skelement of element.labelArray">
                <mat-chip [style.background-color]="skelement.color" [ngStyle]="{'color': setTextColor(skelement.color)}" style="transform: scale(0.80,0.80);border-radius: 0;margin-bottom: -3px;animation: blink 1s linear infinite;font-size: 15px;padding: 7px 5px;" selected="true">{{skelement.labelName}}</mat-chip>
              </mat-chip-list> 
            </mat-cell>  
          </ng-container>

          
            <!-- Symbol Column -->
          <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px !important"> Status </mat-header-cell>
              <mat-cell *matCellDef="let element" style="width: 100px !important">
                <mat-chip-list *ngIf="element.status != 'Dispatched' && element.status != 'Allotted' && element.subStatus != 'Needs Approval'">
                  <mat-chip color="primary" selected="true">{{element.status}}</mat-chip>
                </mat-chip-list> 
                <mat-chip-list *ngIf="element.status == 'Allotted' && element.subStatus != null">
                  <mat-chip [style.background-color]="allottedColor" selected="true">{{element.subStatus}}</mat-chip>
                </mat-chip-list> 
                <mat-chip-list *ngIf="element.status=='Dispatched' && element.subStatus != null">
                  <mat-chip [style.background-color]="dispatchedColor" selected="true">{{element.subStatus}}</mat-chip>
                </mat-chip-list>
                <mat-chip-list *ngIf="element.status=='Completed' && element.subStatus == 'Needs Approval'">
                  <mat-chip [style.background-color]="completedColor" selected="true">{{element.subStatus}}</mat-chip>
                </mat-chip-list>
              </mat-cell>  
          </ng-container>

          <ng-container matColumnDef="Options">
            <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
            <mat-cell style="vertical-align: middle" *matCellDef="let element ;let row" (click)="$event.stopPropagation()">
              <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
              
              <mat-menu #menu="matMenu">
                
              <!-- <button  mat-menu-item >Details</button> -->
              <!-- <button  *ngIf="row.status=='Completed'" mat-menu-item (click)="createInvoice(row)">Create Invoice</button> -->
              <button *ngIf="row.status=='Booked' || row.status=='Allotted' || permission.manageLabels==1" mat-menu-item (click)="addRemoveLabels(row)">Add/Remove Tags</button>
              <button *ngIf="permission.smsEmailCallDuties || row.status!='Unconfirmed'" mat-menu-item (click)="call(row)">Contact</button>
              <!-- <button *ngIf="row.status=='Booked' || row.status=='Allotted'" mat-menu-item (click)="allotSupporters(row)">Allot Supporters</button> -->
              <button *ngIf="row.status=='Allotted' && row.supplierBId==null" mat-menu-item (click)="selectAllotments(row)">Re-Allot on Duty</button>
              <button *ngIf="row.status=='Allotted' && row.supplierBId==null" mat-menu-item (click)="clearAllotment(row)">Clear Allotment</button>
              <button *ngIf="(row.status=='Booked' || row.status=='Allotted') && permission.editDuties && row.ownerDId==null" mat-menu-item (click)="selectRow(row)">Edit</button>
              <button *ngIf="row.status=='Booked' && row.supplierDId==null && permission.allotVehiclesDriver" mat-menu-item (click)="selectAllotments(row)">Allot Driver & Vehicle</button>
              <button *ngIf="row.status=='Vehicle Pending' ||row.status=='Driver Pending'" mat-menu-item (click)="setOfflineAllotment(row)">Set Driver/Vehicle Details</button>
              <button *ngIf="row.ownerDId!=null && permission.sendInfoDuty" mat-menu-item (click)="sendInfo2(row)">Send Info</button>
              <button *ngIf="row.status=='Allotted' && row.supplierDId==null && permission.viewDutySlip" mat-menu-item (click)="printDutySlip(row)">Print Duty Slip</button>
              <button *ngIf="(row.status=='Completed') && permission.viewDutySlip" mat-menu-item (click)="viewDutySlip(row)">View Duty Slip</button>
              <button *ngIf="row.status=='Completed' && permission.closeDuty" mat-menu-item (click)="openCloseDuty(row)">Edit Duty Slip</button>
              <button *ngIf="row.status=='Allotted'" mat-menu-item (click)="createPlacard(row)">Create Placard</button>
              <button *ngIf="row.status=='Allotted' && (row.subStatus=='Accepted' || row.subStatus=='Allotted') && row.supplierDId==null && permission.dispatchDuty" mat-menu-item (click)="dispatched(row)">Mark as Dispatched</button>
              <button *ngIf="row.status=='Dispatched' && row.supplierDId==null && permission.dispatchDuty" mat-menu-item (click)="dispatched(row)">Revert Dispatch</button>
              <button *ngIf="row.status=='Dispatched' && row.supplierDId==null && permission.viewTracking" mat-menu-item (click)="trackVehicle(row)">Track Vehicle</button>
              <button *ngIf="row.status=='Dispatched' && row.driverUserId==null && permission.closeDuty" mat-menu-item (click)="openCloseDuty(row)">Close Duty</button>
              <!-- <button *ngIf="row.status=='Dispatched' && row.ownerDId!=null" mat-menu-item (click)="openCloseSupplierDuty(row)">Close Supplier Duty</button> -->
              <button *ngIf="row.status!='Cancelled' && permission.addPettyCash" mat-menu-item (click)="addPettyCash(row)">Add Petty Cash</button>
              <button *ngIf="permission.viewBookings" mat-menu-item (click)="viewBookings(row)">View Booking</button>
              <button *ngIf="(row.status=='Booked' || row.status=='Allotted') && permission.cancelDuty" mat-menu-item (click)="cancelDuty(row)">Cancel Duty</button>
              <button *ngIf="row.status=='Unconfirmed'" mat-menu-item (click)="confirmDuty(row)">Confirm Duty</button>
              </mat-menu>
              <mat-icon style="display:table;margin:auto;font-size: 13px;height: unset;" *ngIf="row.ownerDId" matTooltip="Duty From Circles" matTooltipClass="example-tooltip-green">redo</mat-icon>
              <mat-icon style="display:table;margin:auto;font-size: 13px;height: unset;" *ngIf="row.supplierDId" matTooltip="Allotted To Circle" matTooltipClass="example-tooltip-green">how_to_reg</mat-icon>
              <mat-icon style="display:table;margin:auto;font-size: 13px;height: unset;" *ngIf="row.supplierId!=null && row.supplierId!='' && row.supplierType!='Owner-cum-Driver'" matTooltip="Allotted To Supplier" matTooltipClass="example-tooltip-green">group</mat-icon>
              <mat-icon style="display:table;margin:auto;font-size: 13px;height: unset;" *ngIf="row.supplierType=='Owner-cum-Driver'" matTooltip="Allotted To Supplier-cum-Driver" matTooltipClass="example-tooltip-green">transfer_within_a_station</mat-icon>
            </mat-cell>
           
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row [ngStyle]="{'background-color':rowColors(row.startDate,row.status)}" *matRowDef="let row; columns: displayedColumns;" (click)="details(row)"></mat-row>
        </mat-table>
        <div *ngIf="isLoading" 
        style="display: flex; justify-content: center; align-items: center">
       <mat-progress-spinner 
         color="warn" 
         mode="indeterminate">
       </mat-progress-spinner>
       </div>
        <mat-paginator [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"></mat-paginator>
        
      </nb-card-body>
    </nb-card>
</div>
<div class="col-lg-12" align="right">
  <a *ngIf="permission.addBookings" matTooltip="Add Booking" (click)="addBooking()" class="float">
    <i style="color: ghostwhite" class="fa fa-plus my-float"></i>
  </a>
</div>

</div>