<nb-card>
  <nb-card-header>Tracking
    <button class="vehicle" [disabled]="filterClicked=='Vehicle'" mat-button (click)="filter('Vehicle');">Vehicle</button>
    <button class="driver" [disabled]="filterClicked=='Driver'" mat-button (click)="filter('Driver')">Driver</button>
  </nb-card-header>
  <nb-card-body>
    <div class="row ptb-10" *ngIf="filterClicked=='Vehicle'">
      <!-- <div class="col-lg-4 col-12">
        <mat-form-field class="w-100">
          Choose Vehicle Group
          <input matInput [formControl]="vehicleGroupCtrl"  [matAutocomplete]="autoVG">
          <mat-autocomplete #autoVG="matAutocomplete">
            <mat-option *ngFor="let option of vehicleGroup | async" [value]="option.name" (onSelectionChange)="setVehicleGroup(option,$event)">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div> -->
      <div class="col-lg-4 col-12">
        <mat-form-field class="w-100">
          Choose Vehicle
          <input matInput [formControl]="vehicleCtrl"  [matAutocomplete]="autoV">
          <mat-autocomplete #autoV="matAutocomplete">
            <mat-option *ngFor="let option of vehicle | async" [value]="option.modelname+' ('+option.number+')'" (onSelectionChange)="setVehicle(option,$event)">
              {{ option.modelname }} ({{option.number}})
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-lg-4 col-12">
        <br>
        <button (click)="track()" mat-raised-button color="primary">Track</button>        
        <button (click)="refresh()" mat-icon-button color="primary"><mat-icon>refresh</mat-icon></button>
      </div>
    </div>
    <div class="row ptb-10" *ngIf="filterClicked=='Driver'">
      <div class="col-lg-4 col-12">
        <mat-form-field class="w-100">
          Choose Driver
          <input matInput [formControl]="driverCtrl"  [matAutocomplete]="autoD">
          <mat-autocomplete #autoD="matAutocomplete">
            <mat-option *ngFor="let option of driver | async" [value]="option.name" (onSelectionChange)="setDriver(option,$event)">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-lg-4 col-12">
        <br>
        <button (click)="track()" mat-raised-button color="primary">Track</button>        
        <button (click)="refresh()" mat-icon-button color="primary"><mat-icon>refresh</mat-icon></button>
      </div>
    </div>
    <div style="margin: auto;" class="row ptb-10" *ngIf="filterClicked=='Vehicle'">        
      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" [streetViewControl]="false">
        <agm-marker *ngFor = "let data of markers"
          [latitude]="data.lattitude"
          [longitude]="data.longitude"
          [iconUrl]="{
              url: './assets/images/cars.svg',
              scaledSize: {
                width: 30,
                height: 50
              }
            }">
          <agm-info-window>
            <strong> {{data.CurrentLocation}}</strong>
            <p style="text-align: center;margin-bottom: 0;">
              Vehicle No: {{data.Vehicle_No}}
            </p>
          </agm-info-window>            
        </agm-marker>
      </agm-map>
    </div>
    <div style="margin: auto;" class="row ptb-10" *ngIf="filterClicked=='Driver'">        
        <agm-map [latitude]="latitudeDriver" [longitude]="longitudeDriver" [scrollwheel]="false" [zoom]="zoomDriver" [streetViewControl]="false">
          <agm-marker *ngFor = "let data of markerDriver"
            [latitude]="data.lat"
            [longitude]="data.lng"
            [iconUrl]="{
                url: './assets/images/driver_marker.svg',
                scaledSize: {
                  width: 30,
                  height: 50
                }
              }">
            <agm-info-window>
              <div align="center" style="padding: 5px;">
                <strong> {{data.name}}</strong>
              </div>
              <hr>
              <div style="padding: 5px">
                <strong>STATUS: </strong><b style="color: green">{{data.status}}</b>
              </div>
              <div style="padding: 5px" *ngIf="data.status!=null">
                  <strong>SPEED: </strong><b style="color: brown">{{data.speed}} KM/HR</b>
              </div>
            </agm-info-window>            
          </agm-marker>
        </agm-map>
      </div>
  </nb-card-body>
</nb-card>
