<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-lg-8 col-12">
            <b>Duty #{{duty.id}}</b>
          </div>
          <div class="col-lg-4 col-12">
            <mat-chip-list>
              <mat-chip color="primary" selected>{{duty.status}}</mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div #dutySlip id="dutySlip">
          <div class="row ptb-10">
            <div class="col-lg-6 col-12">
              <b>Customer: </b>{{duty.cname}}
            </div>
            <div class="col-lg-6 col-12">
              <b>Duty ID: </b>{{duty.id}}
            </div>
          </div>
          <div class="row pb-10">
            <div class="col-lg-6 col-12">
              <b>Date: </b>{{duty.startDate}}
            </div>
            <div class="col-lg-6 col-12">
              <b>Vehicle Group: </b>{{duty.vehicleGroup}}
            </div>
          </div>
          <div class="row pb-10">
            <div class="col-lg-6 col-12">
              <b>Booked By: </b>{{duty.bookBy}}
            </div>
            <div class="col-lg-6 col-12">
              <b>Vehicle: </b>{{duty.vehicle}}
            </div>
          </div>
          <div class="row pb-10">
            <div class="col-lg-6 col-12">
              <b>Passenger: </b>{{duty.passenger}}
            </div>
            <div class="col-lg-6 col-12">
              <b>Driver: </b>{{duty.driver}}
            </div>
          </div>
          <div class="row pb-10">
            <div class="col-lg-12 col-12">
              <b>Reporting Address: </b>{{duty.reportingAddress}}
            </div>
          </div>
          <div class="row pb-10">
            <div class="col-lg-12 col-12">
              <b>Drop Address: </b>{{duty.dropAddress}}
            </div>
          </div>
          <div class="row ptb-10">
            <div class="col-lg-12 col-12">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td></td>
                    <td><b>Reporting</b></td>
                    <td><b>Release</b></td>
                    <td><b>Total</b></td>
                    <td><b>Extra</b></td>
                  </tr>
                  <tr>
                    <td><b>KM</b></td>
                    <td>{{dutySummary.startKm}}</td>
                    <td>{{dutySummary.endKm}}</td>
                    <td>{{dutySummary.totalKm}}</td>
                    <td>{{dutySummary.extraKm}}</td>
                  </tr>
                  <tr>
                    <td><b>Time</b></td>
                    <td>{{dutySummary.startTime | date: 'dd-MM-yyyy HH:mm a'}}</td>
                    <td>{{dutySummary.endTime | date: 'dd-MM-yyyy HH:mm a'}}</td>
                    <td>{{dutySummary.totalTime}}</td>
                    <td>{{dutySummary.extraTime}}</td>
                  </tr>
                  <!-- <tr>
                    <td><b>Speedo KM</b></td>
                    <td>{{dutySummary.startKm}}</td>
                    <td>{{dutySummary.endKm}}</td>
                    <td>{{dutySummary.totalKm}}</td>
                    <td>{{dutySummary.extraKm}}</td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
          <div class="row pb-10" *ngIf="mapImgUrl != ''">
            <div class="col-lg-12 col-12">
              <img [src]="mapImgUrl"  width="auto" height="400px">
            </div>
          </div>
          <div class="row ptb-10" *ngIf="additionalCharges.length > 0">
            <div class="col-lg-12 col-12">
              <b>Additional Charges: </b>
              <br>
              <br>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Charges</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let element of additionalCharges">
                    <td *ngIf="!element.url">{{element.name}}</td>
                    <td *ngIf="element.url"> <a target="_blank" href="{{element.url}}"> {{element.name}} </a> </td>
                    <td>{{element.charges}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row ptb-10" *ngIf="dutySlipImgUrl!=''">
            <div class="col-lg-12">
              <a href="{{dutySlipImgUrl}}">Duty Slip</a>
            </div>
          </div>
          <div class="row ptb-10" *ngIf="signImgUrl!=''">
            <div class="col-lg-12 col-12">
              <b>Customer Signature: </b>
            </div>
            <br>
            <img [src]="signImgUrl" width="300px" height="150px">
          </div>
        </div>
        <div class="row ptb-10" *ngIf="routeInfoUrl != ''">
          <div class="col-lg-12">
            <a target="_blank" href="{{routeInfoUrl}}">Get Route Info</a>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-12">
    <button mat-raised-button color="primary" (click)="print()">Print Duty Slip</button>
    <button *ngIf="duty.subStatus == 'Needs Approval'" mat-raised-button color="primary" (click)="approveDutySlip()">Approve Duty Slip</button>
    <button mat-raised-button color="warn" (click)="closeDialog()">Close</button>
  </div>
</div>
