<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Vehicle Profile</nb-card-header>    
      <nb-card-body>
        <div class="row pb-10">
          <div class="col-lg-12 col-12">
            <img class="center" [src]="imgUrl" alt="" height="150px" (click)="open(_albums, 0)">
          </div>
        </div>
        <div class="row ptb-10">
          <div class="col-lg-3 col-12">
            <b>Model Name</b>
            <br>
            {{vehicle.modelname}}                      
          </div>
          <div class="col-lg-3 col-12">            
            <b>Vehicle Number</b>
            <br>
            {{vehicle.number}}              
          </div>                
          <div class="col-lg-3 col-12">            
            <b>Color</b>
            <br>
            {{vehicle.vcolor}}              
          </div>
          <div class="col-lg-3 col-12">
            <b>Fuel Type</b>
            <br>
            {{vehicle.fuelType}}
          </div>
        </div>
        <div class="row pb-10">
          <div class="col-lg-3 col-12">
            <b>Seating Capacity</b>
            <br>
            {{vehicle.seating}}
          </div>
          <div class="col-lg-3 col-12">
            <b>Assigned Driver</b>
            <br>
            {{vehicle.assignedDriver}}
          </div>
          <div class="col-lg-3 col-12">
            <b>Vehicle Group</b>
            <br>
            {{vehicle.vehicleGroup}}
          </div>
          <div class="col-lg-3 col-12">
            <b>Branch</b>
            <br>
            {{vehicle.branches}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-12">
            <h5>Insurance</h5>
            <div class="row pb-10">
              <div class="col-lg-4 col-12">
                <b>Company Name</b>
                <br>
                {{vehicle.companyName}}
              </div>
              <div class="col-lg-4 col-12">
                <b>Policy Number</b>
                <br>
                {{vehicle.policyNumber}}
              </div>
              <div class="col-lg-4 col-12">
                <b>Issue Date</b>
                <br>                    
                <p style="margin: auto" *ngIf="vehicle.issueDate != 'Invalid date' && vehicle.issueDate != null">{{vehicle.issueDate | date: 'dd-MM-yyyy'}}</p>
              </div>              
            </div>
            <div class="row pb-10">
              <div class="col-lg-4 col-12">
                <b>Premium Amount</b>
                <br>
                &#x20B9; {{vehicle.premiumAmount}}
              </div>
              <div class="col-lg-4 col-12">
                <b>Cover Amount</b>
                <br>
                &#x20B9; {{vehicle.coverAmount}}
              </div>
              <div class="col-lg-4 col-12">
                <b>Due Date</b>
                <br>
                <p style="margin: auto" *ngIf="vehicle.dueDate != 'Invalid date' && vehicle.dueDate != null">{{vehicle.dueDate | date: 'dd-MM-yyyy'}}</p>
              </div>              
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-6">            
            <h5>Parts</h5>
            <div class="row pb-10">
              <div class="col-lg-6 col-12">
                <b>Chassis Number</b>
                <br>
                {{vehicle.chassisNumber}}
              </div>
              <div class="col-lg-6 col-12">
                <b>Engine Number</b>
                <br>
                {{vehicle.engineNumber}}
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <h5>Registration</h5>
            <div class="row pb-10">
              <div class="col-lg-6 col-12">
                <b>Registered Owner Name</b>
                <br>
                {{vehicle.regName}}
              </div>
              <div class="col-lg-6 col-12">
                <b>Registration Date</b>
                <br>
                <p style="margin: auto" *ngIf="vehicle.regDate != 'Invalid date' && vehicle.regDate != null">{{vehicle.regDate | date: 'dd-MM-yyyy'}}</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-12">
            <h5>RTO</h5>
            <div class="row pb-10">
              <div class="col-lg-6 col-12">
                <b>Address</b>
                <br>
                {{vehicle.RTOAddress}}
              </div>
              <div class="col-lg-3 col-12">
                <b>Tax Efficiency</b>
                <br>
                {{vehicle.taxEfficiency}}
              </div>
              <div class="col-lg-3 col-12">
                <b>Expiry Date</b>
                <br>
                <p style="margin: auto" *ngIf="vehicle.expiryDateRTO != 'Invalid date' && vehicle.expiryDateRTO != null">{{vehicle.expiryDateRTO | date: 'dd-MM-yyyy'}}</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-6">
            <h5>Authorization</h5>
            <div class="row pb-10">
              <div class="col-lg-6 col-12">
                <b>Authorization Number</b>
                <br>
                {{vehicle.authorizationNumber}}
              </div>
              <div class="col-lg-6 col-12">
                <b>Expiry Date</b>
                <br>
                <p style="margin: auto" *ngIf="vehicle.expiryDateAuth != 'Invalid date' && vehicle.expiryDateAuth != null">{{vehicle.expiryDateAuth | date: 'dd-MM-yyyy'}}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <h5>PUC</h5>
            <div class="row pb-10">
              <div class="col-lg-6 col-12">
                <b>Number</b>
                <br>
                {{vehicle.PUCNumber}}
              </div>
              <div class="col-lg-6 col-12">
                <b>Expiry Date</b>
                <br>
                <p style="margin: auto" *ngIf="vehicle.expiryDatePUC != 'Invalid date' && vehicle.expiryDatePUC != null">{{vehicle.expiryDatePUC | date: 'dd-MM-yyyy'}}</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-12">
            <h5>Loan</h5>
            <div class="row pb-10">
              <div class="col-lg-4 col-12">
                <b>EMI Amount</b>
                <br>
                &#x20B9; {{vehicle.EMIAmount}}
              </div>
              <div class="col-lg-4 col-12">
                <b>Start Date</b>
                <br>
                <p style="margin: auto" *ngIf="vehicle.startDate != 'Invalid date' && vehicle.startDate != null">{{vehicle.startDate | date: 'dd-MM-yyyy'}}</p>
              </div>
              <div class="col-lg-4 col-12">
                <b>End Date</b>
                <br>
                <p style="margin: auto" *ngIf="vehicle.endDate != 'Invalid date' && vehicle.endDate != null">{{vehicle.endDate | date: 'dd-MM-yyyy'}}</p>
              </div>
            </div>
            <div class="row pb-10">
              <div class="col-lg-4 col-12">
                <b>Bank Name</b>
                <br>
                {{vehicle.bankName}}
              </div>
              <div class="col-lg-4 col-12">
                <b>EMI Day</b>
                <br>
                {{vehicle.EMIDay}}
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-12">
            <h5>Fitness</h5>
            <div class="row pb-10">
              <div class="col-lg-6 col-12">
                <b>Fitness Number</b>
                <br>
                {{vehicle.fitnessNumber}}
              </div>
              <div class="col-lg-6 col-12" style="text-align: center;margin:auto;">
                <b>Expity Date</b>
                <br>
                <p style="margin: auto" *ngIf="vehicle.expiryDateFitness != 'Invalid date' && vehicle.expiryDateFitness != null">{{vehicle.expiryDateFitness | date: 'dd-MM-yyyy'}}</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-12">
            <h5>Files & Permits</h5>
            <div class="row" *ngFor="let element of files; let i = index;">
              <div class="col-lg-3 col-12">
                <mat-list>
                  <mat-list-item> <a target="_blank" href="{{element.url}}"> {{element.name}} </a></mat-list-item>
                </mat-list>
              </div>
              <div class="col-lg-9 col-12">
                <img alt="" *ngIf="element.image!=null" style="padding-left:10px;" [src]="element.image" height="100px" width="100px" (click)="open(_fileAlbums, i)"/>
                <mat-list *ngIf="element.image == null">
                  <mat-list-item> No Image </mat-list-item>
                </mat-list>
              </div>
            </div>
            <div class="row" *ngIf="files.length == 0">
              <mat-list>
                <mat-list-item> No Images Uploaded </mat-list-item>
              </mat-list>
            </div>
          </div>
        </div>
        <div class="row ptb-10">
          <div class="col-lg-12">
            <mat-checkbox disabled [(ngModel)]="vehicle.active">Active</mat-checkbox>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row ptb-10">
  <div class="col-lg-12">
    <button mat-raised-button color="primary" (click)="edit()">Edit</button>
    <button mat-raised-button color="warn"(click)="closeDialog()">Close</button>
  </div> 
</div>
