<form [formGroup]="fuelForm">
  <fieldset>
    <div class="row">
      <div class="col-lg-12">    
        <nb-card>
          <nb-card-header>Fuel Expenses</nb-card-header>
          <nb-card-body>
            <div class="container">              
              <div class="row ptb-10">
                <div class="col-lg-4 col-12">
                  <mat-form-field>
                    Vehicle Name
                    <input aria-placeholder="Pick one"  name="vname" [formControl]="vehicleNameCtrl" matInput [matAutocomplete]="vehiclenameauto">
                    <mat-autocomplete #vehiclenameauto="matAutocomplete">
                      <mat-option *ngFor="let option of vehicles |async" [value]="option.modelname" (onSelectionChange)="setModelName(option,$event)">
                        {{ option.modelname }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="col-lg-4 col-12">
                  <mat-form-field>
                    Vehicle Number
                    <input aria-placeholder="Pick one"  name="vnum" [formControl]="vehicleNumberCtrl" matInput [matAutocomplete]="vehiclenumberauto">
                    <mat-autocomplete #vehiclenumberauto="matAutocomplete">
                      <mat-option *ngFor="let option of vehiclesnumber |async" [value]="option.number" (onSelectionChange)="setVehicleNumber(option,$event)">
                        {{ option.number }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="col-lg-4 col-12">
                  <mat-form-field>
                    Fuel Type
                    <mat-select matInput formControlName="fuelType">
                      <mat-option value="Petrol">Petrol</mat-option>
                      <mat-option value="Diesel">Diesel</mat-option>
                      <mat-option value="CNG">CNG</mat-option>                      
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>              
              <div class="row ptb-10">
                <div class="col-lg-4 col-12">
                  <mat-form-field>
                    Driver
                    <input type="text" matInput formControlName="driver">
                  </mat-form-field>
                </div>
                <div class="col-lg-4 col-12">
                  <mat-form-field>
                    Current KMS
                    <input type="email" matInput formControlName="currentKMS" [(ngModel)]="currKm" (change)="setMileage(currKm,$event)">                  
                  </mat-form-field>
                </div>
                <div class="col-lg-4 col-12">
                  <mat-form-field>
                    Date
                    <input [matDatepicker]="date" matInput formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                    <mat-datepicker #date></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>              
              <div class="row ptb-10">
                <div class="col-lg-4 col-12">
                  <mat-form-field>
                    Quantity(Fuel)
                    <input type="text" matInput formControlName="quantity" [(ngModel)]="qty" (change)="setQuantity(qty,$event)">
                  </mat-form-field>
                </div>                
                <div class="col-lg-4 col-12">
                  <mat-form-field>
                    Fuel Rate
                    <input type="text" matInput formControlName="fuelRate" [(ngModel)]="rate" (change)="setFuelRate(rate,$event)">
                  </mat-form-field>
                </div>
                <div class="col-lg-4 col-12">
                  <mat-form-field>
                    Fuel Cost
                    <input type="text" matInput formControlName="fuelCost" readonly>
                  </mat-form-field>
                </div>                
              </div>              
              <div class="row ptb-10">
                <div class="col-lg-4 col-12">
                  <mat-form-field>
                    Fuel Station
                    <input type="text" matInput formControlName="fuelStation">
                  </mat-form-field>
                </div>
                <div class="col-lg-4 col-12">
                  <mat-form-field>
                    City
                    <input matInput [formControl]="cityCtrl"  [matAutocomplete]="auto1">
                    <mat-autocomplete #auto1="matAutocomplete">
                      <mat-option *ngFor="let option of cities | async" [value]="option" (onSelectionChange)="citySelect(option,$event)">
                        {{ option }}
                      </mat-option>
                    </mat-autocomplete> 
                    <!-- <mat-select formControlName="city">
                      <mat-option *ngFor=" let element of cities" [value]="element">
                        {{element}}
                      </mat-option>                      
                    </mat-select> -->
                  </mat-form-field>
                </div>
                <div class="col-lg-4 col-12">
                  <mat-form-field>
                    Fuel Receipt No.                  
                    <input type="text" matInput formControlName="fuelReceiptNo" />
                  </mat-form-field>                   
                </div>                              
              </div>
              <div class="row ptb-10">
                <div class="col-lg-4 col-12">
                  <mat-form-field>
                    Mileage
                    <input type="text" matInput formControlName="mileage" readonly>
                  </mat-form-field>             
                </div>
                <div class="col-lg-4 col-12">
                  Fuel Receipt                
                  <button (click)="fuelreceiptPhoto.click()" mat-raised-button color="primary"> <mat-icon>cloud_upload</mat-icon>Browse</button>
                  <input type = "file" accept="image/*" #fuelreceiptPhoto hidden (change)="selectFile($event)"/>
                </div>
                <div class="col-lg-4 col-12" style="margin: auto; text-align:center;">
                  <img alt="" *ngIf="imgUrl!=''" [src]="imgUrl" width="200px" height="200px">
                  <br><button mat-icon-button *ngIf="imgUrl!=''" (click)="removeImage()"><mat-icon>clear</mat-icon></button>
                </div>
              </div>            
            </div>
          </nb-card-body>
        </nb-card>        
      </div>
    </div>
    <div class="row ptb-10">
      <div class="col-lg-12 col-12">          
        <button *ngIf="!editState" [disabled]="fuelForm.invalid" (click)="saveFuel()" mat-raised-button color="primary">Save</button>
        <button *ngIf="editState" (click)="updateFuel()" mat-raised-button color="primary">Update</button>      
        <button mat-raised-button color="warn"(click)="closeDialog()">Close</button>            
      </div>
    </div>
  </fieldset>
</form>