<!-- <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
<button mat-raised-button [disabled]="disable" (click)="Upload()">Upload</button>
<div *ngIf="totalRows>0" style="padding-top:5px;">
  <mat-progress-bar color="primary" mode="determinate" [value]="progressBarValue"></mat-progress-bar>
  <p style="float:right;">{{rowsCompleted}}/{{totalRows}} Completed</p>
</div>
<div *ngIf="invalidData.length>0" style="padding-top:5px;">
  Invalid Data in Rows:
  <ul>
    <li *ngFor="let rows of invalidData">
      {{rows}}
    </li>
  </ul>
</div> -->
