<div>
    <nb-card>
        <nb-card-header>
            Circle Requests
        </nb-card-header>
        <nb-card-body>

            <div align="center">
                <mat-form-field class="filter-field">
                    <input matInput   placeholder="Filter"   [(ngModel)]="searchTerm" (keyup)="search($event.target.value)">
                </mat-form-field>
        
                <button mat-icon-button><mat-icon class="filter-icon">search</mat-icon></button>
                <button mat-icon-button (click)="clear()"><mat-icon class="filter-icon">highlight_off</mat-icon></button>
            </div>

            <mat-table #table [dataSource]="dataSource" matSort>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                 <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                 <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
               </ng-container>
       
               <ng-container matColumnDef="phone">
                 <mat-header-cell *matHeaderCellDef mat-sort-header> Contact Number </mat-header-cell>
                 <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
               </ng-container>
       
               <ng-container matColumnDef="alternatePhone">
                 <mat-header-cell *matHeaderCellDef mat-sort-header> Alternate Number </mat-header-cell>
                 <mat-cell *matCellDef="let element"> {{element.alternatePhone}} </mat-cell>
               </ng-container>
       
               <ng-container matColumnDef="email">
                 <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                 <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
               </ng-container>
       
               <ng-container matColumnDef="headOfficeCity">
                 <mat-header-cell *matHeaderCellDef mat-sort-header> City </mat-header-cell>
                 <mat-cell *matCellDef="let element"> {{element.headOfficeCity}} </mat-cell>
               </ng-container>
       
               <ng-container matColumnDef="state">
                 <mat-header-cell *matHeaderCellDef mat-sort-header> State </mat-header-cell>
                 <mat-cell *matCellDef="let element"> {{element.state}} </mat-cell>
               </ng-container>
       
               <ng-container matColumnDef="Options">
                   <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
                   <mat-cell *matCellDef="let element ;let row">
                        <button mat-icon-button color="primary" (click)="accept(element)"><mat-icon>done</mat-icon></button>
                        <button mat-icon-button color="primary" (click)="decline(element)"><mat-icon>clear</mat-icon></button>
                   </mat-cell>
                 </ng-container>
       
                 <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
               <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
       
             </mat-table>
             <mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"></mat-paginator>

        </nb-card-body>
    </nb-card>
</div>

