<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Employee Profile</nb-card-header>    
      <nb-card-body>
        <div class="row pb-10">
          <div class="col-lg-12 col-12">
            <img class="center" [src]="imgUrl" alt="" height="150px" (click)="open(_albums)">
          </div>
        </div>
        <div class="row ptb-10">
          <div class="col-lg-3 col-12">
            <b>Name: </b>
            <br>
            {{employee.name}}
          </div>
          <div class="col-lg-3 col-12">
            <b>Employee ID</b>
            <br>
            {{employee.employeeId}}
          </div>
          <div class="col-lg-3 col-12">
            <b>Designation</b>
            <br>
            {{employee.designation}}
          </div>
          <div class="col-lg-3 col-12">
            <b>E-Mail</b>
            <br>
            {{employee.email}}
          </div>
        </div>
        <div class="row pb-10">
          <div class="col-lg-3 col-12">
            <b>Mobile Number</b>
            <br>
            {{employee.mobilenumber}}
          </div>
          <div class="col-lg-3 col-12">
            <b>Alternate Number</b>
            <br>
            {{employee.alternateNumber}}
          </div>
          <div class="col-lg-3 col-12">
            <b>Badge Number</b>
            <br>
            {{employee.badgeNumber}}            
          </div>
          <div class="col-lg-3 col-12">            
            <b>Badge ExpiryDate</b>
            <br>
            <p style="margin: auto" *ngIf="employee.badgeExpiry != 'Invalid date' && employee.badgeExpiry != null">{{employee.badgeExpiry | date: 'dd-MM-yyyy'}}</p>
          </div>
        </div>
        <div class="row pb-10">
          <div class="col-lg-3 col-12">            
            <b>Date of Birth</b>
            <br>
            <p style="margin: auto" *ngIf="employee.dateOfBirth != 'Invalid date' && employee.dateOfBirth != null">{{employee.dateOfBirth | date: 'dd-MM-yyyy'}}</p>
          </div>
          <div class="col-lg-3 col-12">            
            <b>Marriage Date</b>
            <br>
            <p style="margin: auto" *ngIf="employee.marriageDate != 'Invalid date' && employee.marriageDate != null">{{employee.marriageDate | date: 'dd-MM-yyyy'}}</p>
          </div>
          <div class="col-lg-3 col-12">            
            <b>Joining Date</b>
            <br>
            <p style="margin: auto" *ngIf="employee.joiningDate != 'Invalid date' && employee.joiningDate != null">{{employee.joiningDate | date: 'dd-MM-yyyy'}}</p>
          </div>
          <div class="col-lg-3 col-12">
            <b>Blood Group</b>
            <br>
            {{employee.bloodGroup}}              
          </div>
        </div>
        <div class="row pb-10">
          <div class="col-lg-3 col-12">
            <b>Father's Name</b>
            <br>
            {{employee.fatherName}}              
          </div>
          <div class="col-lg-3 col-12">            
            <b>Father's Date of Birth</b>
            <br>
            <p style="margin: auto" *ngIf="employee.fatherDateOfBirth != 'Invalid date' && employee.fatherDateOfBirth != null">{{employee.fatherDateOfBirth | date: 'dd-MM-yyyy'}}</p>
          </div>
          <div class="col-lg-3 col-12">
            <b>Mother's Name</b>
            <br>
            {{employee.motherName}}              
          </div>
          <div class="col-lg-3 col-12">            
            <b>Mother's Date of Birth</b>
            <br>
            <p style="margin: auto" *ngIf="employee.mothersDateOfBirth != 'Invalid date' && employee.mothersDateOfBirth != null">{{employee.mothersDateOfBirth | date: 'dd-MM-yyyy'}}</p>
          </div>
        </div>
        <div class="row pb-10">
          <div class="col-lg-6 col-12">            
            <b>Permanant Address</b>
            <br>
            {{employee.currentAddress}}              
          </div>
          <div class="col-lg-6 col-12">            
            <b>Current Address</b>
            <br>
            {{employee.currentAddress}}              
          </div>
        </div>        
        <div class="row pb-10">
          <div class="col-lg-3 col-12">
            <b>Pan Number</b>
            <br>
            {{employee.panNumber}}            
          </div>
          <div class="col-lg-3 col-12">
            <b>Aadhar Number</b>
            <br>
            {{employee.aadharNumber}}
          </div>        
          <div class="col-lg-3 col-12">
            <b>DL Number</b>
            <br>
            {{employee.dlNumber}}              
          </div>
          <div class="col-lg-3 col-12">            
            <b>DL ExpiryDate</b>
            <br>
            <p style="margin: auto" *ngIf="employee.dlExpiry != 'Invalid date' && employee.dlExpiry != null">{{employee.dlExpiry | date: 'dd-MM-yyyy'}}</p>
          </div>
        </div>
        <div class="row pb-10">        
          <div class="col-lg-3 col-12">
            <b>PF Number</b>
            <br>
            {{employee.pfAcNumber}}
          </div>        
          <div class="col-lg-3 col-12">
            <b>ESI</b>
            <br>
            {{employee.esi}}
          </div>
          <div class="col-lg-3 col-12">
            <b>UAN Number</b>
            <br>
            {{employee.uanNumber}}              
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-12">
            <h5>License</h5>
            <div class="row">
              <div class="col-lg-3 col-12">
                <b>Issued By</b>
                <br>
                {{employee.licenseIssuedBy}}
              </div>
              <div class="col-lg-3 col-12">
                <b>City</b>
                <br>
                {{employee.licenseCity}}
              </div>            
              <div class="col-lg-3 col-12">
                <b>State</b>
                <br>
                {{employee.licenseState}}
              </div>
              <div class="col-lg-3 col-12">            
                <b>Date</b>
                <br>
                <p style="margin: auto" *ngIf="employee.licenseDate != 'Invalid date' && employee.licenseDate != null">{{employee.licenseDate | date: 'dd-MM-yyyy'}}</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-12">
            <h5>Police</h5>
            <div class="row">
              <div class="col-lg-3 col-12">
                <b>Display Card Number</b>
                <br>
                {{employee.policeDisplayCardNumber}}
              </div>
              <div class="col-lg-3 col-12">
                <b>Display Card Expiry</b>
                <br>
                <p style="margin: auto" *ngIf="employee.policeDisplayCardExpiry != 'Invalid date' && employee.policeDisplayCardExpiry != null">{{employee.policeDisplayCardExpiry | date: 'dd-MM-yyyy'}}</p>
              </div>            
              <div class="col-lg-3 col-12">
                <b>Verification Number</b>
                <br>
                {{employee.policeVerificationNumber}}
              </div>
              <div class="col-lg-3 col-12">
                <b>Verification ExpiryDate</b>
                <br>
                <p style="margin: auto" *ngIf="employee.policeVerificationExpiryDate != 'Invalid date' && employee.policeVerificationExpiryDate != null">{{employee.policeVerificationExpiryDate | date: 'dd-MM-yyyy'}}</p>
              </div>
            </div>
          </div>          
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-12">
            <h5>Bank</h5>          
            <div class="row">
              <div class="col-lg-3 col-12">
                <b>Display Card Number</b>
                <br>
                {{employee.bankDisplayCardNumber}}
              </div>
              <div class="col-lg-3 col-12">
                <b>Account Number</b>
                <br>
                {{employee.bankAccountNumber}}              
              </div>            
              <div class="col-lg-3 col-12">
                <b>IFSC Code</b>
                <br>
                {{employee.bankIfscCode}}              
              </div>
              <div class="col-lg-3 col-12">
                <b>ESI Dispensary Code</b>
                <br>
                {{employee.esiDispensaryCode}}
              </div>
            </div>
          </div>          
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-12">
            <div class="row">            
              <div class="col-lg-6 col-12">
                <b>Branch</b>
                <br>
                {{employee.branches}}
              </div>
            </div>
          </div>          
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-12">
            <h5>Visible Customers</h5>
            <div class="row" *ngFor="let element of visibleCustomers">
              <div class="col-lg-12 col-12">
                <mat-list>
                  <mat-list-item> {{element.cname}} </mat-list-item>
                </mat-list>
              </div>              
            </div>
            <div class="row" *ngIf="visibleCustomers.length == 0">
              <mat-list>
                <mat-list-item> All </mat-list-item>                  
              </mat-list>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-12">
            <h5>Documents</h5>
            <div class="row" *ngIf="aadharImgUrl != ''">
              <div class="col-lg-3 col-12">
                <mat-list>
                  <mat-list-item> <a target="_blank" href="{{imgAadhar}}">Aadhar Card</a> </mat-list-item>
                </mat-list>
              </div>
              <div class="col-lg-9 col-12">
                <img *ngIf="aadharImgUrl!=null" [src]="aadharImgUrl" alt="" height="150px" (click)="open(_aadharAlbums)">
                <mat-list *ngIf="aadharImgUrl == null">
                  <mat-list-item> No Image Uploaded </mat-list-item>
                </mat-list>                
              </div>
            </div>
            <div class="row" *ngIf="panImgUrl != ''">
              <div class="col-lg-3 col-12">
                <mat-list>
                  <mat-list-item> <a target="_blank" href="{{imgPan}}">PAN Card</a> </mat-list-item>
                </mat-list>
              </div>
              <div class="col-lg-9 col-12">
                <img *ngIf="panImgUrl!=null" [src]="panImgUrl" alt="" height="150px" (click)="open(_panAlbums)">
                <mat-list *ngIf="panImgUrl == null">
                  <mat-list-item> No Image Uploaded </mat-list-item>
                </mat-list>
              </div>
            </div>
            <div class="row" *ngIf="aadharImgUrl == '' && panImgUrl == ''">
              <mat-list>
                <mat-list-item> No Images Uploaded </mat-list-item>
              </mat-list>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row ptb-10">
  <div class="col-lg-12">
    <button mat-raised-button color="primary" (click)="edit()">Edit</button>
    <button mat-raised-button color="warn"(click)="closeDialog()">Close</button>
  </div> 
</div>
