table{
    width:100%;
}

.cardheight{
    height: 95%;
}

.permitCard{
    height: 92%;
}

td{
    word-wrap: break-word;
}

.mat-icon-button .mat-icon, .mat-icon-button i {
    line-height: 4rem !important;
}

.material-icons {
    line-height: 1.3 !important;
}