<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>My Requests</nb-card-header>
      <nb-card-body>
        <mat-tab-group mat-stretch-tabs>
          <mat-tab label="Received">
            <div align="center">
        
              <mat-form-field class="filter-field">
                <input matInput  placeholder="Filter"  [(ngModel)]="searchTermReceived" (keyup)="searchReceived($event.target.value)">
              </mat-form-field>

              <!-- <mat-form-field class="filter-date">
                <input matInput [(ngModel)]="filterReceivedStart" [matDatepicker]="pickerReceivedStart" (click)="pickerReceivedStart.open()" readonly placeholder="From">
                <mat-datepicker-toggle matSuffix [for]="pickerReceivedStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerReceivedStart></mat-datepicker>
              </mat-form-field>            
                      
              <mat-form-field class="filter-date">
                <input matInput [(ngModel)]="filterReceivedEnd" [matDatepicker]="pickerReceivedEnd" (click)="pickerReceivedEnd.open()" readonly placeholder="To">
                <mat-datepicker-toggle matSuffix [for]="pickerReceivedEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerReceivedEnd></mat-datepicker>
              </mat-form-field> -->
            
              <button mat-icon-button><mat-icon class="filter-icon">search</mat-icon></button>                                                              
              <button matTooltip="Clear All" mat-icon-button (click)="clearFilter()"><mat-icon class="filter-icon">highlight_off</mat-icon></button>              

            </div>
                    
            <mat-table [dataSource]="dataSourceReceived" #sort1='matSort' matSort>
      
              <!-- Date Column -->
              <ng-container matColumnDef="startDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Date</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.startDate | date: 'dd-MM-yyyy'}} </mat-cell>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="cname">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Customer </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.ownerName}} </mat-cell>
              </ng-container>
      
              <!-- Booked By Column -->
              <ng-container matColumnDef="bookBy">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Booked by </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.bookBy}} </mat-cell>
              </ng-container>
      
              <!-- Symbol Column -->
              <ng-container matColumnDef="passenger">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Passenger</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.passenger}} </mat-cell>                
              </ng-container>
      
              <!-- Symbol Column -->
              <ng-container matColumnDef="driver">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Driver </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.driver}} </mat-cell>                
              </ng-container>
      
              <!-- Symbol Column -->
              <ng-container matColumnDef="vehicleGroup">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle Group</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.vehicleGroup}} </mat-cell>                
              </ng-container>
      
              <!-- Symbol Column -->
              <ng-container matColumnDef="dutyType">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Duty Type</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dutyType}} </mat-cell>                
              </ng-container>
      
              <!-- Symbol Column -->
              <ng-container matColumnDef="reportingAddress">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Reporting Address</mat-header-cell>
                <mat-cell *matCellDef="let element" [matTooltip]="element.reportingAddress"> {{element.shortReportingAddress}} </mat-cell>                
              </ng-container>  
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="dropAddress">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Drop Address</mat-header-cell>
                <mat-cell *matCellDef="let element" [matTooltip]="element.dropAddress"> {{element.dropAddress}} </mat-cell>                
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="reportingTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Reporting Time</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.reportingTime}} </mat-cell>                      
              </ng-container>
                  
              <!-- Symbol Column -->
              <ng-container matColumnDef="remarks">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Remarks</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.remarks}} </mat-cell>                
              </ng-container>
        
              <!-- Symbol Column -->
              <!-- <ng-container matColumnDef="requestsFrom">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Requests From</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <mat-chip-list>
                    <mat-chip color="primary" selected="true">{{element.requestsFrom}}</mat-chip>
                  </mat-chip-list> 
                </mat-cell>                
              </ng-container> -->
  
              <ng-container matColumnDef="Options">
                <mat-header-cell *matHeaderCellDef> Options</mat-header-cell>
                <mat-cell style="vertical-align: middle" *matCellDef="let element ;let row">
                  <button *ngIf="element.requestStatus=='Requested'" mat-icon-button color="primary" (click)="acceptRequest(row)">Accept</button>
                  <button style="padding-left:5px" *ngIf="element.requestStatus=='Requested'"  mat-icon-button color="warn" (click)="declineRequest(row)">Decline</button>
                  <div *ngIf="element.requestStatus=='Accepted'"><mat-icon [matTooltip]="element.log">done</mat-icon></div>
                  <div *ngIf="element.requestStatus=='Declined'"><mat-icon [matTooltip]="element.log">clear</mat-icon></div>
                </mat-cell>
              </ng-container>
        
              <mat-header-row *matHeaderRowDef="displayedColumnsReceived"></mat-header-row>
              <mat-row [ngStyle]="{'background-color':(row.startDate===today)?'#e0e0e0':'white'}" *matRowDef="let row; columns: displayedColumnsReceived;"></mat-row>
            </mat-table>
            <mat-paginator #paginator1 [length]="lengthReceived"
              [pageSize]="pageSizeReceived"
              [pageSizeOptions]="pageSizeOptionsReceived"></mat-paginator>
          </mat-tab>
          <mat-tab label="Sent">
            <div align="center">
  
              <mat-form-field class="filter-field">
                <input matInput  placeholder="Filter"  [(ngModel)]="searchTermSent" (keyup)="searchSent($event.target.value)">
              </mat-form-field>

              <!-- <mat-form-field class="filter-date">
                <input matInput [(ngModel)]="filterSentStart" [matDatepicker]="pickerSentStart" (click)="pickerSentStart.open()" readonly placeholder="From">
                <mat-datepicker-toggle matSuffix [for]="pickerSentStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerSentStart></mat-datepicker>
              </mat-form-field>            
                      
              <mat-form-field class="filter-date">
                <input matInput [(ngModel)]="filterSentEnd" [matDatepicker]="pickerSentEnd" (click)="pickerSentEnd.open()" readonly placeholder="To">
                <mat-datepicker-toggle matSuffix [for]="pickerSentEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerSentEnd></mat-datepicker>
              </mat-form-field> -->
            
              <button mat-icon-button><mat-icon class="filter-icon">search</mat-icon></button>                                                              
              <button matTooltip="Clear All" mat-icon-button (click)="clearFilter()"><mat-icon class="filter-icon">highlight_off</mat-icon></button>

            </div>
              
            <mat-table [dataSource]="dataSourceSent" #sort2='matSort' matSort>

                <!-- Date Column -->
              <ng-container matColumnDef="supplierName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Supplier Name</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.supplierName}} </mat-cell>
              </ng-container>
      
                <!-- Date Column -->
              <ng-container matColumnDef="startDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Date</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.startDate | date: 'dd-MM-yyyy'}} </mat-cell>
              </ng-container>
              
                <!-- Name Column -->
              <ng-container matColumnDef="cname">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Customer </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.cname}} </mat-cell>
              </ng-container>
      
              <!-- Booked By Column -->
              <ng-container matColumnDef="bookBy">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Booked by </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.bookBy}} </mat-cell>
              </ng-container>
      
              <!-- Symbol Column -->
              <ng-container matColumnDef="passenger">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Passenger</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.passenger}} </mat-cell>                
              </ng-container>
      
              <!-- Symbol Column -->
              <ng-container matColumnDef="driver">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Driver </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.driver}} </mat-cell>                
              </ng-container>
      
              <!-- Symbol Column -->
              <ng-container matColumnDef="vehicleGroup">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle Group</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.vehicleGroup}} </mat-cell>                
              </ng-container>
      
              <!-- Symbol Column -->
              <ng-container matColumnDef="dutyType">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Duty Type</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dutyType}} </mat-cell>                
              </ng-container>
      
              <!-- Symbol Column -->
              <ng-container matColumnDef="reportingAddress">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Reporting Address</mat-header-cell>
                <mat-cell *matCellDef="let element" [matTooltip]="element.reportingAddress"> {{element.shortReportingAddress}} </mat-cell>                
              </ng-container>  
      
              <!-- Symbol Column -->
              <ng-container matColumnDef="dropAddress">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Drop Address</mat-header-cell>
                <mat-cell *matCellDef="let element" [matTooltip]="element.dropAddress"> {{element.dropAddress}} </mat-cell>                
              </ng-container>
      
              <!-- Symbol Column -->
              <ng-container matColumnDef="reportingTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Reporting Time</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.reportingTime}} </mat-cell>                
              </ng-container>
                
              <!-- Symbol Column -->
              <ng-container matColumnDef="remarks">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Remarks</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.remarks}} </mat-cell>                
              </ng-container>
      
              <!-- Symbol Column -->
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <mat-chip-list>
                    <mat-chip color="primary" selected="true">{{element.status}}</mat-chip>
                  </mat-chip-list> 
                </mat-cell>                    
              </ng-container>
      
              <ng-container matColumnDef="Options">
                <mat-header-cell *matHeaderCellDef> Options</mat-header-cell>
                <mat-cell style="vertical-align: middle" *matCellDef="let element ;let row">

                </mat-cell>
              </ng-container>
      
              <mat-header-row *matHeaderRowDef="displayedColumnsSent"></mat-header-row>
              <mat-row [ngStyle]="{'background-color':(row.startDate===today)?'#e0e0e0':'white'}" *matRowDef="let row; columns: displayedColumnsSent;"></mat-row>

            </mat-table>
            <mat-paginator #paginator2 [length]="lengthSent"
              [pageSize]="pageSizeSent"
              [pageSizeOptions]="pageSizeOptionsSent"></mat-paginator>
          </mat-tab>
        </mat-tab-group>
      </nb-card-body>
    </nb-card>
  </div>
</div>