<form [formGroup]="myForm">

  <div formArrayName="files">

      <div *ngFor="let files of fileForms.controls; let i=index" [formGroupName]="i">


          <mat-form-field class="xs" style="padding-right: 20px">
              <input matInput placeholder="Name" formControlName="name">
          </mat-form-field>

          <button (click)="bookingImages.click()" mat-flat-button matTooltip="Upload">Browse</button>
          <input hidden type="file" formControlName="images" #bookingImages (change)="imageSelect($event,i)">
          <i *ngIf="selectedFiles[i]!=undefined" style="font-size: 11px;">{{selectedFiles[i].name}}</i>

          <button mat-icon-button color="warn" (click)="deleteRow()"><mat-icon>clear</mat-icon></button>

      </div>

  </div>

  <button mat-raised-button color="primary" (click)="addRow()">Add File</button>

  <button mat-raised-button color="primary" (click)="uploadFinal()">Upload</button>

</form>